﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | Contact Us";
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Give us Your <strong>Feedback</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    @*<div class="inner-heading">
                        @using (Html.BeginForm("Index", "Tutorial", FormMethod.Post))
                        {
                            @Html.TextBoxFor(m => m.stringSearch, new { Style = "margin-bottom:0; width:704px", @class = "span8", @placeholder = "search keyword..." })
                            <button type="submit" class="btn btn-medium icon-search"></button>
                        }
                    </div>*@
                    @foreach (var feedback in Model.listFeedback)
                    {
                        <article style="margin-bottom: 0px">
                            <div class="row" style="margin-bottom: 0px">
                                <div class="span8">
                                    <div class="post-heading">
                                        <h4 style="margin-bottom: 0px"><a href="#">@(feedback.Topic.Substring(0, (feedback.Topic.Length > 43 ? 43 : feedback.Topic.Length)) + (feedback.Topic.Length > 43 ? "..." : ""))</a></h4>
                                    </div>
                                    <p>@feedback.PostBy - @feedback.PostDate.ToString("dd MMM yyyy")</p>
                                    <div class="post-heading">
                                        <p style="margin-top: 20px">@(feedback.Feedback.Substring(0, (feedback.Feedback.Length > 100 ? 100 : feedback.Feedback.Length)) + (feedback.Feedback.Length > 100 ? "..." : ""))</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0px">
                                <div class="span8">
                                    <div class="solidline">
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                    <div id="pagination">
                        @if (Model.toFirst)
                        {
                            <a href="/User/Index/?Page=1" class="inactive"><<</a>
                        }

                        @for (int i = Model.startPage; i <= Model.endPage; i++)
                        {
                            if (i == Model.currentPage)
                            {
                            <span class="current">@i</span>
                            }
                            else
                            {
                            <a href="/User/Index/?Page=@i" class="inactive">@i</a>
                            }
                        }

                        @if (Model.toLast)
                        {
                            <a href="/User/Index/?Page=@Model.totalPages" class="inactive">>></a>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span8">
                    <div class="solid4line">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span8 form-group">
                    <h2 class="text-center">Submit New Feedback </h2>
                </div>
                <div class="span8">
                    @using (Html.BeginForm("SubmitFeedback", "ContactUs", FormMethod.Post, new { @class = "comment-form", @enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="span8 form-group">
                                @Html.TextBoxFor(model => model.contactUs.Topic, new { @class = "form-control span8", @placeholder = "*Topic (max 100 characters)", @maxlength = 100})
                                @Html.ValidationMessageFor(model => model.contactUs.Topic, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span8 margintop10 form-group">
                                @Html.TextAreaFor(model => model.contactUs.Feedback, new { @class = "form-control span8", @placeholder = "*Feedback (max 512 characters)", @maxlength = 512, @style = "resize:none", @rows = 3 })
                                @Html.ValidationMessageFor(model => model.contactUs.Feedback, "", new { @style = "color: #a94442;" })
                                <p class="text-center">
                                    <button class="btn btn-large btn-theme margintop10" type="submit">Submit Feedback</button>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>