﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* Render Bootstrap *@
    @Styles.Render("~/Design/assets/css")
    @Styles.Render("~/Design/assets/skins")

    @Scripts.Render("~/Design/assets/js")
    @Scripts.Render("~/Design/assets/js-custom")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    @Html.Action("TopMenuBar", "Shared")
    @Html.Action("MenuBar", "Shared")
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="inner-heading">
                            <h2>My Account</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    @Html.Action("SideBar", "MyAccount")
                    @RenderBody()
                </div>
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @Html.Action("Footer", "Shared")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
    
    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });
</script>