﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="applicant-tab">
        <ul class="nav nav-pills span9">
            <li id="applicant-personal-link"><a href="/MyAccount/ApplicantPersonal" onclick="return btnCancel_Call();">Personal</a></li>
            <li id="applicant-family-link"><a href="/MyAccount/ApplicantFamily" onclick="return btnCancel_Call();">Family</a></li>
            <li class="active" id="applicant-academy-link"><a href="/MyAccount/ApplicantAcademy" onclick="return btnCancel_Call();">Formal Education</a></li>
            <li id="applicant-academy-nonformal-link"><a href="/MyAccount/ApplicantAcademy_NonFormal" onclick="return btnCancel_Call();">Non-Formal Education</a></li>
            <li id="applicant-experiences-link"><a href="/MyAccount/ApplicantExperience" onclick="return btnCancel_Call();">Experiences</a></li>
            <li id="applicant-skills-link"><a href="/MyAccount/ApplicantSkills" onclick="return btnCancel_Call();">Skills</a></li>
            <li id="applicant-document-link"><a href="/MyAccount/ApplicantDocument" onclick="return btnCancel_Call();">Upload</a></li>
        </ul>
    </div>
    <div class="row" id="applicant-academy">
        <div class="span6 add-control">
            <a class="btn" href="#" id="btnAdd"><i class="icon-plus-sign"></i>Add</a>
        </div>
        @if (Model.recruitmentAcademy.Count() > 0)
        {
            foreach (var academy in Model.recruitmentAcademy)
            {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span1 form-group" style="margin-top:5px;">
                    <label>@academy.StudyFrom - @(academy.StudyTo != null ? academy.StudyTo : "...")</label>
                </div>
                <div class="span7 form-group">
                    <h6 class="no-margin">@academy.Institute | @academy.LocationName</h6>
                    <span>@academy.QualificationDescription in @academy.MajorDescription</span>
                </div>
                <div class="span1 form-group no-margin">
                    <a href="#" onclick="btnEdit_Click('@academy.AcademyId');"><i class="icon-edit icon-circled icon-32 btn-green"></i></a>
                    <a href="#" onclick="btnDelete_Click('@academy.AcademyId');"><i class="icon-remove icon-circled icon-32 btn-red"></i></a>
                </div>
            </div>
            }
        }
        else
        {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span6 form-group">
                    <h6 class="no-margin">Add at least one or more your academy background</h6>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("SaveChanges_ApplicantAcademy", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formAcademy" }))
    {
        <div class="row" id="applicant-academy-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Institute * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Academy_Institute, new { @id = "Institute", @class = "form-control span4" })
                    @Html.HiddenFor(model => model.Academy_Id, new { @id = "Academy_Id" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Academy_Institute, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Study * :
                </div>
                <div class="span2 form-group">
                    @Html.DropDownListFor(model => model.Academy_StudyFrom, ViewBag.ListYear as SelectList, "From", new { @id = "StudyFrom", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.DropDownListFor(model => model.Academy_StudyTo, ViewBag.ListYear as SelectList, "To", new { @id = "StudyTo", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Academy_StudyFrom, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Qualification * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Academy_Qualification, ViewBag.ListQualification as SelectList, "Qualification", new { @id = "Qualification", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Academy_Qualification, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Field of Study * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Academy_Major, ViewBag.ListFOS as SelectList, "Field of Study", new { @id = "Major", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Academy_Major, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Location * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Academy_Location, ViewBag.ListCountry as SelectList, "Location", new { @id = "Location", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Academy_Location, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Certificate :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Academy_CertificateFileName, new { @id = "CertificateFileName", @class = "form-control span4", @readonly = "readonly", @placeholder = "Certificate File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Academy_CertificateFilePath, new { @id = "CertificateFilePath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFile", null, new { @id = "cmdBrowse", @onchange = "setFileName()", @type = "file", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#applicant-link').addClass('active');

        $('#btnAdd').click(function (e) {
            document.getElementById("formAcademy").reset();
            document.getElementById('Academy_Id').value = "";

            var $academyForm = $('#formAcademy'),
            academyOrigForm = $academyForm.serialize();

            $('#formAcademy :input').on('change input', function () {
                if ($academyForm.serialize() !== academyOrigForm) {
                    $("#formAcademy").data("changed", true);
                } else {
                    $("#formAcademy").data("changed", false);
                }
            });

            $("#applicant-academy").fadeOut(100);
            $("#applicant-academy-form").delay(100).fadeIn(100);

            e.preventDefault();
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formAcademy").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formAcademy").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#applicant-academy").delay(100).fadeIn(100);
            $("#applicant-academy-form").fadeOut(100);

            $("#formAcademy").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formAcademy").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formAcademy").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function btnEdit_Click(id) {
        var getParams = {
            "AcademyId": id
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/ApplicantAcademy_Edit',
            context: document.body,
            data: getParams,
            success: function (result) {
                console.log(result.Status);

                document.getElementById('Academy_Id').value = result.recruitmentAcademy.Id;
                document.getElementById('Institute').value = result.recruitmentAcademy.Institute;
                document.getElementById('Location').value = result.recruitmentAcademy.Location;
                document.getElementById('StudyFrom').value = result.recruitmentAcademy.StudyFrom;
                document.getElementById('StudyTo').value = result.recruitmentAcademy.StudyTo;
                document.getElementById('Qualification').value = result.recruitmentAcademy.Qualification;
                document.getElementById('Major').value = result.recruitmentAcademy.Major;
                document.getElementById('CertificateFileName').value = result.recruitmentAcademy.CertificateFileName;

                var $academyForm = $('#formAcademy'),
                academyOrigForm = $academyForm.serialize();

                $('#formAcademy :input').on('change input', function () {
                    if ($academyForm.serialize() !== academyOrigForm) {
                        $("#formAcademy").data("changed", true);
                    } else {
                        $("#formAcademy").data("changed", false);
                    }
                });

                $("#applicant-academy").fadeOut(100);
                $("#applicant-academy-form").delay(100).fadeIn(100); 
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function btnDelete_Click(id) {
        if (confirm("Are you sure you want to delete this data?")) {
            var getParams = {
                "AcademyId": id
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/MyAccount/ApplicantAcademy_Delete',
                context: document.body,
                data: getParams,
                success: function (result) {
                    console.log(result.Status);

                    $.notify({
                        // options
                        message: result.Message
                    }, {
                        // settings
                        type: 'success'
                    });
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });

            window.location.href = "/MyAccount/ApplicantAcademy"
        }
    }

    function setFileName() {
        var file = $("#cmdBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#CertificateFileName").val(file.substring(lastindex, len));
        $("#CertificateFilePath").val($("#cmdBrowse").val());
    }
</script>
