﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="applicant-tab">
        <ul class="nav nav-pills span9">
            <li class="active" id="applicant-personal-link"><a href="/MyAccount/ApplicantPersonal" onclick="return btnCancel_Call();">Personal</a></li>
            <li id="applicant-family-link"><a href="/MyAccount/ApplicantFamily" onclick="return btnCancel_Call();">Family</a></li>
            <li id="applicant-academy-link"><a href="/MyAccount/ApplicantAcademy" onclick="return btnCancel_Call();">Formal Education</a></li>
            <li id="applicant-academy-nonformal-link"><a href="/MyAccount/ApplicantAcademy_NonFormal" onclick="return btnCancel_Call();">Non-Formal Education</a></li>
            <li id="applicant-experiences-link"><a href="/MyAccount/ApplicantExperience" onclick="return btnCancel_Call();">Experiences</a></li>
            <li id="applicant-skills-link"><a href="/MyAccount/ApplicantSkills" onclick="return btnCancel_Call();">Skills</a></li>
            <li id="applicant-document-link"><a href="/MyAccount/ApplicantDocument" onclick="return btnCancel_Call();">Upload</a></li>
        </ul>
    </div>
    <div class="row" id="applicant-personal">
        <div class="span2 form-group">
            @Html.Label("lblName", "Name")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblNameValue", Model.Personal_Name != null ? Model.Personal_Name : Model.Username)
        </div>
        <div class="span2 form-group">
            @Html.Label("lblBirthDate", "Date of Birth")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblBirthDateValue", Model.Personal_BirthDate != null ? Model.Personal_BirthDate.ToString("dd MMM yyyy") : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblGender", "Gender")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblGenderValue", Model.Personal_Gender != null ? (Model.Personal_Gender == "M" ? "Male" : "Female") : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblPhone", "Phone")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblPhoneValue", Model.Personal_Phone != null ? Model.Personal_Phone : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblEmail", "Email")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblEmailValue", Model.Personal_Email != null ? Model.Personal_Email : Model.Email)
        </div>
        <div class="span2 form-group">
            @Html.Label("lblAddress", "Address")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblAddressValue", Model.Personal_Address != null ? Model.Personal_Address + ", " + Model.Personal_CityName + ", " + Model.Personal_CountryName + ", " + Model.Personal_PostalCode : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblNationality", "Nationality")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblNationalityValue", Model.Personal_Nationality != null ? Model.Personal_NationalityName : "-")
        </div>
        <div class="span2 widget" style="margin-top: 30px">
            <a class="btn widget-btn" href="#" id="btnEdit">Edit Data</a>
        </div>
    </div>
    @using (Html.BeginForm("SaveChanges_ApplicantPersonal", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formPersonal" }))
    {
        <div class="row" id="applicant-personal-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Name * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Personal_Name, new { @id = "Name", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Personal_Name, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Birth Date * :
                </div>
                <div class="span3 form-group">
                    @Html.TextBoxFor(model => model.Personal_BirthDate, new { @id = "BirthDate", @class = "form-control span3", @placeholder = "mm / dd / yyyy", @readonly = "readonly" })
                </div>
                <div class="span1 form-group vertical-align-text-40 text-right">
                    <span class="i-calendar-birthdate"><i class="icon-calendar icons-example"></i></span>&nbsp
                                    <span class="i-clear-birthdate"><i class="icon-remove icons-example"></i></span>
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Personal_BirthDate, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Gender * :
                </div>
                <div class="span2 form-group">
                    <h6>@Html.RadioButtonFor(model => model.Personal_Gender, "M", new { @class = "form-control" }) Male</h6>
                </div>
                <div class="span2 form-group">
                    <h6>@Html.RadioButtonFor(model => model.Personal_Gender, "F", new { @class = "form-control" }) Female</h6>
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Phone * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Personal_Phone, new { @id = "Phone", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Personal_Phone, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Email * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Personal_Email, new { @id = "Email", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Personal_Email, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Address * :
                </div>
                <div class="span4 form-group">
                    @Html.TextAreaFor(model => model.Personal_Address, new { @id = "Address", @class = "form-control span4", @rows = 4, @style = "resize:none" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Personal_Address, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Country * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Personal_Country, ViewBag.ListCountry as SelectList, "Country", new { @id = "Country", @class = "form-control resize-dropdown", @onchange = "CountryChange()" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Personal_Country, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    City * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Personal_City, ViewBag.ListCity as SelectList, "City / State", new { @id = "City", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Personal_City, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Postal Code * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Personal_PostalCode, new { @id = "PostalCode", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Personal_PostalCode, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Nationality * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Personal_Nationality, ViewBag.ListCountry as SelectList, "Nationality", new { @id = "Nationality", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Personal_Nationality, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save Changes</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#applicant-link').addClass('active');

        var $personalForm = $('#formPersonal'),
        personalOrigForm = $personalForm.serialize();

        $('#formPersonal :input').on('change input', function () {
            if ($personalForm.serialize() !== personalOrigForm) {
                $("#formPersonal").data("changed", true);
            } else {
                $("#formPersonal").data("changed", false);
            }
        });

        $("#BirthDate").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:-18",
            maxDate: 0,
            onClose: function (selectedDate) {
                $("#BirthDate").attr("value", selectedDate.toString());
            }
        });

        $('.i-calendar-birthdate').click(function () {
            $("#BirthDate").focus();
        });

        $('.i-clear-birthdate').click(function () {
            document.getElementById('BirthDate').value = "";
        });

        $('#btnEdit').click(function (e) {
            $("#applicant-personal").fadeOut(100);
            $("#applicant-personal-form").delay(100).fadeIn(100);

            e.preventDefault();
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formPersonal").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formPersonal").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#applicant-personal").delay(100).fadeIn(100);
            $("#applicant-personal-form").fadeOut(100);

            $("#formPersonal").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formPersonal").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formPersonal").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function isNumber(e) {
        e = (e) ? e : window.event;
        var charCode = (e.which) ? e.which : e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function CountryChange() {
        var Country = document.getElementById('Country').value;
        var getParams = {
            "Country": Country
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/ChangeListCity',
            context: document.body,
            data: getParams,
            success: function (result) {
                var appenddata = "<option value = ''>City / State</option>";;
                $.each(result.listDropdownData, function (key, value) {
                    appenddata += "<option value = '" + value.stringValue + " '>" + value.Text + " </option>";
                });
                $('#City').html(appenddata);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }
</script>
