﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="vendor-tab">
        <ul class="nav nav-pills span9">
            <li id="applicant-personal-link"><a href="/MyAccount/ApplicantPersonal" onclick="return btnCancel_Call();">Personal</a></li>
            <li id="applicant-family-link"><a href="/MyAccount/ApplicantFamily" onclick="return btnCancel_Call();">Family</a></li>
            <li id="applicant-academy-link"><a href="/MyAccount/ApplicantAcademy" onclick="return btnCancel_Call();">Formal Education</a></li>
            <li id="applicant-academy-nonformal-link"><a href="/MyAccount/ApplicantAcademy_NonFormal" onclick="return btnCancel_Call();">Non-Formal Education</a></li>
            <li id="applicant-experiences-link"><a href="/MyAccount/ApplicantExperience" onclick="return btnCancel_Call();">Experiences</a></li>
            <li id="applicant-skills-link"><a href="/MyAccount/ApplicantSkills" onclick="return btnCancel_Call();">Skills</a></li>
            <li class="active" id="applicant-document-link"><a href="/MyAccount/ApplicantDocument" onclick="return btnCancel_Call();">Upload</a></li>
        </ul>
    </div>
    <div class="row" id="applicant-document">
        <div class="span6 add-control">
            <a class="btn" href="#" id="btnAdd"><i class="icon-plus-sign"></i>Add</a>
        </div>
        @if (Model.recruitmentDocument.Count() > 0)
        {
            foreach (var document in Model.recruitmentDocument)
            {            
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span8 form-group">
                    <h6 class="no-margin">@document.Description | @document.FileName</h6>
                    <span class="no-margin">Additional Notes : @(document.Notes != null ? document.Notes : "-")</span>
                </div>
                <div class="span1 form-group no-margin">
                    <a href="#" onclick="btnEdit_Click('@document.DocumentId');"><i class="icon-edit icon-circled icon-32 btn-green"></i></a>
                    <a href="#" onclick="btnDelete_Click('@document.DocumentId');"><i class="icon-remove icon-circled icon-32 btn-red"></i></a>
                </div>
            </div>
            }
        }
        else
        {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span6 form-group">
                    <h6 class="no-margin">Upload document for additional information</h6>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("SaveChanges_ApplicantDocument", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formDocument" }))
    {
        <div class="row" id="applicant-document-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Description * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Recruitment_Document_Description, new { @id = "Description", @class = "form-control span4" })
                    @Html.HiddenFor(model => model.Recruitment_Document_Id, new { @id = "Document_Id" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Recruitment_Document_Description, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    File Name * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Recruitment_Document_FileName, new { @id = "FileName", @class = "form-control span4", @readonly = "readonly", @placeholder = "File Name (max file size 2mb)" })
                    @Html.HiddenFor(model => model.Recruitment_Document_FilePath, new { @id = "FilePath" })
                </div>
                <div class="span1 form-group btn btn-primary">
                    Browse
                    @Html.TextBox("uploadFile", null, new { @id = "cmdBrowse", @onchange = "setFileName()", @type = "file", @style = "width:85px;margin-top: -24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Recruitment_Document_FileName, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Notes :
                </div>
                <div class="span4 form-group">
                    @Html.TextAreaFor(model => model.Recruitment_Document_Notes, new { @id = "Notes", @class = "form-control", @rows = 5, @style = "resize:none" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#applicant-link').addClass('active');

        $('#btnAdd').click(function (e) {
            document.getElementById("formDocument").reset();
            document.getElementById('Document_Id').value = "";

            var $documentForm = $('#formDocument'),
            documentOrigForm = $documentForm.serialize();

            $('#formDocument :input').on('change input', function () {
                if ($documentForm.serialize() !== documentOrigForm) {
                    $("#formDocument").data("changed", true);
                } else {
                    $("#formDocument").data("changed", false);
                }
            });

            $("#applicant-document").fadeOut(100);
            $("#applicant-document-form").delay(100).fadeIn(100);

            e.preventDefault();
        });


    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formDocument").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formDocument").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#applicant-document").delay(100).fadeIn(100);
            $("#applicant-document-form").fadeOut(100);

            $("#formDocument").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formDocument").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formDocument").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function btnEdit_Click(id) {
        var getParams = {
            "DocumentId": id
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/ApplicantDocument_Edit',
            context: document.body,
            data: getParams,
            success: function (result) {
                console.log(result.Status);
                
                document.getElementById('Document_Id').value = result.recruitmentDocument.Id;
                document.getElementById('Description').value = result.recruitmentDocument.Description;
                document.getElementById('FileName').value = result.recruitmentDocument.FileName;
                document.getElementById('Notes').value = result.recruitmentDocument.Notes;

                var $documentForm = $('#formDocument'),
                documentOrigForm = $documentForm.serialize();

                $('#formDocument :input').on('change input', function () {
                    if ($documentForm.serialize() !== documentOrigForm) {
                        $("#formDocument").data("changed", true);
                    } else {
                        $("#formDocument").data("changed", false);
                    }
                });

                $("#applicant-document").fadeOut(100);
                $("#applicant-document-form").delay(100).fadeIn(100);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function btnDelete_Click(id) {
        if (confirm("Are you sure you want to delete this document?")) {
            var getParams = {
                "DocumentId": id
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/MyAccount/ApplicantDocument_Delete',
                context: document.body,
                data: getParams,
                success: function (result) {
                    console.log(result.Status);

                    $.notify({
                        // options
                        message: result.Message
                    }, {
                        // settings
                        type: 'success'
                    });
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });

            window.location.href = "/MyAccount/ApplicantDocument"
        }
    }

    function setFileName() {
        var file = $("#cmdBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#FileName").val(file.substring(lastindex, len));
        $("#FilePath").val($("#cmdBrowse").val());
    }
</script>
