﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="applicant-tab">
        <ul class="nav nav-pills span9">
            <li id="applicant-personal-link"><a href="/MyAccount/ApplicantPersonal" onclick="return btnCancel_Call();">Personal</a></li>
            <li class="active" id="applicant-family-link"><a href="/MyAccount/ApplicantFamily" onclick="return btnCancel_Call();">Family</a></li>
            <li id="applicant-academy-link"><a href="/MyAccount/ApplicantAcademy" onclick="return btnCancel_Call();">Formal Education</a></li>
            <li id="applicant-academy-nonformal-link"><a href="/MyAccount/ApplicantAcademy_NonFormal" onclick="return btnCancel_Call();">Non-Formal Education</a></li>
            <li id="applicant-experiences-link"><a href="/MyAccount/ApplicantExperience" onclick="return btnCancel_Call();">Experiences</a></li>
            <li id="applicant-skills-link"><a href="/MyAccount/ApplicantSkills" onclick="return btnCancel_Call();">Skills</a></li>
            <li id="applicant-document-link"><a href="/MyAccount/ApplicantDocument" onclick="return btnCancel_Call();">Upload</a></li>
        </ul>
    </div>
    <div class="row" id="applicant-family">
        <div class="span6 add-control">
            <a class="btn" href="#" id="btnAdd"><i class="icon-plus-sign"></i>Add</a>
        </div>
        @if (Model.recruitmentFamily.Count() > 0)
        {
            <table class="span9 table table-striped" id="UserTable">
                <thead>
                    <tr>
                        <th>Family Name
                        </th>
                        <th>Gender
                        </th>
                        <th>Relation
                        </th>
                        <th>Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var family in Model.recruitmentFamily)
                    {
                        <tr>
                            <td style="width: 30%">@Html.DisplayFor(modelItem => family.Family_FamilyName)
                            </td>
                            <td style="width: 20%">@Html.DisplayFor(modelItem => family.Family_Gender)
                            </td>
                            <td style="width: 30%">@Html.DisplayFor(modelItem => family.Family_RelationDescription)
                            </td>
                            <td style="width: 20%"><a href="#" onclick="btnEdit_Click('@family.FamilyId');" class="btn btn-green"><i class="icon-edit"></i></a>&nbsp<a href="#" onclick="btnDelete_Click('@family.FamilyId');" class="btn btn-red"><i class="icon-trash"></i></a>
                            </td>
                        </tr>                                  
                    }
                </tbody>
            </table>@*
                    foreach (var family in Model.recruitmentFamily)
                    {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span1 form-group" style="margin-top: 5px;">
                    <label>@academy.StudyFrom - @(academy.StudyTo != null ? academy.StudyTo : "...")</label>
                </div>
                <div class="span7 form-group">
                    <h6 class="no-margin">@academy.Institute | @academy.LocationName</h6>
                    <span>@academy.QualificationDescription in @academy.MajorDescription</span>
                </div>
                <div class="span1 form-group no-margin">
                    <a href="#" onclick="btnEdit_Click('@academy.AcademyId');"><i class="icon-edit icon-circled icon-32 btn-green"></i></a>
                    <a href="#" onclick="btnDelete_Click('@academy.AcademyId');"><i class="icon-remove icon-circled icon-32 btn-red"></i></a>
                </div>
            </div>
                    }*@
        }
        else
        {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span6 form-group">
                    <h6 class="no-margin">Add one or more your family data</h6>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("SaveChanges_ApplicantFamily", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formFamily" }))
    {
        <div class="row" id="applicant-family-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Family Name * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Family_FamilyName, new { @id = "FamilyName", @class = "form-control span4" })
                    @Html.HiddenFor(model => model.Family_Id, new { @id = "Family_Id" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Family_FamilyName, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Gender * :
                </div>
                <div class="span2 form-group">
                    <h6>@Html.RadioButtonFor(model => model.Family_Gender, "M", new { @id = "GenderM", @class = "form-control" }) Male</h6>
                </div>
                <div class="span2 form-group">
                    <h6>@Html.RadioButtonFor(model => model.Family_Gender, "F", new { @id = "GenderF", @class = "form-control" }) Female</h6>
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Relation * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Family_Relation, ViewBag.ListRelation as SelectList, "Relation", new { @id = "Relation", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Family_Relation, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#applicant-link').addClass('active');

        $('#btnAdd').click(function (e) {
            document.getElementById("formFamily").reset();
            document.getElementById('GenderM').checked = true;
            document.getElementById('Family_Id').value = "";

            var $familyForm = $('#formFamily'),
            familyOrigForm = $familyForm.serialize();

            $('#formFamily :input').on('change input', function () {
                if ($familyForm.serialize() !== familyOrigForm) {
                    $("#formFamily").data("changed", true);
                } else {
                    $("#formFamily").data("changed", false);
                }
            });

            $("#applicant-family").fadeOut(100);
            $("#applicant-family-form").delay(100).fadeIn(100);

            e.preventDefault();
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formFamily").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formFamily").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#applicant-family").delay(100).fadeIn(100);
            $("#applicant-family-form").fadeOut(100);

            $("#formFamily").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formFamily").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formFamily").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function btnEdit_Click(id) {
        var getParams = {
            "FamilyId": id
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/ApplicantFamily_Edit',
            context: document.body,
            data: getParams,
            success: function (result) {
                console.log(result.Status);

                document.getElementById('Family_Id').value = result.recruitmentFamily.Id;
                document.getElementById('FamilyName').value = result.recruitmentFamily.FamilyName;

                if (result.recruitmentFamily.Gender == "M")
                    document.getElementById('GenderM').checked = true;
                else
                    document.getElementById('GenderF').checked = true;

                document.getElementById('Relation').value = result.recruitmentFamily.Relation;

                var $familyForm = $('#formFamily'),
                familyOrigForm = $familyForm.serialize();

                $('#formFamily :input').on('change input', function () {
                    if ($familyForm.serialize() !== familyOrigForm) {
                        $("#formFamily").data("changed", true);
                    } else {
                        $("#formFamily").data("changed", false);
                    }
                });

                $("#applicant-family").fadeOut(100);
                $("#applicant-family-form").delay(100).fadeIn(100);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function btnDelete_Click(id) {
        if (confirm("Are you sure you want to delete this data?")) {
            var getParams = {
                "FamilyId": id
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/MyAccount/ApplicantFamily_Delete',
                context: document.body,
                data: getParams,
                success: function (result) {
                    console.log(result.Status);

                    $.notify({
                        // options
                        message: result.Message
                    }, {
                        // settings
                        type: 'success'
                    });
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });

            window.location.href = "/MyAccount/ApplicantFamily"
        }
    }
</script>
