﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="applicant-tab">
        <ul class="nav nav-pills span9">
            <li id="applicant-personal-link"><a href="/MyAccount/ApplicantPersonal" onclick="return btnCancel_Call();">Personal</a></li>
            <li id="applicant-family-link"><a href="/MyAccount/ApplicantFamily" onclick="return btnCancel_Call();">Family</a></li>
            <li id="applicant-academy-link"><a href="/MyAccount/ApplicantAcademy" onclick="return btnCancel_Call();">Formal Education</a></li>
            <li id="applicant-academy-nonformal-link"><a href="/MyAccount/ApplicantAcademy_NonFormal" onclick="return btnCancel_Call();">Non-Formal Education</a></li>
            <li class="active" id="applicant-experiences-link"><a href="/MyAccount/ApplicantExperience" onclick="return btnCancel_Call();">Experiences</a></li>
            <li id="applicant-skills-link"><a href="/MyAccount/ApplicantSkills" onclick="return btnCancel_Call();">Skills</a></li>
            <li id="applicant-document-link"><a href="/MyAccount/ApplicantDocument" onclick="return btnCancel_Call();">Upload</a></li>
        </ul>
    </div>
    <div class="row" id="applicant-experience">
        <div class="span6 add-control">
            <a class="btn" href="#" id="btnAdd"><i class="icon-plus-sign"></i>Add</a>
        </div>
        @if (Model.recruitmentExperience.Count() > 0)
        {
            foreach (var experience in Model.recruitmentExperience)
            {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span2 form-group" style="margin-top:7px;">
                    <label>@experience.MonthStart @experience.YearStart - @(experience.MonthEnd != null ? experience.MonthEnd + " " + experience.YearEnd : "Present")</label>
                </div>
                <div class="span6 form-group">
                    <h5 class="no-margin">@experience.PositionTitle</h5>
                    <h6 class="no-margin">@experience.CompanyName @(experience.Location != null ? "| " + (experience.State != null ? experience.StateName + ", " : "") + experience.LocationName : "")</h6>
                    <br />
                    <div style="display: inline-block; width: 200px;">Industry</div><div style="display: inline-block; width: 370px; color: #000000">@experience.IndustryDescription</div>
                    <div style="display: inline-block; width: 200px;">Specialization</div><div style="display: inline-block; width: 370px; color: #000000">@experience.SpecializationDescription</div>
                    <div style="display: inline-block; width: 200px;">Position Level</div><div style="display: inline-block; width: 370px; color: #000000">@experience.PositionLevelDescription</div>
                    <div style="display: inline-block; width: 200px;">Monthly Salary</div><div style="display: inline-block; width: 370px; color: #000000">@(experience.Salary != null ? experience.Salary + " " +  experience.SalaryCurrencyDescription: "-")</div>
                    <br />
                    <br />
                    @experience.ExperienceDescription
                </div>
                <div class="span1 form-group no-margin">
                    <a href="#" onclick="btnEdit_Click('@experience.ExperienceId');"><i class="icon-edit icon-circled icon-32 btn-green"></i></a>
                    <a href="#" onclick="btnDelete_Click('@experience.ExperienceId');"><i class="icon-remove icon-circled icon-32 btn-red"></i></a>
                </div>
            </div>
            }
        }
        else
        {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span6 form-group">
                    <h6 class="no-margin">Add at least one or more your experience background</h6>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("SaveChanges_ApplicantExperience", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formExperience" }))
    {
        <div class="row" id="applicant-experience-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Position Title * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Experience_PositionTitle, new { @id = "PositionTitle", @class = "form-control span4" })
                    @Html.HiddenFor(model => model.Experience_Id, new { @id = "Experience_Id" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Experience_PositionTitle, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Company Name *:
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Experience_CompanyName, new { @id = "CompanyName", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Experience_CompanyName, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Industry * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Experience_Industry, ViewBag.ListIndustry as SelectList, "Industry", new { @id = "Industry", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Experience_Industry, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Location :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Experience_Location, ViewBag.ListCountry as SelectList, "Location", new { @id = "Location", @class = "form-control resize-dropdown", @onchange = "LocationChange()" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    City :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Experience_State, ViewBag.ListCity as SelectList, "City / State", new { @id = "State", @class = "form-control resize-dropdown" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Joined From * :
                </div>
                <div class="span2 form-group">
                    @Html.DropDownListFor(model => model.Experience_YearStart, ViewBag.ListYear as SelectList, "Year", new { @id = "YearStart", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.DropDownListFor(model => model.Experience_MonthStart, ViewBag.ListMonth as SelectList, "Month", new { @id = "MonthStart", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Experience_YearStart, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Joined To :
                </div>
                <div class="span2 form-group">
                    @Html.DropDownListFor(model => model.Experience_YearEnd, ViewBag.ListYear as SelectList, "Year", new { @id = "YearEnd", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.DropDownListFor(model => model.Experience_MonthEnd, ViewBag.ListMonth as SelectList, "Month", new { @id = "MonthEnd", @class = "form-control resize-dropdown" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Specialization * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Experience_Specialization, ViewBag.ListSpecialization as SelectList, "Specialization", new { @id = "Specialization", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Experience_Specialization, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Position Level * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Experience_PositionLevel, ViewBag.ListPositionLevel as SelectList, "Position Level", new { @id = "PositionLevel", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Experience_PositionLevel, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Monthly Salary :
                </div>
                <div class="span2 form-group">
                    @Html.DropDownListFor(model => model.Experience_SalaryCurrency, ViewBag.ListMataUang as SelectList, "Currency", new { @id = "SalaryCurrency", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.TextBoxFor(model => model.Experience_Salary, new { @id = "Salary", @class = "form-control span4" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Experience Description :
                </div>
                <div class="span4 form-group">
                    @Html.TextAreaFor(model => model.Experience_ExperienceDescription, new { @id = "ExperienceDescription", @class = "form-control", @rows = 5, @style = "resize:none" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#applicant-link').addClass('active');

        $('#btnAdd').click(function (e) {
            document.getElementById("formExperience").reset();
            document.getElementById('Experience_Id').value = "";

            var $experienceForm = $('#formExperience'),
            experienceOrigForm = $experienceForm.serialize();

            $('#formExperience :input').on('change input', function () {
                if ($experienceForm.serialize() !== experienceOrigForm) {
                    $("#formExperience").data("changed", true);
                } else {
                    $("#formExperience").data("changed", false);
                }
            });

            $("#applicant-experience").fadeOut(100);
            $("#applicant-experience-form").delay(100).fadeIn(100);

            e.preventDefault();
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formExperience").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formExperience").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#applicant-experience").delay(100).fadeIn(100);
            $("#applicant-experience-form").fadeOut(100);

            $("#formExperience").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formExperience").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formExperience").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function btnEdit_Click(id) {
        var getParams = {
            "ExperienceId": id
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/ApplicantExperience_Edit',
            context: document.body,
            data: getParams,
            success: function (result) {
                console.log(result.Status);

                if (result.listDropdownData != null) {
                    var appenddata = "<option value = ''>Choose State</option>";;
                    $.each(result.listDropdownData, function (key, value) {
                        appenddata += "<option value = '" + value.stringValue + " '>" + value.Text + " </option>";
                    });
                    $('#State').html(appenddata);
                }

                document.getElementById('Experience_Id').value = result.recruitmentExperience.Id;
                document.getElementById('PositionTitle').value = result.recruitmentExperience.PositionTitle;
                document.getElementById('CompanyName').value = result.recruitmentExperience.CompanyName;
                document.getElementById('Industry').value = result.recruitmentExperience.Industry;

                if (result.recruitmentExperience.Location)
                    document.getElementById('Location').value = result.recruitmentExperience.Location;

                if (result.recruitmentExperience.State)
                    document.getElementById('State').value = result.recruitmentExperience.State;

                document.getElementById('YearStart').value = result.recruitmentExperience.YearStart;
                document.getElementById('MonthStart').value = result.recruitmentExperience.MonthStart;

                if (result.recruitmentExperience.YearEnd != null)
                    document.getElementById('YearEnd').value = result.recruitmentExperience.YearEnd;

                if (result.recruitmentExperience.MonthEnd != null)
                    document.getElementById('MonthEnd').value = result.recruitmentExperience.MonthEnd;

                document.getElementById('Specialization').value = result.recruitmentExperience.Specialization;
                document.getElementById('PositionLevel').value = result.recruitmentExperience.PositionLevel;

                if (result.recruitmentExperience.SalaryCurrency)
                    document.getElementById('SalaryCurrency').value = result.recruitmentExperience.SalaryCurrency;

                document.getElementById('Salary').value = result.recruitmentExperience.Salary;
                document.getElementById('ExperienceDescription').value = result.recruitmentExperience.ExperienceDescription;

                var $experienceForm = $('#formExperience'),
                experienceOrigForm = $experienceForm.serialize();

                $('#formExperience :input').on('change input', function () {
                    if ($experienceForm.serialize() !== experienceOrigForm) {
                        $("#formExperience").data("changed", true);
                    } else {
                        $("#formExperience").data("changed", false);
                    }
                });

                $("#applicant-experience").fadeOut(100);
                $("#applicant-experience-form").delay(100).fadeIn(100);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function btnDelete_Click(id) {
        if (confirm("Are you sure you want to delete this data?")) {
            var getParams = {
                "ExperienceId": id
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/MyAccount/ApplicantExperience_Delete',
                context: document.body,
                data: getParams,
                success: function (result) {
                    console.log(result.Status);

                    $.notify({
                        // options
                        message: result.Message
                    }, {
                        // settings
                        type: 'success'
                    });
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });

            window.location.href = "/MyAccount/ApplicantExperience"
        }
    }

    function LocationChange() {
        var Country = document.getElementById('Location').value;

        var getParams = {
            "Country": Country
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/ChangeListCity',
            context: document.body,
            data: getParams,
            success: function (result) {
                var appenddata = "<option value = ''>City / State</option>";;
                $.each(result.listDropdownData, function (key, value) {
                    appenddata += "<option value = '" + value.stringValue + " '>" + value.Text + " </option>";
                });

                $('#State').html(appenddata);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }
</script>
