﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="applicant-tab">
        <ul class="nav nav-pills span9">
            <li id="applicant-personal-link"><a href="/MyAccount/ApplicantPersonal" onclick="return btnCancel_Call();">Personal</a></li>
            <li id="applicant-family-link"><a href="/MyAccount/ApplicantFamily" onclick="return btnCancel_Call();">Family</a></li>
            <li id="applicant-academy-link"><a href="/MyAccount/ApplicantAcademy" onclick="return btnCancel_Call();">Formal Education</a></li>
            <li id="applicant-academy-nonformal-link"><a href="/MyAccount/ApplicantAcademy_NonFormal" onclick="return btnCancel_Call();">Non-Formal Education</a></li>
            <li id="applicant-experiences-link"><a href="/MyAccount/ApplicantExperience" onclick="return btnCancel_Call();">Experiences</a></li>
            <li class="active" id="applicant-skills-link"><a href="/MyAccount/ApplicantSkills" onclick="return btnCancel_Call();">Skills</a></li>
            <li id="applicant-document-link"><a href="/MyAccount/ApplicantDocument" onclick="return btnCancel_Call();">Upload</a></li>
        </ul>
    </div>
    <div class="row" id="applicant-skill">
        <div class="span6 add-control">
            <a class="btn" href="#" id="btnEdit"><i class="icon-edit"></i>Edit</a>
        </div>
        <div class="span8 no-margin" style="margin-bottom: 10px;">
            <div class="span2 form-group">
                @Html.Label("lblProficiency", "Proficiency")
            </div>
            <div class="span4 form-group">
                @Html.Label("lblSkills", "Skills")
            </div>
        </div>
        <div class="span2 form-group">
            @Html.Label("lblAdvanced", "Advanced")
        </div>
        <div class="span4 form-group">
            <label>
                @if (Model.recruitmentSkill.Where(w => w.Proficiency == "A").Count() > 0)
                {
                    foreach (var advanced in Model.recruitmentSkill.Where(w => w.Proficiency == "A"))
                    {
                    @advanced.Skill@((advanced != Model.recruitmentSkill.Where(w => w.Proficiency == "A").Last()) ? ", " : "")
                    }
                }
                else
                {
                    <span>-</span>   
                }
            </label>
        </div>
        <div class="span2 form-group">
            @Html.Label("lblIntermediate", "Intermediate")
        </div>
        <div class="span4 form-group">
            <label>
                @if (Model.recruitmentSkill.Where(w => w.Proficiency == "I").Count() > 0)
                {
                    foreach (var advanced in Model.recruitmentSkill.Where(w => w.Proficiency == "I"))
                    {
                    @advanced.Skill@((advanced != Model.recruitmentSkill.Where(w => w.Proficiency == "I").Last()) ? ", " : "")
                    }
                }
                else
                {
                    <span>-</span>   
                }
            </label>
        </div>
        <div class="span2 form-group">
            @Html.Label("lblBeginner", "Beginner")
        </div>
        <div class="span4 form-group">
            <label>
                @if (Model.recruitmentSkill.Where(w => w.Proficiency == "B").Count() > 0)
                {
                    foreach (var advanced in Model.recruitmentSkill.Where(w => w.Proficiency == "B"))
                    {
                    @advanced.Skill@((advanced != Model.recruitmentSkill.Where(w => w.Proficiency == "B").Last()) ? ", " : "")
                    }
                }
                else
                {
                    <span>-</span>   
                }
            </label>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#applicant-link').addClass('active');

        $('#btnEdit').click(function (e) {
            window.location.href = "/MyAccount/ApplicantSkills_Form"

            e.preventDefault();
        });
    });

</script>
