﻿@model WebPortal.Models.UserProfile
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="employee">
    <div class="row">
        <div class="span2 form-group">
            @Html.Label("lblPosition", "Position")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblPositionValue", Model.userProfile.Jabatan == null ? "-" : Model.userProfile.Jabatan)
        </div>
        <div class="span2 form-group">
            @Html.Label("lblRegion", "Region")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblRegionValue", Model.userProfile.Region == null ? "-" : Model.userProfile.Region)
        </div>
        <div class="span2 form-group">
            @Html.Label("lblExtention", "Ext. Number")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblExtentionValue", Model.userProfile.ExtensionNumber == null ? "-" : Model.userProfile.ExtensionNumber)
        </div>
    </div>
    <div class="row">
        @if (Model.listUserSite.Count > 0)
        {
            <div class="span2 widget">
                <a class="btn widget-btn" href="#mySiteMapping" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Mapping Site User</a>
            </div>
        }
    </div>
</div>

<script type="text/javascript">    
    $(document).ready(function () {
        $('#employee-link').addClass('active');
    });
</script>