﻿@model WebPortal.Models.UserProfile
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}
@{
    int userLevel = 100;

    if (Session["UserLevel"] != null)
    {
        userLevel = int.Parse(Session["UserLevel"].ToString());
    }
}

<div class="span6" id="user">
    <div class="row">
        <div class="span2 form-group">
            @Html.Label("lblUsername", "User Name")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblUsernameValue", Model.userProfile.UserName)
        </div>
        <div class="span2 form-group">
            @Html.Label("lblEmail", "Primary Email")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblEmailValue", Model.userProfile.email)
        </div>
        <div class="span2 form-group">
            @Html.Label("lblSecEmail", "Secondary Email")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblSecEmailValue", Model.userProfile.SecondaryEmail == null ? "-" : Model.userProfile.SecondaryEmail)
        </div>
    </div>
    <div class="row">
        @if (!Model.userProfile.IsUserAD)
        {
            <div class="span2 widget">
                <a class="btn widget-btn" href="#">Change Password</a>
            </div>
        }
        <div class="span2 widget">
            <a class="btn widget-btn" href="#mySecondaryEmail" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Edit Secondary Email</a>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#user-link').addClass('active');

        $('#user-link').click(function (e) {
            $('#employee-link').removeClass('active');
            $('#vendor-link').removeClass('active');
            $('#applicant-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#employee-link').click(function (e) {
            $('#user-link').removeClass('active');
            $('#vendor-link').removeClass('active');
            $('#applicant-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#vendor-link').click(function (e) {
            $('#user-link').removeClass('active');
            $('#employee-link').removeClass('active');
            $('#applicant-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#applicant-link').click(function (e) {
            $('#user-link').removeClass('active');
            $('#employee-link').removeClass('active');
            $('#vendor-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });


</script>
