﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "SideBar";
}
@{
    int userLevel = 100;

    if (Session["UserLevel"] != null)
    {
        userLevel = int.Parse(Session["UserLevel"].ToString());
    }
}

<div class="span3">
    <aside class="left-sidebar">
        <div class="widget">
            <a href="#" id="user-link">
                <h6 class="widgetheading">User Data</h6>
            </a>
        </div>
        @if (Model.IsUserAD)
        {
            <div class="widget">
                <a href="#" id="employee-link">
                    <h6 class="widgetheading">Employee Data</h6>
                </a>
            </div>
        }
        @if (userLevel == 2)
        {
            <div class="widget">
                <a href="#" id="vendor-link">
                    <h6 class="widgetheading">Vendor Data</h6>
                </a>
            </div>
            <div class="widget">
                <a href="#" id="vendor-item-link">
                    <h6 class="widgetheading">Vendor Item</h6>
                </a>
            </div>
        }
        @if (userLevel == 4)
        {
            <div class="widget">
                <a href="#" id="applicant-link">
                    <h6 class="widgetheading">Applicant Data</h6>
                </a>
            </div>
        }
    </aside>
</div>

<script type="text/javascript">
    $('#user-link').click(function (e) {
        window.location.href = "/MyAccount/Index"
    });
    $('#employee-link').click(function (e) {
        window.location.href = "/MyAccount/EmployeeData"
    });
    $('#vendor-link').click(function (e) {
        window.location.href = "/MyAccount/VendorCompany"
    });
    $('#vendor-item-link').click(function (e) {
        window.location.href = "/MyAccount/VendorItem"
    });
    $('#applicant-link').click(function (e) {
        window.location.href = "/MyAccount/ApplicantPersonal"
    });
</script>