﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="vendor-tab">
        <ul class="nav nav-pills span6">
            <li id="vendor-company-link"><a href="/MyAccount/VendorCompany" onclick="return btnCancel_Call();">Company</a></li>
            <li id="vendor-bank-link"><a href="/MyAccount/VendorBank" onclick="return btnCancel_Call();">Bank</a></li>
            <li id="vendor-legal-link"><a href="/MyAccount/VendorLegal" onclick="return btnCancel_Call();">Legality</a></li>
            <li id="vendor-tax-link"><a href="/MyAccount/VendorTax" onclick="return btnCancel_Call();">Tax</a></li>
            <li id="vendor-branches-link"><a href="/MyAccount/VendorBranches" onclick="return btnCancel_Call();">Branches</a></li>
            @*<li id="vendor-document-link"><a href="/MyAccount/VendorDocument" onclick="return btnCancel_Call();">Upload</a></li>*@
            <li class="active" id="vendor-submit-link"><a href="/MyAccount/VendorSubmit" onclick="return btnCancel_Call();">Submit</a></li>
        </ul>
    </div>
    <div class="row" id="vendor-submit">
        <div class="span2 form-group">
            @Html.Label("lblSubmitStatus", "Status")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblSubmitStatusValue", Model.SubmitStatus != null ? Model.SubmitStatus : "Not Submitted")
        </div>
        <div class="span2 widget" style="margin-top: 30px">
            <a class="btn widget-btn" href="#" onclick="btnSubmit_Click();">Submit Data</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#vendor-link').addClass('active');
    });

    function btnSubmit_Click() {
        if (confirm("Are you sure you want to submit your data?")) {
            //var getParams = {
            //    "BankId": id
            //};
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/MyAccount/VendorSubmit_Submit',
                context: document.body,
                //data: getParams,
                success: function (result) {
                    console.log(result.Status);

                    //$.notify({
                    //    // options
                    //    message: result.Message
                    //}, {
                    //    // settings
                    //    type: 'success'
                    //});
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });

            window.location.href = "/MyAccount/VendorSubmit"
        }
    }
</script>
