﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="vendor-tab">
        <ul class="nav nav-pills span6">
            <li id="vendor-company-link"><a href="/MyAccount/VendorCompany" onclick="return btnCancel_Call();">Company</a></li>
            <li class="active" id="vendor-bank-link"><a href="/MyAccount/VendorBank" onclick="return btnCancel_Call();">Bank</a></li>
            <li id="vendor-legal-link"><a href="/MyAccount/VendorLegal" onclick="return btnCancel_Call();">Legality</a></li>
            <li id="vendor-tax-link"><a href="/MyAccount/VendorTax" onclick="return btnCancel_Call();">Tax</a></li>
            <li id="vendor-branches-link"><a href="/MyAccount/VendorBranches" onclick="return btnCancel_Call();">Branches</a></li>
            @*<li id="vendor-document-link"><a href="/MyAccount/VendorDocument" onclick="return btnCancel_Call();">Upload</a></li>*@
        </ul>
    </div>
    <div class="row" id="vendor-bank">
        <div class="span6 add-control">
            <a class="btn" href="#" id="btnAdd"><i class="icon-plus-sign"></i>Add</a>
        </div>
        @if (Model.vendorBank.Count() > 0)
        {
            foreach (var bank in Model.vendorBank)
            {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span8 form-group">
                    <h6 class="no-margin">@bank.AccountName (@bank.AccountNumber) | @bank.BankName</h6>
                    <span class="no-margin">Branch at @bank.Branch, @bank.CityName, @bank.CountryName</span>
                </div>
                <div class="span1 form-group no-margin">
                    <a href="#" onclick="btnEdit_Click('@bank.BankId');"><i class="icon-edit icon-circled icon-32 btn-green"></i></a>
                    <a href="#" onclick="btnDelete_Click('@bank.BankId');"><i class="icon-remove icon-circled icon-32 btn-red"></i></a>
                </div>
            </div>
            }
        }
        else
        {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span6 form-group">
                    <h6 class="no-margin">Add at least one or more your bank data</h6>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("SaveChanges_VendorBank", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formBank" }))
    {
        <div class="row" id="vendor-bank-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Bank Name * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_Bank, ViewBag.ListBank as SelectList, "Bank", new { @id = "Bank", @class = "form-control resize-dropdown" })
                    @Html.HiddenFor(model => model.Bank_Id, new { @id = "Bank_Id" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Bank, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Branch * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Branch, new { @id = "Branch", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branch, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Country * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_BankCountry, ViewBag.ListCountry as SelectList, "Country", new { @id = "Country", @class = "form-control resize-dropdown", @onchange = "CountryChange()" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_BankCountry, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    City / State * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_BankCity, ViewBag.ListCity as SelectList, "City / State", new { @id = "City", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_BankCity, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Currency * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_Currency, ViewBag.ListCurrency as SelectList, "Currency", new { @id = "Currency", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Currency, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Account Number * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_AccountNumber, new { @id = "AccountNumber", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_AccountNumber, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Account Name * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_AccountName, new { @id = "AccountName", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_AccountName, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#vendor-link').addClass('active');

        $('#btnAdd').click(function (e) {
            document.getElementById("formBank").reset();
            document.getElementById('Bank_Id').value = "";

            var $bankForm = $('#formBank'),
            bankOrigForm = $bankForm.serialize();

            $('#formBank :input').on('change input', function () {
                if ($bankForm.serialize() !== bankOrigForm) {
                    $("#formBank").data("changed", true);
                } else {
                    $("#formBank").data("changed", false);
                }
            });

            $("#vendor-bank").fadeOut(100);
            $("#vendor-bank-form").delay(100).fadeIn(100);

            e.preventDefault();
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formBank").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formBank").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#vendor-bank").delay(100).fadeIn(100);
            $("#vendor-bank-form").fadeOut(100);

            $("#formBank").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formBank").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formBank").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function btnEdit_Click(id) {
        var getParams = {
            "BankId": id
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/VendorBank_Edit',
            context: document.body,
            data: getParams,
            success: function (result) {
                console.log(result.Status);

                if (result.listDropdownData != null) {
                    var appenddata = "<option value = ''>City / State</option>";;
                    $.each(result.listDropdownData, function (key, value) {
                        appenddata += "<option value = '" + value.stringValue + " '>" + value.Text + " </option>";
                    });
                    $('#City').html(appenddata);
                }

                document.getElementById('Bank_Id').value = result.vendorBank.Id;
                document.getElementById('Bank').value = result.vendorBank.Bank;
                document.getElementById('Branch').value = result.vendorBank.Branch;
                document.getElementById('Country').value = result.vendorBank.Country;
                document.getElementById('City').value = result.vendorBank.City;
                document.getElementById('Currency').value = result.vendorBank.Currency;
                document.getElementById('AccountNumber').value = result.vendorBank.AccountNumber;
                document.getElementById('AccountName').value = result.vendorBank.AccountName;

                var $bankForm = $('#formBank'),
                bankOrigForm = $bankForm.serialize();

                $('#formBank :input').on('change input', function () {
                    if ($bankForm.serialize() !== bankOrigForm) {
                        $("#formBank").data("changed", true);
                    } else {
                        $("#formBank").data("changed", false);
                    }
                });

                $("#vendor-bank").fadeOut(100);
                $("#vendor-bank-form").delay(100).fadeIn(100);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function btnDelete_Click(id) {
        if (confirm("Are you sure you want to delete this data?")) {
            var getParams = {
                "BankId": id
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/MyAccount/VendorBank_Delete',
                context: document.body,
                data: getParams,
                success: function (result) {
                    console.log(result.Status);

                    $.notify({
                        // options
                        message: result.Message
                    }, {
                        // settings
                        type: 'success'
                    });
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });

            window.location.href = "/MyAccount/VendorBank"
        }
    }

    function CountryChange() {
        var Country = document.getElementById('Country').value;

        var getParams = {
            "Country": Country
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/ChangeListCity',
            context: document.body,
            data: getParams,
            success: function (result) {
                var appenddata = "<option value = ''>City / State</option>";;
                $.each(result.listDropdownData, function (key, value) {
                    appenddata += "<option value = '" + value.stringValue + " '>" + value.Text + " </option>";
                });

                $('#City').html(appenddata);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }
</script>
