﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="vendor-tab">
        <ul class="nav nav-pills span6">
            <li id="vendor-company-link"><a href="/MyAccount/VendorCompany" onclick="return btnCancel_Call();">Company</a></li>
            <li id="vendor-bank-link"><a href="/MyAccount/VendorBank" onclick="return btnCancel_Call();">Bank</a></li>
            <li id="vendor-legal-link"><a href="/MyAccount/VendorLegal" onclick="return btnCancel_Call();">Legality</a></li>
            <li id="vendor-tax-link"><a href="/MyAccount/VendorTax" onclick="return btnCancel_Call();">Tax</a></li>
            <li class="active" id="vendor-branches-link"><a href="/MyAccount/VendorBranches" onclick="return btnCancel_Call();">Branches</a></li>
            @*<li id="vendor-document-link"><a href="/MyAccount/VendorDocument" onclick="return btnCancel_Call();">Upload</a></li>*@
        </ul>
    </div>
    <div class="row" id="vendor-branches">
        <div class="span6 add-control">
            <a class="btn" href="#" id="btnAdd"><i class="icon-plus-sign"></i>Add</a>
        </div>
        @if (Model.vendorBranches.Count() > 0)
        {
            foreach (var branches in Model.vendorBranches)
            {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span8 form-group">
                    <h6 class="no-margin">@branches.Address, @branches.CityName, @branches.CountryName, @branches.PostalCode</h6>
                    <br />
                    <div style="display: inline-block; width: 200px; margin-left:50px;">Email</div><div style="display: inline-block; width: 370px; color: #000000">@branches.Email</div>
                    <div style="display: inline-block; width: 200px; margin-left:50px;">Phone</div><div style="display: inline-block; width: 370px; color: #000000">@branches.Phone</div>
                    <div style="display: inline-block; width: 200px; margin-left:50px;">Fax</div><div style="display: inline-block; width: 370px; color: #000000">@(branches.Fax != null ? branches.Fax : "-")</div>
                    <div style="display: inline-block; width: 200px; margin-left:50px;">Contact Person</div><div style="display: inline-block; width: 370px; color: #000000">@branches.ContactPerson</div>
                    <div style="display: inline-block; width: 200px; margin-left:50px;">CP Phone Number</div><div style="display: inline-block; width: 370px; color: #000000">@branches.CPNumber</div>
                    <div style="display: inline-block; width: 200px; margin-left:50px;">CP Email</div><div style="display: inline-block; width: 370px; color: #000000">@branches.CPEmail</div>
                </div>
                <div class="span1 form-group no-margin">
                    <a href="#" onclick="btnEdit_Click('@branches.BranchesId');"><i class="icon-edit icon-circled icon-32 btn-green"></i></a>
                    <a href="#" onclick="btnDelete_Click('@branches.BranchesId');"><i class="icon-remove icon-circled icon-32 btn-red"></i></a>
                </div>
            </div>
            }
        }
        else
        {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span6 form-group">
                    <h6 class="no-margin">Add one or more your company branches data</h6>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("SaveChanges_VendorBranches", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formBranches" }))
    {
        <div class="row" id="vendor-branches-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Country * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_Branches_Country, ViewBag.ListCountry as SelectList, "Country", new { @id = "Country", @class = "form-control resize-dropdown", @onchange = "CountryChange()" })
                    @Html.HiddenFor(model => model.Branches_Id, new { @id = "Branches_Id" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branches_Country, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    City / State * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_Branches_City, ViewBag.ListCity as SelectList, "City / State", new { @id = "City", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branches_City, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Address * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Branches_Address, new { @id = "Address", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branches_Address, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Postal Code * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Branches_PostalCode, new { @id = "PostalCode", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branches_PostalCode, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Email * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Branches_Email, new { @id = "Email", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branches_Email, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Phone * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Branches_Phone, new { @id = "Phone", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branches_Phone, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Fax :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Branches_Fax, new { @id = "Fax", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Contact Person * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Branches_ContactPerson, new { @id = "ContactPerson", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branches_ContactPerson, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    CP Phone Number * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Branches_CPNumber, new { @id = "CPNumber", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branches_CPNumber, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    CP Email * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Branches_CPEmail, new { @id = "CPEmail", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Branches_CPEmail, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#vendor-link').addClass('active');

        $('#btnAdd').click(function (e) {
            document.getElementById("formBranches").reset();
            document.getElementById('Branches_Id').value = "";

            var $branchesForm = $('#formBranches'),
            branchesOrigForm = $branchesForm.serialize();

            $('#formBranches :input').on('change input', function () {
                if ($branchesForm.serialize() !== branchesOrigForm) {
                    $("#formBranches").data("changed", true);
                } else {
                    $("#formBranches").data("changed", false);
                }
            });

            $("#vendor-branches").fadeOut(100);
            $("#vendor-branches-form").delay(100).fadeIn(100);

            e.preventDefault();
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formBranches").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formBranches").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#vendor-branches").delay(100).fadeIn(100);
            $("#vendor-branches-form").fadeOut(100);

            $("#formBranches").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formBranches").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formBranches").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function btnEdit_Click(id) {
        var getParams = {
            "BranchesId": id
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/VendorBranches_Edit',
            context: document.body,
            data: getParams,
            success: function (result) {
                console.log(result.Status);

                if (result.listDropdownData != null) {
                    var appenddata = "<option value = ''>City / State</option>";;
                    $.each(result.listDropdownData, function (key, value) {
                        appenddata += "<option value = '" + value.stringValue + " '>" + value.Text + " </option>";
                    });
                    $('#City').html(appenddata);
                }

                document.getElementById('Branches_Id').value = result.vendorBranches.Id;
                document.getElementById('Country').value = result.vendorBranches.Country;
                document.getElementById('City').value = result.vendorBranches.City;
                document.getElementById('Address').value = result.vendorBranches.Address;
                document.getElementById('PostalCode').value = result.vendorBranches.PostalCode;
                document.getElementById('Email').value = result.vendorBranches.Email;
                document.getElementById('Phone').value = result.vendorBranches.Phone;
                document.getElementById('Fax').value = result.vendorBranches.Fax;
                document.getElementById('ContactPerson').value = result.vendorBranches.ContactPerson;
                document.getElementById('CPNumber').value = result.vendorBranches.CPNumber;
                document.getElementById('CPEmail').value = result.vendorBranches.CPEmail;

                var $branchesForm = $('#formBranches'),
                branchesOrigForm = $branchesForm.serialize();

                $('#formBranches :input').on('change input', function () {
                    if ($branchesForm.serialize() !== branchesOrigForm) {
                        $("#formBranches").data("changed", true);
                    } else {
                        $("#formBranches").data("changed", false);
                    }
                });

                $("#vendor-branches").fadeOut(100);
                $("#vendor-branches-form").delay(100).fadeIn(100);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function btnDelete_Click(id) {
        if (confirm("Are you sure you want to delete this data?")) {
            var getParams = {
                "BranchesId": id
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/MyAccount/VendorBranches_Delete',
                context: document.body,
                data: getParams,
                success: function (result) {
                    console.log(result.Status);

                    $.notify({
                        // options
                        message: result.Message
                    }, {
                        // settings
                        type: 'success'
                    });
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });

            window.location.href = "/MyAccount/VendorBranches"
        }
    }

    function CountryChange() {
        var Country = document.getElementById('Country').value;

        var getParams = {
            "Country": Country
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/ChangeListCity',
            context: document.body,
            data: getParams,
            success: function (result) {
                var appenddata = "<option value = ''>City / State</option>";;
                $.each(result.listDropdownData, function (key, value) {
                    appenddata += "<option value = '" + value.stringValue + " '>" + value.Text + " </option>";
                });

                $('#City').html(appenddata);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }
</script>
