﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="applicant">
    <div class="row" id="vendor-tab">
        <ul class="nav nav-pills span6">
            <li class="active" id="vendor-company-link"><a href="/MyAccount/VendorCompany" onclick="return btnCancel_Call();">Company</a></li>
            <li id="vendor-bank-link"><a href="/MyAccount/VendorBank" onclick="return btnCancel_Call();">Bank</a></li>
            <li id="vendor-legal-link"><a href="/MyAccount/VendorLegal" onclick="return btnCancel_Call();">Legality</a></li>
            <li id="vendor-tax-link"><a href="/MyAccount/VendorTax" onclick="return btnCancel_Call();">Tax</a></li>
            <li id="vendor-branches-link"><a href="/MyAccount/VendorBranches" onclick="return btnCancel_Call();">Branches</a></li>
            @*<li id="vendor-document-link"><a href="/MyAccount/VendorDocument" onclick="return btnCancel_Call();">Upload</a></li>*@
            <li id="vendor-submit-link"><a href="/MyAccount/VendorSubmit" onclick="return btnCancel_Call();">Submit</a></li>
        </ul>
    </div>
    <div class="row" id="vendor-company">
        <div class="span2 form-group">
            @Html.Label("lblCompanyName", "Company Name")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblCompanyNameValue", Model.Vendor_CompanyName != null ? Model.Vendor_CompanyName : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblBusinessForm", "Business Form")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblBusinessFormValue", Model.Vendor_BusinessForm != null ? Model.Vendor_BusinessFormDescription : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblBusinessField", "Business Field")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblBusinessFieldValue", Model.Vendor_BusinessField != null ? Model.Vendor_BusinessFieldDescription : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblAddress", "Address")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblAddressValue", Model.Vendor_Address != null ? Model.Vendor_Address + ", " + Model.Vendor_CityName + ", " + Model.Vendor_CountryName + ", " + Model.Vendor_PostalCode : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblPostalCode", "Postal Code")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblPostalCodeValue", Model.Vendor_PostalCode != null ? Model.Vendor_PostalCode : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblEmail", "Email")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblEmailValue", Model.Vendor_Email != null ? Model.Vendor_Email : Model.Email)
        </div>
        <div class="span2 form-group">
            @Html.Label("lblPhone", "Phone")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblPhoneValue", Model.Vendor_Phone != null ? Model.Vendor_Phone : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblFax", "Fax")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblFaxValue", Model.Vendor_Fax != null ? Model.Vendor_Fax : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblCompanyWeb", "Company Web")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblCompanyWebValue", Model.Vendor_CompanyWeb != null ? Model.Vendor_CompanyWeb : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblContactPerson", "Contact Person")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblContactPersonValue", Model.Vendor_ContactPerson != null ? Model.Vendor_ContactPerson : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblCPPhone", "Phone")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblCPPhoneValue", Model.Vendor_CPNumber != null ? Model.Vendor_CPNumber : "-")
        </div>
        <div class="span2 form-group">
            @Html.Label("lblCPEmail", "Email")
        </div>
        <div class="span4 form-group">
            @Html.Label("lblCPEmailValue", Model.Vendor_CPEmail != null ? Model.Vendor_CPEmail : "-")
        </div>
        <div class="span2 widget" style="margin-top: 30px">
            <a class="btn widget-btn" href="#" id="btnEdit">Edit Data</a>
        </div>
    </div>
    @using (Html.BeginForm("SaveChanges_VendorCompany", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formCompany" }))
    {
        <div class="row" id="vendor-company-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Company Name * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_CompanyName, new { @id = "CompanyName", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_CompanyName, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Business Form * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_BusinessForm, ViewBag.ListBusinessForm as SelectList, "Business Form", new { @id = "BusinessForm", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_BusinessForm, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Business Field * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_BusinessField, ViewBag.ListBusinessField as SelectList, "Business Field", new { @id = "BusinessField", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_BusinessField, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Country * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_Country, ViewBag.ListCountry as SelectList, "Country", new { @id = "Country", @class = "form-control resize-dropdown", @onchange = "CountryChange()" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Country, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    City / State * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_City, ViewBag.ListCity as SelectList, "City / State", new { @id = "City", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_City, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Address * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Address, new { @id = "Address", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Address, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Postal Code * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_PostalCode, new { @id = "PostalCode", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_PostalCode, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Email * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Email, new { @id = "Email", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Email, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Phone * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Phone, new { @id = "Phone", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Phone, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Fax :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Fax, new { @id = "Fax", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Company Web :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_CompanyWeb, new { @id = "CompanyWeb", @class = "form-control span4" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Contact Person * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_ContactPerson, new { @id = "ContactPerson", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_ContactPerson, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Phone * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_CPNumber, new { @id = "CPNumber", @class = "form-control span4", @onkeypress = "return isNumber(event)" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_CPNumber, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Email * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_CPEmail, new { @id = "CPEmail", @class = "form-control span4" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_CPEmail, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save Changes</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#vendor-link').addClass('active');

        var $companyForm = $('#formCompany'),
        companyOrigForm = $companyForm.serialize();

        $('#formCompany :input').on('change input', function () {
            if ($companyForm.serialize() !== companyOrigForm) {
                $("#formCompany").data("changed", true);
            } else {
                $("#formCompany").data("changed", false);
            }
        });

        $('#btnEdit').click(function (e) {
            $("#vendor-company").fadeOut(100);
            $("#vendor-company-form").delay(100).fadeIn(100);

            e.preventDefault();
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formCompany").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formCompany").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#vendor-company").delay(100).fadeIn(100);
            $("#vendor-company-form").fadeOut(100);

            $("#formCompany").data("changed", false);
        }
    }

    function btnCancel_Call() {
        var reqValid = true;

        if ($("#formCompany").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formCompany").reset();
            else
                reqValid = false;
        }

        return reqValid;
    }

    function isNumber(e) {
        e = (e) ? e : window.event;
        var charCode = (e.which) ? e.which : e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function CountryChange() {
        var Country = document.getElementById('Country').value;
        var getParams = {
            "Country": Country
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/ChangeListCity',
            context: document.body,
            data: getParams,
            success: function (result) {
                var appenddata = "<option value = ''>City / State</option>";;
                $.each(result.listDropdownData, function (key, value) {
                    appenddata += "<option value = '" + value.stringValue + " '>" + value.Text + " </option>";
                });
                $('#City').html(appenddata);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

</script>
