﻿@model WebPortal.Models.UserAccount
@{
    ViewBag.Title = "Web Portal | My Account";
    Layout = "_MyAccountLayout.cshtml";
}

<div class="span6" id="vendor">
    <div class="row" id="vendor-tab">
        @*<ul class="nav nav-pills span6">
            <li id="vendor-company-link"><a href="/MyAccount/VendorCompany" onclick="return btnCancel_Call();">Company</a></li>
            <li id="vendor-bank-link"><a href="/MyAccount/VendorBank" onclick="return btnCancel_Call();">Bank</a></li>
            <li id="vendor-legal-link"><a href="/MyAccount/VendorLegal" onclick="return btnCancel_Call();">Legality</a></li>
            <li id="vendor-tax-link"><a href="/MyAccount/VendorTax" onclick="return btnCancel_Call();">Tax</a></li>
            <li class="active" id="vendor-branches-link"><a href="/MyAccount/VendorBranches" onclick="return btnCancel_Call();">Branches</a></li
        </ul>*@
    </div>
    <div class="row" id="vendor-item">
        <div class="span6 add-control">
            <a class="btn" href="#" id="btnAdd"><i class="icon-plus-sign"></i>Add</a>
        </div>
        @if (Model.vendorItem.Count() > 0)
        {
            foreach (var item in Model.vendorItem)
            {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span8 form-group">
                    <h6 class="no-margin">@item.DESCRIPTION</h6>
                    <br />
                    <div style="display: inline-block; width: 200px; margin-left: 50px;">Item Unit</div>
                    <div style="display: inline-block; width: 370px; color: #000000">@item.PRIMARY_UOM_CODE_DESCRIPTION</div>
                    <div style="display: inline-block; width: 200px; margin-left: 50px; float: left;">Additional Notes</div>
                    <div style="display: inline-block; width: 370px; color: #000000">@item.Notes</div>
                </div>
                <div class="span1 form-group no-margin">
                    <a href="#" onclick="btnEdit_Click('@item.ItemId');"><i class="icon-edit icon-circled icon-32 btn-green"></i></a>
                    <a href="#" onclick="btnDelete_Click('@item.ItemId');"><i class="icon-remove icon-circled icon-32 btn-red"></i></a>
                </div>
            </div>
            }
        }
        else
        {
            <div class="span9 no-margin" style="margin-bottom: 30px;">
                <div class="span6 form-group">
                    <h6 class="no-margin">Add one or more your item product data</h6>
                </div>
            </div>
        }
    </div>
    @using (Html.BeginForm("SaveChanges_VendorItem", "MyAccount", FormMethod.Post, new { @class = "contactForm", enctype = "multipart/form-data", id = "formItem" }))
    {
        <div class="row" id="vendor-item-form" style="display: none">
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Item Description * :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Item_Description, new { @id = "Description", @class = "form-control span4" })
                    @Html.HiddenFor(model => model.Item_Id, new { @id = "Item_Id" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Item_Description, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Unit of Measure * :
                </div>
                <div class="span4 form-group">
                    @Html.DropDownListFor(model => model.Vendor_Item_UOM, ViewBag.ListUOM as SelectList, "Unit of Measure", new { @id = "UOM", @class = "form-control resize-dropdown" })
                </div>
                <div class="span2 form-group">
                    @Html.ValidationMessageFor(model => model.Vendor_Item_UOM, "", new { @style = "color: #a94442;" })
                </div>
            </div>
            <div class="span9 no-margin">
                <div class="span2 form-group vertical-align-text-40 text-right">
                    Additional Notes :
                </div>
                <div class="span4 form-group">
                    @Html.TextBoxFor(model => model.Vendor_Item_Notes, new { @id = "Notes", @class = "form-control span4" })
                </div>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <button class="btn widget-btn" type="submit">Save</button>
            </div>
            <div class="span2 widget" style="margin-top: 30px">
                <a class="btn widget-btn" href="#" onclick="btnCancel_Click(event);">Cancel</a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#vendor-item-link').addClass('active');

        $('#btnAdd').click(function (e) {
            document.getElementById("formItem").reset();
            document.getElementById('Item_Id').value = "";

            var $itemForm = $('#formItem'),
            itemOrigForm = $itemForm.serialize();

            $('#formItem :input').on('change input', function () {
                if ($itemForm.serialize() !== itemOrigForm) {
                    $("#formItem").data("changed", true);
                } else {
                    $("#formItem").data("changed", false);
                }
            });

            $("#vendor-item").fadeOut(100);
            $("#vendor-item-form").delay(100).fadeIn(100);

            e.preventDefault();
        });
    });

    function btnCancel_Click(e) {
        var reqValid = true;

        if ($("#formItem").data("changed")) {
            if (confirm("Are you sure you want to discard this changes?"))
                document.getElementById("formItem").reset();
            else
                reqValid = false;
        }

        if (reqValid) {
            $("#vendor-item").delay(100).fadeIn(100);
            $("#vendor-item-form").fadeOut(100);

            $("#formItem").data("changed", false);
        }
    }

    //function btnCancel_Call() {
    //    var reqValid = true;

    //    if ($("#formItem").data("changed")) {
    //        if (confirm("Are you sure you want to discard this changes?"))
    //            document.getElementById("formItem").reset();
    //        else
    //            reqValid = false;
    //    }

    //    return reqValid;
    //}

    function btnEdit_Click(id) {
        var getParams = {
            "ItemId": id
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/MyAccount/VendorItem_Edit',
            context: document.body,
            data: getParams,
            success: function (result) {
                console.log(result.Status);

                document.getElementById('Item_Id').value = result.vendorItem.Id;
                document.getElementById('Description').value = result.vendorItem.DESCRIPTION;
                document.getElementById('UOM').value = result.vendorItem.PRIMARY_UOM_CODE;
                document.getElementById('Notes').value = result.vendorItem.Notes;

                var $itemForm = $('#formItem'),
                itemOrigForm = $itemForm.serialize();

                $('#formItem :input').on('change input', function () {
                    if ($itemForm.serialize() !== itemOrigForm) {
                        $("#formItem").data("changed", true);
                    } else {
                        $("#formItem").data("changed", false);
                    }
                });

                $("#vendor-item").fadeOut(100);
                $("#vendor-item-form").delay(100).fadeIn(100);
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function btnDelete_Click(id) {
        if (confirm("Are you sure you want to delete this data?")) {
            var getParams = {
                "ItemId": id
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/MyAccount/VendorItem_Delete',
                context: document.body,
                data: getParams,
                success: function (result) {
                    console.log(result.Status);

                    $.notify({
                        // options
                        message: result.Message
                    }, {
                        // settings
                        type: 'success'
                    });
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });

            window.location.href = "/MyAccount/VendorItem"
        }
    }

</script>
