<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!-- User box -->
        <div class="user-box">
            <div class="user-img">
                <img src="assets/images/users/avatar-3.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid border">
            </div>
            <h5><a href="#">Regina Tiara Wijaya</a> </h5>
            <p class="text-muted">Procurement Officer</p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li>
                    <a href="employee-dashboard.html" class="active">
                        <i class="fa fa-home"></i><span>Dashboard</span>
                    </a>
                </li>

                <li class="menu-title">Personal</li>

                <li>
                    <a href="employee-data-info.html">
                        <i class="fa fa-address-card-o"></i><span>Personal Data</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><i class="mdi mdi-fingerprint"></i><span>Attendance</span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="employee-attendance-inquiry.html">Absence</a></li>
                        <li><a href="employee-data-leave.html">Leave &amp; Permission</a></li>
                    </ul>
                </li>
                <li>
                    <a href="employee-medical-claim.html">
                        <i class="fa fa-medkit"></i><span>Medical Claim</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);"><i class="fa fa-plane"></i><span>Traveling</span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="#">Request</a></li>
                        <li><a href="#">Realization</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i><span>KPI</span>
                    </a>
                </li> -->
                <li>
                    <a href="javascript: void(0);"><i class="fa fa-th"></i><span> PR </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="employee-pr-create.html">Create </a></li>
                        <li><a href="employee-pr-list.html">Status </a></li>
                    </ul>
                </li>
                <li>
                    <a href="employee-approval.html">
                        <i class="fa fa-check-square-o"></i><span>Approval</span>
                    </a>
                </li>

                <li class="menu-title">Vendor</li>

                <li>
                    <a href="javascript: void(0);"><i class="fa fa-id-card-o"></i><span> Vendor </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="admin-vendor-list-verify.html">Verification</a></li>
                    </ul>
                </li>

                <li class="menu-title">Company</li>
                
                <li>
                    <a href="#">
                        <i class="fa fa-info-circle"></i><span>Information</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-gavel"></i><span>Policy</span>
                    </a>
                </li>

                <li class="menu-title">General</li>

                <li>
                    <a href="javascript: void(0);"><i class="fa fa-envelope"></i><span> Message </span> <span class="menu-arrow"></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="message-inbox.html">Inbox <span class="badge badge-notification float-right">2</span></a></li>
                        <li><a href="message-sent.html">Sent</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bell"></i><span>Notification</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-gear"></i><span>Setting</span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>