<select class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Pilih ...">
    <optgroup label="Pertanian, Perkebunan dan Jasa Penunjang">
        <option value="01111">01111 Pertanian Jagung</option>
        <option value="01112">01112 Pertanian Gandum</option>
        <option value="01113">01113 Pertanian Kedelai</option>
        <option value="01114">01114 Pertanian Kacang Tanah</option>
        <option value="01115">01115 Pertanian Kacang Hijau</option>
        <option value="01116">01116 Pertanian Aneka Kacang Hortikultura</option>
        <option value="01117">01117 Pertanian Biji-Bijian Penghasil Minyak Makan</option>
        <option value="01118">01118 Pertanian Biji-Bijian Penghasil Bukan Minyak Makan</option>
        <option value="01119">01119 Pertanian Serealia Lainnya, Aneka Kacang dab Biji-Bijian Penghasil Minyak Lainnya</option>
        <option value="01121">01121 Pertanian Padi Hibrida</option>
        <option value="01122">01122 Pertanian Padi Inbrida</option>
        <option value="01131">01131 Pertanian Hortikultura Sayuran Daun</option>
        <option value="01132">01132 Pertanian Hortikultura Buah</option>
        <option value="01133">01133 Pertanian Hortikultura Sayuran Buah</option>
        <option value="01134">01134 Pertanian Hortikultura Sayuran Umbi</option>
        <option value="01135">01135 Pertanian Aneka Umbi Palawija</option>
        <option value="01136">01136 Pertanian Jamur</option>
        <option value="01137">01137 Pertanian Bit Gula dan Tanaman Pemanis Bukan Tebu</option>
        <option value="01139">01139 Pertanian Hortikultura Sayuran Lainnya</option>
        <option value="01140">01140 Perkebunan Tebu</option>
        <option value="01150">01150 Perkebunan Tembakau</option>
        <option value="01160">01160 Pertanian Tanaman Berserat</option>
        <option value="01191">01191 Pertanian Tanaman Rumput-Rumputan dan Tanaman Pakan Ternak</option>
        <option value="01192">01192 Pembibitan Bit dan Bibit Tanaman Pakan Ternak</option>
        <option value="01193">01193 Pertanian Tanaman Bunga</option>
        <option value="01194">01194 Pertanian Pembibitan Tanaman Bunga</option>
        <option value="01199">01199 Pertanian Tanaman Semusim Lainnya</option>
        <option value="01210">01210 Pertanian Buah Anggur</option>
        <option value="01220">01220 Pertanian Buah Jeruk</option>
        <option value="01240">01240 Pertanian Buah Apel dan Buah Batu</option>
        <option value="01251">01251 Pertanian Buah Beri</option>
        <option value="01252">01252 Pertanian Buah Biji Kacang-Kacangan</option>
        <option value="01253">01253 Pertanian Sayuran Tahunan</option>
        <option value="01259">01259 Pertanian Buah Semak Lainnya</option>
        <option value="01261">01261 Perkebunan Buah Kelapa</option>
        <option value="01262">01262 Perkebunan Buah Kelapa Sawit</option>
        <option value="01269">01269 Perkebunan Buah Oleaginous Lainnya</option>
        <option value="01270">01270 Pertanian Tanaman Untuk Bahan Minuman</option>
        <option value="01281">01281 Perkebunan Laba </option>
        <option value="01282">01282 Perkebunan Cengkeh</option>
        <option value="01283">01283 Perkebunan Cabai</option>
        <option value="01284">01284 Perkebunan Tanaman Aromatik/Penyegar</option>
        <option value="01285">01285 Pertanian Tanaman Obat atau Biofarmaka Rimpang</option>
        <option value="01286">01286 Pertanian Tanaman Obat atau Biofarmaka Non Rimpang</option>
        <option value="01289">01289 Pertanian Tanaman Rempah-Rempah, Aromatik/Penyegar, Narkotik dan Obat Lainnya</option>
        <option value="01291">01291 Perkebunan Karet dab Tanaman Penghasil Getah Lainnya</option>
        <option value="01299">01299 Pertanian Cemara dan Tanaman Tahunan Lainnya</option>
        <option value="01301">01301 Pertanian Tanaman Hias</option>
        <option value="01302">01302 Pertanian Pengembangbiakkan Tanaman</option>
        <option value="01611">01611 Jasa Pengolahan Lahan</option>
        <option value="01612">01612 Jasa Pemupukan, Penanaman Bibit/Benih dan Pengendalian Hama dan Gulma</option>
        <option value="01613">01613 Jasa Pemanenan</option>
        <option value="01614">01614 Jasa Penyemprotan dan Penyerbukan Melalui Udara</option>
        <option value="01619">01619 Jasa Penunjang Pertanian Lainnya</option>
        <option value="01630">01630 Jasa Pasca Panen</option>
        <option value="01640">01640 Pemilihan Benih Tanaman Untuk Pengembangbiakan</option>                  
    </optgroup>
    <optgroup label="Peternakan dan Jasa Penunjang">
        <option value="01411">01411 Pembibitan dan Budidaya Sapi Potong</option>
        <option value="01412">01412 Pembibitan dan Budidaya Sapi Perah</option>
        <option value="01413">01413 Pembibitan dan Budidaya Kerbau Potong</option>
        <option value="01414">01414 Pembibitan dan Budidaya Kerbau Perah</option>
        <option value="01420">01420 Peternakan Kuda dan Sejenisnya</option>
        <option value="01430">01430 Peternakan Unta dan Sejenisnya</option>
        <option value="01441">01441 Pembibitan dan Budidaya Domba</option>
        <option value="01442">01442 Pembibitan dan Budidaya Kambing Potong</option>
        <option value="01443">01443 Pembibitan dan Budidaya Kambing Perah</option>
        <option value="01450">01450 Peternakan Babi</option>
        <option value="01461">01461 Budidaya Ayam Ras Pedaging</option>
        <option value="01462">01462 Budidaya Ayam Ras Petelur</option>
        <option value="01463">01463 Pembibitan dan Budidaya Ayam Buras</option>
        <option value="01464">01464 Pembibitan dan Budidaya Itik dan Itik Manila</option>
        <option value="01465">01465 Pembibitan dan Budidaya Kalkun</option>
        <option value="01466">01466 Pembibitan dan Budidaya Burung Puyuh</option>
        <option value="01467">01467 Pembibitan dan Budidaya Burung Merpati</option>
        <option value="01468">01468 Pembibitan Ayam Ras</option>
        <option value="01469">01469 Pembibitan dan Budidaya Ternak Unggas Lainnya</option>
        <option value="01491">01491 Pembibitan dan Budidaya Burung Unta</option>
        <option value="01492">01492 Pengusahaan Kokon/Kepompong Ulat Sutera</option>
        <option value="01493">01493 Pembibitan dan Budidaya Lebah</option>
        <option value="01494">01494 Pembibitan dan Budidaya Rusa</option>
        <option value="01495">01495 Pembibitan dan Budidaya Kelinci</option>
        <option value="01496">01496 Pembibitan dan Budidaya Cacing</option>
        <option value="01499">01499 Pembibitan dan Budidaya Aneka Ternak Lainnya</option>
        <option value="01621">01621 Jasa Pelayanan Kesehatan Ternak</option>
        <option value="01622">01622 Jasa Perkawinan Ternak</option>
        <option value="01623">01623 Jasa Penetasan Telur</option>
        <option value="01629">01629 Jasa Penunjang Perternakan Lainnya</option>    
    </optgroup>
    <optgroup label="Perburuan/Penangkaran">
        <option value="01711">01711 Perburuan dan Penangkapan Primata</option>
        <option value="01712">01712 Perburuan dan Penangkapan Mamalia</option>
        <option value="01713">01713 Perburuan dan Penangkapan Reptil</option>
        <option value="01714">01714 Perburuan dan Penangkapan Burung</option>
        <option value="01715">01715 Perburuan dan Penangkapan Insekta</option>
        <option value="01719">01719 Perburuan dan Penangkapan Satwa Liar Lainnya</option>
        <option value="01721">01721 Penangkaran Primata</option>
        <option value="01722">01722 Penangkaran Mamalia</option>
        <option value="01723">01723 Penangkaran Reptil</option>
        <option value="01724">01724 Penangkaran Burung</option>
        <option value="01725">01725 Penangkaran Insekta</option>
        <option value="01726">01726 Penangkaran Anggrek</option>
        <option value="01727">01727 Penangkaran Ikan dan Coral/Karang</option>
        <option value="01729">01729 Penangkaran Tumbuhan/Satwa Liar Lainnya</option>
    </optgroup>
    <optgroup label="Kehutanan dan Jasa Penunjang">
        <option value="02111">02111 Pengusahaan Hutan Jati</option>
        <option value="02112">02112 Pengusahaan Hutan Pinus</option>
        <option value="02113">02113 Pengusahaan Hutan Mahoni</option>
        <option value="02114">02114 Pengusahaan Hutan Sonokeling</option>
        <option value="02115">02115 Pengusahaan Hutan Sengon/Albasia/Jeunjing</option>
        <option value="02116">02116 Pengusahaan Hutan Cendana</option>
        <option value="02117">02117 Pengusahaan Hutan Alkasia</option>
        <option value="02118">02118 Pengusahaan Hutan Ekaliptus</option>
        <option value="02119">02119 Pengusahaan Hutan Lainnya</option>
        <option value="02120">02120 Pengusahaan Hutan Alam</option>
        <option value="02131">02131 Pengusahaan Rotan</option>
        <option value="02132">02132 Pengusahaan Getah Pinus</option>
        <option value="02133">02133 Pengusahaan Daun Kayu Putih</option>
        <option value="02134">02134 Pengusahaan Bambu</option>
        <option value="02135">02135 Pengusahaan Damar</option>
        <option value="02136">02136 Pengusahaan Gaharu</option>
        <option value="02139">02139 Pengusahaan Hutan Bukan Kayu Lainnya</option>
        <option value="02141">02141 Pengusahaan Pembibitan Tanaman Jati</option>
        <option value="02142">02142 Pengusahaan Pembibitan Tanaman Pinus</option>
        <option value="02143">02143 Pengusahaan Pembibitan Tanaman Mahoni</option>
        <option value="02144">02144 Pengusahaan Pembibitan Tanaman Sonokeling</option>
        <option value="02145">02145 Pengusahaan Pembibitan Tanaman Sengon/Albasia/ Jeunjing</option>
        <option value="02146">02146 Pengusahaan Pembibitan Tanaman Jabon</option>
        <option value="02147">02147 Pengusahaan Pembibitan Tanaman Akasia</option>
        <option value="02148">02148 Pengusahaan Pembibitan Tanaman Ekaliptus</option>
        <option value="02149">02149 Pengusahaan Pembibitan Tanaman Kehutanan Lainnya</option>
        <option value="02201">02201 Pemanenan Kayu</option>
        <option value="02202">02202 Usaha Pemungutan Kayu</option>
        <option value="02209">02209 Usaha Kehutanan Lainnya</option>
        <option value="02301">02301 Pemungutan Getah Karet</option>
        <option value="02302">02302 Pemungutan Rotan</option>
        <option value="02303">02303 Pemungutan Getah Pinus</option>
        <option value="02304">02304 Pemungutan Daun Kayu Putih</option>
        <option value="02305">02305 Pemungutan Kokon/Kepompong Ulat Sutera</option>
        <option value="02306">02306 Pemungutan Damar</option>
        <option value="02307">02307 Pemungutan Madu</option>
        <option value="02308">02308 Pemungutan Bambu</option>
        <option value="02309">02309 Pemungutan Bukan Kayu Lainnya</option>
        <option value="02401">02401 Jasa Penggunaan Kawasan Hutan Di Luar Sektor Kehutanan</option>
        <option value="02402">02402 Jasa Perlindungan Hutan dan Konservasi Alam</option>
        <option value="02403">02403 Jasa Rehabilitasi dan Restoran Kehutanan Sosial</option>
        <option value="02404">02404 Jasa Kehutanan Bidang Perencanaan Kehutanan</option>
        <option value="02405">02405 Jasa Sertifikasi, Inspeksi, dan Verifikasi Produk Kehutanan</option>
        <option value="02409">02409 Jasa Penunjang Kehutanan Lainnya</option>  
    </optgroup>
</select>