﻿
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_LayoutBlogs.cshtml";
}

    <div class="container mt-5">
        <!--Section: Features v.4-->
        <section>

            <!--Section heading-->
            <h2 class="font-weight-bold h2">Frequently Asked Questions</h2>
            <!--Section description-->
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                Daftar Akun Portal Vendor Cataloc <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        <div class="card-body">
                            Daftar akun Portal Vendor Cataloc mudah dengan cara daftar menggunakan Email aktif. Akan ada informasi aktivasi akun yang akan dikirim ke email Anda.
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                            <h5 class="mb-0">
                                Bagaimana cara login akun Portal Vendor Cataloc? <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                        <div class="card-body">
                            <ol>
                                <li>Buka halaman Portal Vendor Cataloc.</li>
                                <li>Masukan Email dan Password Anda</li>
                                <li>Klik login</li>
                                <li>Anda telah berhasil masuk ke akun.</li>
                            </ol>
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree3">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                            <h5 class="mb-0">
                                Bagaimana jika saya lupa kata sandi Portal Vendor Cataloc? <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                        <div class="card-body">
                            Memasukkan kata sandi merupakan hal penting untuk bisa login ke akun Portal Vendor Cataloc. Namun, tidak menutup kemungkinan jika pengguna lupa kata sandi. Berikut adalah langkah yang Anda dapat lakukan untuk mengatasi hal tersebut :
                            <ol>
                                <li>Pada halaman login klik <b>Forgot password?</b>.</li>
                                <li>Masukkan alamat email lalu <b>Reset Password</b>.</li>
                                <li>Selanjutnya cek email yang telah Anda terima klik <b>Reset Password</b>.</li>
                                <li>Isi password baru Anda klik <b>Reset Password</b> selesai.</li>
                            </ol>
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree4">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                            <h5 class="mb-0">
                                Mengapa saya tidak bisa log in? <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4" data-parent="#accordionEx">
                        <div class="card-body">
                            <ol>
                                <li>Belum melakukan aktivasi akun setelah berhasil mendaftar.</li>
                                <li>Salah memasukkan kata sandi.</li>
                                <li>Tidak memiliki akses ke alamat e-mail.</li>
                                <li>Akun terblokir.</li>
                            </ol>
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree5">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                            <h5 class="mb-0">
                                Mengapa saya tidak mendapatkan email aktivasi akun? <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5" data-parent="#accordionEx">
                        <div class="card-body">
                            Jika Anda tidak menerima aktivasi akun pada inbox email Anda, silahkan cek folder <b>SPAM</b> pada email Anda atau menunggu beberapa saat sampai email aktivasi terkirim.
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree6">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
                            <h5 class="mb-0">
                                Mengapa saya tidak bisa menyimpan data? <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseThree6" class="collapse" role="tabpanel" aria-labelledby="headingThree6" data-parent="#accordionEx">
                        <div class="card-body">
                            <ol>
                                <li>Cek kembali data yang Anda isi.</li>
                                <li>Cek apakah ada data wajib diisi terlewati.</li>
                                <li>Season waktu login Anda habis, silahkan refresh browser lalu kembali login dan isi data kembali.</li>
                                <li>Cek koneksi internet Anda</li>
                            </ol>
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree7">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree7" aria-expanded="false" aria-controls="collapseThree7">
                            <h5 class="mb-0">
                                Ketentuan file upload <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseThree7" class="collapse" role="tabpanel" aria-labelledby="headingThree7" data-parent="#accordionEx">
                        <div class="card-body">
                            <ol>
                                <li>File yang diizinkan di upload pada menu <b>Legal</b> max. 25mb file PDF</li>
                                <li>File yang diizinkan di upload pada menu <b>Profile</b> max. 1mb file JPG</li>
                            </ol>
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree8">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree8" aria-expanded="false" aria-controls="collapseThree8">
                            <h5 class="mb-0">
                                Mengapa saya tidak bisa pilih Term of Payment? <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseThree8" class="collapse" role="tabpanel" aria-labelledby="headingThree8" data-parent="#accordionEx">
                        <div class="card-body">
                            Untuk mengisi Term of Payment, form <b>Business Fields</b> harus diisi dan di save terlebih dahulu.
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree9">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree9" aria-expanded="false" aria-controls="collapseThree9">
                            <h5 class="mb-0">
                                Saya tidak bisa menemukan jawaban permasalahan saya <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseThree9" class="collapse" role="tabpanel" aria-labelledby="headingThree9" data-parent="#accordionEx">
                        <div class="card-body">
                            Silahkan mengirimkan email berserta deskripsi/screenshot permasalahan yang Anda alami ke webmaster@cataloc.co.id
                        </div>
                    </div>

                </div>
                <!-- Accordion card -->

            </div>
            <!-- Accordion wrapper -->

        </section>
        <!--/Section: Features v.4-->
    </div>

