﻿@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_LayoutBlogs.cshtml";
}

<div class="container mt-5">
    <!--Section: Features v.4-->
    <section>

        <!--Section heading-->
        <h2 class="font-weight-bold h2">Kebijakan Privasi</h2>
        <!--Section description-->
        <p>
            Selamat datang di Cataloc.co.id. Terima kasih telah mengunjungi website kami. Halaman ini menampilkan
            Kebijakan Privasi ("Kebijakan"), di mana segala hal terkait pribadi dan data pribadi akan ditentukan. Jika
            Anda tidak setuju atau keberatan atas hal-hal yang diatur dalam Kebijakan ini, kami meminta Anda untuk
            segera berhenti menggunakan layanan Kami. Sebagai pengguna layanan Kami, Anda diwajibkan untuk
            berpartisipasi dan tunduk pada Kebijakan ini.
        </p>
        <p>
            Kami, PT. Ciliandra Perkasa, merupakan sebuah perusahaan yang menjalankan bisnis melalui situs web
            www.cataloc.co.id ("www.cataloc.co.id", "Kami", Kita" atau "Milik Kami"), guna memahami pentingnya privasi
            dan data pribadi serta kami berkomitmen penuh untuk melindungi privasi dan data pribadi Anda. Kami
            menghimbau Anda untuk tidak mengakses www.cataloc.co.id atau memberikan data pribadi atau data apapun kepada
            Kami sebelum Anda membaca, memahami, dan menyetujui Kebijakan ini secara keseluruhan.
        </p>
        <p>
            Perlu dicatat bahwa Kebijakan Privasi ini hanya berlaku untuk pengguna layanan Kami. Dalam beberapa kasus,
            Penjual dan / atau produk tertentu di www.cataloc.co.id mungkin memiliki kebijakan privasinya sendiri.
        </p>
        <p>
            Kebijakan ini menjelaskan penanganan kami atas data pribadi dan lainnya dan bagaimana Kami berkomitmen untuk
            melindungi privasi Anda. Anda memahami bahwa Kami dapat memberikan informasi tambahan yang khusus untuk
            produk atau layanan sebagai pelengkap daripada Kebijakan ini agar kami selalu dapat memberikan Anda
            informasi tentang tujuan pengumpulan data lainnya.
        </p>
        <p>
            Kami juga menganjurkan Anda untuk mengunjungi halaman ini dan membaca Kebijakan ini secara berkala.
        </p>
        <p>
            1. <strong>Penggunaan Data Pribadi Anda </strong>
        </p>
        <p>
            1.1. <strong>Pengumpulan dan Pemanfaatan Data Anda</strong>
        </p>
        <p>
            Pembuatan akun, dan pembelian atau penjualan atau pendaftaran produk atau layanan
        </p>
        <p>
            Jika Anda mengajukan permintaan untuk membuat akun atau untuk membeli atau menjual produk di
            www.cataloc.co.id atau menggunakan layanan kami, kami dapat meminta Anda untuk memberikan informasi, seperti
            nama perusahaan Anda, anggaran dasar perusahaan Anda, nama-nama yang berwenang di perusahaan Anda termasuk
            kartu identitas milik orang tersebut, alamat email, alamat pengiriman, nomor telepon, informasi produk yang
            diperlukan, dan perizinan yang dimiliki perusahaan Anda, termasuk namun tidak terbatas pada Surat Keterangan
            Domisili, Nomor Pokok Wajib Pajak, Sertifikat Pengusaha Kena Pajak, Pendaftaran Perusahaan, Surat Izin Usaha
            Perdagangan dan / atau izin usaha lainnya ("Data Anda"), dengan tujuan untuk melaksanakan pembelian atau
            penjualan produk Anda, memberikan layanan kepada Anda, mengaktifkan atau memverifikasi produk Anda, membuat
            perubahan pada permintaan Anda, memberikan dukungan teknis atau pembaruan wewenang, dan banyak lagi.
        </p>
        <p>
            Pada kondisi yang disebutkan di atas, Anda dengan ini setuju untuk memberikan Data Anda dan / atau data lain
            kepada Kami untuk digunakan lebih lanjut sesuai dengan Kebijakan ini.
        </p>
        <p>
            <strong>Statistik</strong>
        </p>
        <p>
            Kami dapat mengumpulkan informasi tertentu untuk analisis, termasuk nama perangkat, versi perangkat, nomor
            identifikasi perangkat, informasi perkiraan lokasi geografis (seperti area ID perangkat Anda), jaringan
            penyedia layanan ID, cara Anda menggunakan situs, dan alamat IP yang Anda gunakan untuk mengakses Internet.
            Kami mengumpulkan dan memproses informasi ini untuk memberikan pengalaman pengguna yang lebih personal, dan
            untuk menyesuaikan konten, meningkatkan produk kami, menganalisis efisiensi operasi bisnis kami,
            menganalisis pangsa pasar kami, meningkatkan keamanan jaringan dan layanan kami, dan mengaktifkan layanan
            kepada Anda.
        </p>
        <p>
            <strong>Isu</strong>
        </p>
        <p>
            Jika Anda mengalami masalah apa pun dengan akun Anda, Anda dapat memilih untuk mengirimkan informasi kepada
            Kami dan Kami dan / atau mitra Kami dapat memberikan bantuan kepada Anda. Anda setuju bahwa kami dapat
            mengumpulkan informasi yang relevan tentang masalah tersebut.
        </p>
        <p>
            <strong>Penyimpanan Data</strong>
        </p>
        <p>
            Beberapa layanan yang kami sediakan mengizinkan Anda untuk menyimpan data. Kami dapat mengumpulkan dan
            menyimpan data yang Anda unggah atau unduh dan data yang diperlukan untuk menjalankan unggahan dan unduhan.
        </p>
        <p>
            1.2. <strong>Lokasi</strong>
        </p>
        <p>
            Saat Anda mengakses layanan atau mencari informasi berdasarkan lokasi tertentu, Kami dapat mengumpulkan,
            menggunakan, dan memproses informasi di lokasi spesifik atau perkiraan di perangkat Anda. Hal ini
            memungkinkan Kami untuk memberikan layanan yang lebih baik kepada Anda. Informasi yang dikumpulkan dapat
            mencakup nomor identifikasi perangkat, jenis, model, dan informasi waktu sebenarnya saat berada di lokasi
            (termasuk yang diperoleh melalui GPS, Wi-Fi, dan ID jaringan penyedia layanan Anda). Kami mengumpulkan
            informasi lokasi yang tidak diketahui untuk menyediakan dan meningkatkan produk dan layanan berbasis lokasi
            yang disebutkan.
        </p>
        <p>
            1.3. <strong>Pengumpulan dan penggunaan informasi lainnya</strong>
        </p>
        <p>
            Kami dapat mengumpulkan informasi statistik agregat, seperti jumlah pengunjung ke situs web kami. Kami
            mengumpulkan informasi ini untuk memahami bagaimana orang menggunakan situs web, produk, atau layanan kami.
            Dengan cara ini, Kami dapat meningkatkan dan menyederhanakan layanan kami untuk lebih memenuhi kebutuhan
            pelanggan. Kami dapat, atas kebijakan kami sendiri, mengumpulkan, menggunakan, mentransfer, atau
            mengungkapkan informasi non-pribadi untuk tujuan lain.
        </p>
        <p>
            2. <strong>Penggunaan Cookies</strong>
        </p>
        <p>
            Untuk memastikan bahwa situs web kami berfungsi dengan baik, terkadang kami meletakkan file data kecil di
            komputer atau perangkat seluler Anda, yang dikenal sebagai cookie. Cookie adalah file teks sederhana yang
            disimpan di komputer atau perangkat seluler Anda oleh server situs web, dan hanya server itulah yang dapat
            mengambil atau membaca konten cookie. Setiap cookie bersifat unik pada pencarian web Anda. Cookie berisi
            informasi yang tidak diketahui, seperti pengenal unik, nama situs, nomor, dan karakter. Cookies memungkinkan
            situs web mengingat informasi, seperti preferensi Anda atau segala hal yang ada di keranjang belanja Anda.
        </p>
        <p>
            Sebagian besar situs web utama atau penyedia layanan internet melakukan ini untuk meningkatkan pengalaman
            pengguna dengan mengizinkan situs web untuk "mengingat" Anda, baik dari satu kunjungan (menggunakan "cookie
            sesi") atau untuk kunjungan berulang (menggunakan "cookie tetap"). Cookies membantu situs web mengingat
            pengaturan - bahasa, ukuran font, dan preferensi lain yang Anda gunakan untuk melihat situs web di komputer
            atau perangkat seluler. Dengan cara ini, Anda tidak perlu memasukkan ulang pengaturan ini setiap kali Anda
            mengunjungi kembali situs web kami. Jika sebuah situs web tidak menggunakan cookie, situs web tersebut akan
            memperlakukan Anda sebagai pengunjung baru setiap kali Anda membuka halaman baru di situs web tersebut.
            Misalnya, ketika Anda memasukkan detail login Anda dan pindah ke halaman lain, situs web tidak akan
            mengenali Anda, dan tidak akan dapat membuat Anda tetap masuk ke dalam situs. Cookie kami tidak digunakan
            untuk mengidentifikasi Anda secara pribadi. Mereka hanya digunakan untuk membuat situs web melayani Anda
            dengan lebih baik.
        </p>
        <p>
            Anda dapat menghapus semua cookie yang sudah ada di komputer Anda dan mengatur sebagian besar browser untuk
            memblokir cookie. Namun, jika Anda melakukannya, Anda mungkin harus menyesuaikan beberapa pengaturan
            preferensi secara manual setiap kali Anda mengunjungi situs web kami. Kami tidak menggunakan cookie untuk
            tujuan selain yang disebutkan di sini dan tidak mengumpulkan data pribadi apapun untuk tujuan lain.
        </p>
        <p>
            3. <strong>Pengungkapan Data Anda</strong>
        </p>
        <p>
            Kami tidak akan pernah menjual Data Anda kepada pihak ketiga tanpa sepengetahuan Anda. Namun, kami dapat
            mengungkapkan Data Anda kepada :
        </p>
        <p>
            3.1.<strong>Afiliasi kami atau pihak ketiga yang secara resmi bekerja sama dengan Kami :</strong>
        </p>
        <p>
            Kami mungkin perlu memberikan layanan tertentu kepada Anda melalui beberapa pihak yang bekerja sama dengan
            Kami. Oleh karena itu, kami dapat membagikan beberapa informasi pribadi Anda kepada pihak-pihak yang bekerja
            sama dengan Kami untuk memperkaya layanan kami dan meningkatkan pengalaman penggunaan Anda secara
            keseluruhan. Misalnya, ketika Anda memutuskan untuk membeli produk di situs web Kami, Kami perlu mengirimkan
            informasi Data Anda ke penjual barang yang relevan untuk memungkinkan mereka mengirimkan produk kepada Anda,
            atau untuk memungkinkan mereka yang bekerja dengan kami untuk menyediakan layanan untuk Anda. Kami melarang
            semua afiliasi kami atau pihak ketiga yang berwenang untuk menggunakan informasi pribadi yang dibagikan
            untuk tujuan lain.
        </p>
        <p>
            3.2. <strong>Instansi Pemerintah berdasarkan ketentuan hukum :</strong>
        </p>
        <p>
            Kami dapat mengungkapkan Data Anda jika diwajibkan oleh hukum, tindakan hukum, litigasi atau otoritas
            pemerintah, dan otoritas publik. Informasi Data Anda juga dapat diungkapkan kepada pihak-pihak dalam
            transaksi dalam keadaan dimana kami terlibat dalam reorganisasi, merger, atau likuidasi kepailitan.
        </p>
        <p>
            3.3.
            <strong>
                Perusahaan lain setelah Anda secara eksplisit menyetujui pengungkapan tersebut :
            </strong>
        </p>
        <p>
            Kami dapat membagikan Data Anda dengan perusahaan lain mana pun.
        </p>
        <p>
            4. <strong>Perubahan Data Anda</strong>
        </p>
        <p>
            Anda akan bertanggung jawab atas keakuratan informasi yang Anda kirimkan dalam Data Anda. Kami berusaha
            keras untuk menjaga keakuratan informasi Data Anda, dan Kami akan menghapus atau mengubah informasi tersebut
            atas permintaan Anda. Anda dapat menghubungi kami dengan mengirimkan email ke Layanan Pelanggan. Sesuai
            dengan syarat dan ketentuan Kami, Anda dapat mengelola Data Anda kapan saja, seperti informasi pendaftaran
            akun pribadi Anda.
        </p>
        <p>
            5. <strong>Perlindungan Data Anda</strong>
        </p>
        <p>
            Kami melakukan upaya pencegahan, termasuk namun tidak terbatas pada, tindakan teknis dan fisik, serta
            peraturan untuk melindungi informasi Data Anda dari akses, pengungkapan, penggunaan, pengubahan, perusakan,
            atau kehilangan yang tidak sah. Meskipun kami melakukan tindakan tersebut untuk melindungi Data Anda, Kami
            tidak mengklaim atau menjamin bahwa tindakan keamanan yang Kami lakukan adalah upaya keamanan yang 100%
            sempurna atau tidak dapat diretas.
        </p>
        <p>
            6. <strong>Pembaruan</strong>
        </p>
        <p>
            Setiap perubahan yang Kami buat dalam Kebijakan ini akan ditampilkan dalam bentuk pemberitahuan pada situs
            web Kami, Anda dengan ini setuju bahwa Anda berkewajiban untuk melihat, membaca dan mempelajari
            pemberitahuan tersebut. Demi kenyamanan Anda, kami menyarankan Anda untuk mengunjungi halaman ini dan
            membaca Kebijakan ini secara berkala.
        </p>
        <p>
            7. <strong>Hubungi Kami</strong>
        </p>
        <p>
            Jika Anda memiliki pertanyaan, komentar, atau saran, silakan kirim email ke Layanan Pelanggan.
        </p>
    </section>
    <!--/Section: Features v.4-->
</div>
