﻿
@{
    ViewData["Title"] = "Terms";
    Layout = "~/Views/Shared/_LayoutBlogs.cshtml";
}

<div class="container mt-5">
    <!--Section: Features v.4-->
    <section>

        <!--Section heading-->
        <h2 class="font-weight-bold h2">Term &amp; Condition</h2>
        <!--Section description-->
        <p>
            Welcome to Cataloc.co.id. Thank you for visiting our Website. This page
            displays the Terms and Conditions for the online marketing, promotion and
            selling activities, including electronic catalog (eCatalog) provided to you
            through pages and platform/Website/Websites owned or managed by Us known as
            www.Cataloc.co.id ("Website") or any other name specified later by Us
            ("Terms and Conditions"). Please take the time to read this Terms and
            Conditions before further accessing our Website. By accessing and having an
            account at our Website, You have agreed and are legally bound to this Terms
            and Conditions. Any updates made to this Terms and Conditions will be
            presented on the Website, and You are advised to see, read and study such
            amendments. For your convenience, we recommend You to visit this page and
            regularly read this Terms and Conditions. Any use of the Website after an
            update is displayed online will be deemed as Your acceptance of and
            adherence to the Terms and Conditions applicable at that time.    <strong></strong>
        </p>
        <p>
            You are aware that any use of the Website will be subject to the following
            Terms and Conditions and the Miscellaneous Provisions set by Us.
        </p>
        <p>
            1. <strong>ABOUT US</strong>
            <br>
            www.Cataloc.co.id, is a Website created, owned and managed by PT. Cataloc
            Indonesia
        </p>
        <p>
            1.1. Cataloc.co.id is an affiliated company of First Resources Group. The
            establishment of the company was legalized by the Minister of Law and Human
            Rights based on the Decree of the Minister of Law and Human Rights No.    <strong>XXX. XXXXXXX.XX.XX.XX. 2019</strong> , with its registered address
            at APL Tower - Central Park, 28th Floor Podomoro City, Jl. Letjend S.Parman
            Kav.28 Grogol-Petamburan, Jakarta Barat 11470, Indonesia. Cataloc.co.id is
            a company engaged in the B2B (Business to Business) to market, promote and
            sell goods online, including electronic catalog (e-Catalog) for its
            customers, provided through the Website.
        </p>
        <p>
            1.2. This Terms and Conditions is Our copyright-protected intellectual
            property. Any use of this terms and Conditions by any parties, including
            but not limited to the extract or copy of this Terms and Conditions or the
            use for other purposes, among others, for commercial purposes in offering
            products is the use that is not permitted. Violations of Our intellectual
            property rights are subject to sanctions by prevailing laws.
        </p>
        <p>
            1.3. We inform you that we are fully supported by a number of distributors
            and/or suppliers who provide their products on the Website. They have
            access to update the Products and therefore we advise You to review and
            re-check the information of products on the Website before you proceed with
            a transaction. For your convenience, aside from those regulated in the
            Miscellaneous Provisions, We may suspend Your Order from time to time in
            case such Products are goods that are prohibited, inappropriate or in
            violation of prevailing laws; we take such action for our mutual interest.
        </p>
        <p>
            2. <strong>DEFINITION</strong>
        </p>
        <p>
            2.1. In this Terms and Conditions:
        </p>
        <p>
            "<strong>Account</strong>" means your registered account in Cataloc.co.id,
            which you use to perform transactions on the Website;
        </p>
        <p>
            "<strong>You</strong>" means the Website User, with or without an Account
            and Customer
        </p>
        <p>
            "<strong>Business Days</strong>" means days other than Saturday, Sunday or
            National Holiday;
        </p>
        <p>
            "<strong>Product Information</strong>" means an accurate image,
            information, descriptions, and/ or any forms of data concerning Products,
            including but not limited to Price List and quantity, supplies,
            replacement, dismissal, warranty, type and/ or Product type;
        </p>
        <p>
            "<strong>We</strong>" means Cataloc.co.id or the Company;
        </p>
        <p>
            "<strong>Service</strong>" means information, services and/ or functions
            provided on the Website;
        </p>
        <p>
            "<strong>Customer</strong>" means any individual with an account and place
            order on the Website;
        </p>
        <p>
            "<strong>User</strong>" means any individual with an account and access as
            well use the Website, including the Customer;
        </p>
        <p>
            "<strong>Order</strong>" means an order placed by Customer to the Website
            to purchase a product;
        </p>
        <p>
            "<strong>Product</strong>" means product marketed, promoted and sold
            through the Website
        </p>
        <p>
            "<strong>System</strong>" means (a) system, platform, software, program, or
            Internet network, jointly or separately, and a unity managed and used on
            the Website to support the operation of the Website and implementation of
            marketing activities, sales, delivery and/ or Products payment through the
            Website and the provision of other services as provided on the Website,
            which connects Us and Customer, and (b) system, procedure and manual
            mechanism that is mutually agreed in writing by the Parties in terms of
            system, platform, software, program, or internet network as referred to (a)
            above has not operated or is not in operation because of certain condition
            or cause (including but not limited to condition of malfunction or a
            maintenance over a system, platform, software, program, or internet network
            as referred to in (a) above;
        </p>
        <p>
            "<strong>Term of Payment</strong>" means an option of payment methods where
            We shall deliver the Ordered Product prior to the payment by the Customer.
            The Customer is required to make payments to Cataloc.co.id in accordance
            with the payment due date arrangement agreed upon by the Customer and
            Cataloc.co.id during Order Confirmation.
        </p>
        <p>
            "<strong>Transaction</strong>" means a sale and purchase condition between
            the Customer and Us through the Website.
        </p>
        <p>
            2.2. References to an "article" or "clause" is an article or a clause in
            this Terms and Conditions;
        </p>
        <p>
            2.3. Titles and subtitles in this Terms and Condition are for ease of
            reference only and shall not in any way affect the interpretation or
            construction of this Terms and Conditions. Words with singular references
            shall also be considered plural and vice versa. Words with gender
            references shall include any gender and reference to person or party
            including individuals, companies, corporations, or partnership. Reference
            to "include" or similar words or phrases, means without limitation.
        </p>
        <p>
            3. <strong>REQUIREMENTS</strong>
            <br>
            To become User of Cataloc.co.id, You are required to fulfill the cumulative
            registration requirements as follows:
        </p>
        <p>
            3.1. You must be a business entity that is legally established under the
            laws of the Republic of Indonesia and holds a Taxable Company (PKP) status;
        </p>
        <p>
            3.2. You can become a User through Your representative either designated by
            the articles of association or through a power of attorney as an authorized
            party to sign all electronic documents issued for the purpose of
            Transaction in Our Website, as well as to provide relevant information or
            instructions related to Transaction, based on the applicable articles of
            associations and its amendments (if any);
        </p>
        <p>
            3.3. Manage Your Account independently;
        </p>
        <p>
            3.4. Submit the following documents during registration:
        </p>
        <p>
            3.4.1. Deed of Establishment and all of amandments made on the articles of
            association along with the approval or notification receipt from the
            Indonesian Ministry of Law and Human Rights;
        </p>
        <p>
            3.4.2. the board of Directors’ identification cards;
        </p>
        <p>
            3.4.3. Bank Account;
        </p>
        <p>
            3.4.4. Tax Identification Number (NPWP);
        </p>
        <p>
            3.4.5. Taxable EnterpreunerConfirmation Letter (SPPKP);
        </p>
        <p>
            3.4.6. Certificate of (Tax) Registration (SKT);
        </p>
        <p>
            3.4.7. Certificate of Domicile (SKDP/SKDU);
        </p>
        <p>
            3.4.8. Trade Business License (SIUP);
        </p>
        <p>
            3.4.9. Company Registration Certificate (TDP);
        </p>
        <p>
            3.4.10. Business Ethics;
        </p>
        <p>
            3.4.11. Master Agreement; and
        </p>
        <p>
            3.4.12. other licenses that must be obtained by Your company based on the
            prevailing laws and regulations;
        </p>
        <p>
            3.5. Fill up and sign the Compliance Form which we will provide to You
            during registration.
        </p>
        <p>
            4. <strong>PROHIBITION</strong>
            <br>
            In using this Website You are, either by action or omission, prohibited
            from commiting the acts as follows:
        </p>
        <p>
            4.1. misusing this Website for any reason or purpose that conducts or
            supports any violation of the law;
        </p>
        <p>
            4.2. transmiting, disseminating, and/ or distributing viruses into or
            through the Website in any form including, but not limited to, Trojan
            horses, worms, logic bombs;
        </p>
        <p>
            4.3. sending or posting dangerous materials or technology of any form into
            or through the Website;
        </p>
        <p>
            4.4. not to commit violation of any rights of any party, including Our
            intellectual property rights or any other party,
        </p>
        <p>
            4.5. conducting any act of pretending or claiming to be another person or
            entity or a particular party, providing wrong, untrue, or false
            description, identity, or information;
        </p>
        <p>
            4.6. acting, writing, or disseminating in any way messages or contents that
            are offensive, harassing, violating decency and courtesy, or causing
            disruption to the public order;
        </p>
        <p>
            4.7. entering or obtaining illegal access and/ or intervening or disrupting
            computer system or network that connects or is connected to the Service
            and/ or the Website;
        </p>
        <p>
            4.8. corrupting or causing damage to data on the Website;
        </p>
        <p>
            4.9. disturbing other Users;
        </p>
        <p>
            4.10. sending advertisement or unsolicited promotional material into the
            Website;
        </p>
        <p>
            4.11. attempting to affect the performance or function of any computer
            facilities or access to the entire Website, and/ or
        </p>
        <p>
            4.12. intervening, intercepting, and/ or conducting other adverse measures
            or cause any disturbance to the Website and/ or server Website and/ or
            hosting of the Website.
        </p>
        <p>
            Any violation of these Terms and Conditions is a violation to the legal
            provisions and/or prevailing laws and regulations in the Republic of
            Indonesia. In the event that any of the referred violations occur, We are
            entitled to take necessary legal actions in accordance with the prevailing
            laws.
        </p>
        <p>
            5. <strong>ENTIRE AGREEMENT</strong>
        </p>
        <p>
            5.1. This Terms and Conditions apply to all Transaction. The Terms and
            Conditions and Miscellaneous Provisions implemented by Us constitute entire
            agreement between you and Us relating to the usage of Website. Any waiver
            of one or more of the Terms and Conditions and/ or Other Conditions shall
            be effective only if made in writing, and signed by an official who has the
            right and authority to act for and on behalf of Us.
        </p>
        <p>
            5.2. Transactions occurs between the Customer and Cataloc.co.id will be
            based on the agreement between parties with respect and adhere to the Terms
            and Conditions and other Conditions as well as the agreement between
            Cataloc.co.id with the distributor and/ or supplier of Cataloc.co.id.
        </p>
        <p>
            6. <strong>TERMS OF TRANSACTION</strong>
        </p>
        <p>
            6.1. <strong>Registration</strong>
        </p>
        <p>
            6.1.1. In order to place an Order on the Website, you must register by
            creating an account on the Website. You are required to provide Us with an
            accurate,complete, and truthful information and data. The arrangements of
            your personal data shall be regulated in Our Privacy Policy.
        </p>
        <p>
            6.1.2. You are required to notify to Us if there is any changes to the
            information provided to us through the relevant part of the Website.
        </p>
        <p>
            6.1.3. You are restricted from misusing this Website for any reason and
            purpose, including but not limited to create multiple User accounts.
        </p>
        <p>
            6.2. <strong>User ID dan Password</strong>
            <br>
            Your User ID and password are confidential codes and You shall have the
            full authority. Any misuse of the password and user ID is Your full
            responsibility. You hereby waive and release Us from all charges, claims
            and/or accusations in any form and by any means possible, either from the
            third parties or from You as a result of misuse of User ID and / or
            password.
        </p>
        <p>
            7. <strong>RESPONSIBILITIES</strong>
        </p>
        <p>
            7.1. Unless otherwise stated in this Terms and Conditions or in the Product
            Information and as long as it is permitted by applicable laws and
            regulations, We hereby waive all representations, warranties, undertakings
            and/or other requirements which may be deemed to be provided or implied in
            the law, regulations, customary law and general customs and we are not
            liable for any costs, loss or damage of any kind, including but not limited
            to
        </p>
        <p>
            7.1.1.any direct, indirect, special and/or consequential damages,
        </p>
        <p>
            7.1.2.damages for loss of use, profits, data or any other form,
        </p>
        <p>
            7.1.3.defamation or damage of reputation, or
        </p>
        <p>
            7.1.4.the cost of procurement of substitute products, each arise from or
            related to the use, inability to use, performance or failures of the
            Website and/or any content, content, materials, data, descriptions, images
            and information displayed on the Website or placed or contained in the
            Website.
        </p>
        <p>
            We hereby state that we make no statement and/or warranty that the Website
            is free of viruses and/or other malicious materials on the Website which
            can lead to the damage of the media, network, systems and/or equipment that
            You use to access this Website. You hereby agree and commit to free and
            release Us from any claims, demands and/or accusation from any loss that
            You experience in relation with that matter.
        </p>
        <p>
            7.2. We are not responsible to the User or to any other party for any loss
            suffered by You and/or any party which are caused by failures, delays
            and/or interruption of service. In regards with the aforementioned matter,
            Customer agrees that Customer is unable to file a claim, a charge and/or an
            accusation of any form to us for any loss or damage arise.
        </p>
        <p>
            7.3. You hereby state and agree that the use of the Website by You is at
            your own risk based on Your own initiative without any force from Us. This
            Terms and Conditions and the Miscellaneous Provisions shall not be
            considered, construed or interpreted as a guarantee by Us
        </p>
        <p>
            7.3.1.over the compatibility of the Website with media, networks, systems
            and/or equipment that You use to access his Website,
        </p>
        <p>
            7.3.2.that this Website is free from interruptions, viruses and/or bugs,
        </p>
        <p>
            7.3.3.that the Website is without flaws
        </p>
        <p>
            7.3.4.that the results of the process of Order through the Website is
            always accurate and reliable, and
        </p>
        <p>
            7.3.5.any shortcoming of the Website, whether conveyed by You or that We
            find out will be fixed by Us.
        </p>
        <p>
            8. <strong>PERSONAL DATA PROTECTION</strong>
        </p>
        <p>
            Please refer to [
            <a href="@Url.Action("Privacy", "Blogs")">
                Our Privacy Policy
            </a>
            ] , which constitutes an integral part of this Terms and Conditions.
        </p>
        <p>
            9. <strong>FORCE MAJEURE</strong>
        </p>
        <p>
            9.1. We are not responsible to You for any breach, disruptions or delays in
            the execution of the Transaction or this Terms and Conditions caused by
            force majeure or any circumstances or conditions beyond our control,
            including but not limited to:
        </p>
        <p>
            9.1.1. Strike, lock-out or other industrial actions;
        </p>
        <p>
            9.1.2. Civil commotion, riot, invasion, terrorist attack or threat of
            terrorist attack, war (whether declared or not) or threat or preparation
            for war;
        </p>
        <p>
            9.1.3. Fire, explosion, storm, flood, earthquake, landslides, plague or
            other natural disasters.
        </p>
        <p>
            9.1.4. Impossibility for the use of trains, cargo airplane, motorized
            transport or other means of transport, both public and private;
        </p>
        <p>
            9.1.5. Impossibility of the use of public or private telecommunications
            networks;
        </p>
        <p>
            9.1.6. Actions, decisions, laws, regulations or government restrictions,
            shipping, postal or other transportation-related strikes, failure or
            accident; and/or
        </p>
        <p>
            9.1.7. Damage to the network or computer system or Internet system on Our
            Website.
        </p>
        <p>
            9.2. In the case where such events referred to in Article 15.1 above last
            for more than a week, either You or Us may immediately terminate the
            Transaction by providing a written notice and We have no obligation other
            than to return the Product that You have ordered and and products in which
            You have paid but has not been delivered by Us.
        </p>
        <p>
            9.3. If we have given the transaction to provide Products that are
            identical or similar to more than one Customer, yet We can not meet our
            obligations to You due to the occurrence of one or more events referred in
            Article 15.1 above, we reserve the right to decide which Transactions
            remain to be valid and which Transactions to be terminated.
        </p>
        <p>
            9.4. We have the absolute discretion to determine which solution We will
            undertake in order to fulfill Our obligations based on the Transaction in
            case the events referred to in Article 15.1 above occurs.
        </p>
        <p>
            10. <strong>NOTIFICATION</strong>
        </p>
        <p>
            10.1. Any notice to You with respect to the Transaction will be provided in
            writing, either by letter or email to the parties concerned at the latest
            identified address or e-mail.
        </p>
        <p>
            10.2. The notification sent via post must be deemed to have been received
            by the person concerned within two (2) Business Days from the date of
            delivery, if the delivery to the recipient's address in Indonesia.
        </p>
        <p>
            10.3. A notice delivered via email shall be deemed received by the person
            concerned within two (2) calendar days from the date the email was sent.
        </p>
        <p>
            10.4. In proving the delivery notification, written or electronic evidence
            are sufficient to prove that the letter or email was sent.
        </p>
        <p>
            11. <strong>INTELLECTUAL PROPERTY RIGHTS</strong>
        </p>
        <p>
            11.1. All substance, content, materials, data, descriptions, images and
            information displayed on the Website or placed or contained in the Website,
            including but not limited to Our text, graphics, logos, button icons,
            images, audio clips, digital downloads, campaign title and/or compilation
            of data, and the advertisement (but not including Product Information as
            well as brands, logos, pictures, symbols and/or other visual forms related
            to the Product) belong to Us or We have acquired the rights from its rights
            or license holders which is protected by the applicable laws and
            regulations. You are not permitted to publish, manipulate, distribute,
            copy, disseminate and/or reproduce in whatsoever ways or formats, one or
            more substance, content, materials, data, descriptions, images and
            information displayed on the Website (including Product Information) or the
            copy for any purpose including but not limited to Your business needs as
            well as in the framework of cooperation with any other party.
        </p>
        <p>
            11.2. Each graphics, logos, page titles, icons buttons, text, or service
            names included in or available through the Website (but not including
            Product Information as well as brands, logos, pictures, symbols and/or
            other visual forms associated with the product) is Our trademark or license
            holder, protected by the Copyright Law in Indonesia and apply in other
            jurisdictions. Cataloc.co.id trademark can not be in any way and under any
            circumstances be used in relation to goods, services, products and/or other
            things that are not available on the Website, including in any way or is
            likely to cause confusion among the public as well as Customers or in any
            manner that undermine or discredits Us or the Website. All other trademarks
            or other intellectual property rights that are not owned by Us that appear
            on the Website are the property of their respective owners.
        </p>
        <p>
            11.3. You may not use any part of Our Website or any or all of the
            substances, contents, materials, data, descriptions, images and information
            displayed on the Website or placed or contained on Our Website for any
            purpose whatsoever, including but not limited to commercial purposes
            without obtaining prior direct and official written license from Us or the
            concerned license holder. In the case where we are aware of any violation
            of intellectual property rights, we may take legal action in accordance
            with the applicable laws and regulations.
        </p>
        <p>
            11.4. If you print, copy or download any part of the Website but infringe
            one or more clauses of this Terms and Conditions, your right to use the
            Website will be immediately terminated without prior notice and without the
            necessary consent from You and you are obliged to, according to Our
            decision or policy, return or destroy any copies of substance, content,
            materials, data, descriptions, images and information displayed on the
            Website or placed or contained within our Website that you have made or
            accessed or owned. You are prohibited in any way to modify, translate,
            decipher, disassemble or create derivative works based upon the software or
            any accompanying documentation provided by Us or by the license holder
            concerned.
        </p>
        <p>
            12. <strong>ON SITE ADVERTISEMENT</strong>
            <br>
            We will do Our best efforts to comply with any laws and regulations
            relating to the management of the Website. However, there are conditions in
            which the advertisers on the Website act beyond Our control and ability,
            which may violate the prevailing laws. In such circumstances, the
            responsibility for this violation is the sole responsibility of the
            advertisers in the Website and You agree to waive and release Us from such
            responsibility.
        </p>
        <p>
            13. <strong>LINKS TO THE WEBSITE</strong>
        </p>
        <p>
            13.1. You are prohibited from creating a link in such a way that show an
            association, approval or endorsement from Us without Our Consent.
        </p>
        <p>
            13.2. You are not allowed to create a link from any website that is not
            owned by You.
        </p>
        <p>
            13.3. The Website must not be framed on any other website, and You are
            restricted to create a link to your website in Website page, and you are
            not allowed to create a link to any part of this Website other than the
            front page. We reserve the right to withdraw the link permit without a
            notification to you and without Your consent.
        </p>
        <p>
            13.4. We are not responsible for the content and link content outside the
            Website or websites provided or posted by third parties, either entered by
            an anonymous customer or partner of Cataloc.co.id or by any party. With the
            display of links, sites or third-party content in the Website, it can not
            be interpreted or considered or assumed that We or affiliated parties,
            officials, officers or employees have a cooperation with such third party.
        </p>
        <p>
            14. <strong>ANTI-BRIBERY AND ANTI-CORRUPTION</strong>
        </p>
        <p>
            14.1. You hereby represents and warrants that the you have known, read, and
            understood completely the prevailing law and regulations in Indonesia
            relating to anti-bribery and anti-corruption, including the Penal Code,
            Bribery Crime Act (Act No. 11 of 1980),Corruption Erradicaton Act (Act No.
            31 of 1999 jo. Act No. 20 of 2001),along with their ammendments, addendums,
            or implementing provisions (“Regulations on Anti-Bribery and
            Anti-Corruption”) in every business transactions and activities conducted
            in relation to this Agreement, and will not commit any action that would or
            might violate the Regulations on Anti-Bribery and Anti-Corruption.
            Therefore, you herewith agree that:
        </p>
        <p>
            14.1.1. You shall not employ and maintain any individual who is a
            government official or employee, including employees from corporations,
            agents, or bodies owned or controlled by the government, with exceptions to
            the case where the official maintained is working as a consultant – and if
            necessary – that the official maintained has obtained an approval by the
            work authority or employer competent in the related consulting services.
        </p>
        <p>
            14.1.2. You shall not, directly nor indirectly, pay for, offer, promise,
            allow to pay for, or divert any amount of money or any other valuables,
            including gifts, political donations, facilitation payments, or charity, to
            any party, including private or government official or employee, or to
            political parties or candidates in exchange for a political office, with
            the aims of influencing decision-making in favor of the You or
            Cataloc.co.id’s business in connection to this Agreement that is against
            the Regulations on Anti-Bribery and Anti-Corruption.
        </p>
        <p>
            14.1.3. You shall fulfill and ensure that each leaders, owners,
            shareholders, officials, directors, employees, and agents comply with all
            prevailing Regulations on Anti-Bribery and Anti-Corruption in every
            business transactions and activities conducted in connection with this
            Agreement.
        </p>
        <p>
            14.1.4. You will always take reasonable measures to ensure that every
            individual and bodies employed or associated with your company in
            connection with the Cataloc.co.id business in this Agreement shall not
            violate this provision nor the Regulations on Anti-Bribery and
            Anti-Corruption.
        </p>
        <p>
            14.1.5. You shall write to Cataloc.co.id in the case if any individual
            employed or associated with your company emerges to be a government
            official, political official or candidate, with exceptions to the case
            where the official maintained is working as a consultant – and if necessary
            – that the official maintained has obtained an approval by the work
            authority or employer competent in the related consulting services.
        </p>
        <p>
            14.1.6. You shall keep correct and accurate record necessary to demonstrate
            compliance to this Agreement and shall provide Cataloc.co.id with a written
            ceritification of compliance based on request.
        </p>
        <p>
            14.1.7. Cataloc.co.id in entitled to audit the your company’s books and
            records in order to assess compliance towards provisions of this Agreement,
            depending on the fairness of place, date, and time of such audit, as long
            as the books and records are related with the your company’s work
            performance in this Agreement.
        </p>
        <p>
            14.2. You are required to write immediately to Cataloc.co.id in the case
            where a Cataloc.co.id employee is found to violate or reasonably suspected
            of violating one or several of these provisions, including the Regulations
            on Anti-Bribery and Anti-Corruption, in carrying out his/her duties with
            You based on this Agreement.
        </p>
        <p>
            14.3. You shall waive, release, and indemnify Cataloc.co.id from any form
            of waive and release as well as indemnify Cataloc.co.id from any form of
            legal claim and/or compensation arising from other parties related to your
            violation and/or negligence of one or several of these provision and the
            Regulation on Anti-Bribery and Anti-Corruption, including your negligence
            in carrying out duties according to subsection 1 and 2 of this Clause. Any
            form of representation, action, and promises made or conducted by You
            towards a third party that violates these provision and the Regulation on
            Anti-Bribery and Anti-Corruption is a representation, action, and promises
            made and liable to your own accord, and does not represent Cataloc.co.id.
        </p>
        <p>
            15. <strong>WAIVER</strong>
            <br>
            This Site and all its contents are displayed as it is and as provided with
            neither written nor hidden warranties, and you agree that You utilize or
            use the Service and/or the Site at your own risk. We do not make any
            representations, warranties, or guarantees in any form, neither written nor
            hidden, including but not limited to any representations, warranties, or
            traded guarantee, suitability for public or specific purposes for
            non-infringement, accuracy, or completeness of answers, results, or
            virus-free, in relation to the Site and its contents, or or any other
            matter in connection with the Website.
        </p>
        <p>
            16. <strong>SEPARATION</strong>
            <br>
            If any clause in this Terms and Conditions becomes or is declared invalid,
            illegal or unenforceable under the applicable law or by the order of an
            authorized court, it will not affect the provision, article, or any other
            part of this Terms and Conditions, and all will remain valid and legally
            binding.
        </p>
        <p>
            17. <strong>RELATIONSHIP</strong>
            <br>
            No provision of the Terms and Conditions which create a partnership, agency
            or employer and employee relationship between You and Us.
        </p>
        <p>
            18. <strong>THIRD PARTY RIGHTS</strong>
            <br>
            No person or any party other than You and Us have the right or entitled to
            benefit from the contract between You and Us as well as from this Terms and
            Conditions.
        </p>
        <p>
            19. <strong>APPLICABLE LAW</strong>
            <br>
            The Terms and Conditions and the Contract (and all non-contractual
            obligations arising from or related with this Terms and Conditions as well
            as the Contract) are regulated and construed in accordance with the laws of
            Indonesia. Both We and You hereby adhere to the non-exclusive jurisdiction
            of the South Jakarta District Court. All transactions, correspondence and
            contact between Us and You will be made or done in Indonesia or the
            Indonesian language along with the English translations.
        </p>
        <p>
            20. <strong>AMENDMENT</strong>
        </p>
        <p>
            We reserve the right to amend this Terms and Conditions at any time by
            displaying on the Website. You hereby agree that you are required to view
            and read the updates. If you disagree, not consent, or object such
            amendment, You are requested to immediately stop using and/or accessing the
            Website, and deactivate Your account. If You do not perform such actions,
            You are deemed to have consented, agreed and accepted the amendment of the
            Terms and Conditions. Any use of the Website after such update was
            displayed online will be considered as an acceptance of and adherence by
            You to the amendment of the Terms and Conditions applicable at that time.
            For every placement made on the Website, You agree to be subject to the
            prevailing Terms and Conditions applied on the date You place Your Order.
            You are obliged and responsible to read, review and understand the latest
            Terms and Conditions everytime you place Your Order.
        </p>
        <p>
            We and You hereby agree to waive the provisions of sub-paragraph 2 and 3 of
            Article 1266 of the Indonesian Civil Code, to the extent that the court's
            decision is required to terminate this Terms and Conditions.
        </p>
        <p>
            <em>Terms and Conditions was lastly updated on 17 December 2019</em>
        </p>
    </section>
    <!--/Section: Features v.4-->
</div>
