﻿@model WebPortal.Model.T_FAQ
@{
    ViewBag.Title = "Web Portal | Add FAQ Content";
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Add New <strong>FAQ</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/FAQ/ListFAQContent" class="btn btn-purple" onclick="return confirm('Are you wish to discard this changes?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @using (Html.BeginForm("AddFAQContent", "FAQ", FormMethod.Post, new { @class = "contactForm", @enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>Project : </h6>
                            </div>
                            <div class="span8 form-group">
                                @Html.DropDownListFor(model => model.ProjectCode, ViewBag.ProjectList as SelectList, "*Choose Project", new { @class = "form-control", @style = "width:300px" })
                                <a href="/FAQ/CreateProject" class="btn btn-yellow" style="margin-top:-12px"><i class="icon-plus"></i> Add New</a>
                                @Html.ValidationMessageFor(model => model.ProjectCode, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>Group : </h6>
                            </div>
                            <div class="span8 form-group">
                                @Html.DropDownListFor(model => model.GroupFAQ, ViewBag.GroupList as SelectList, "*Choose Group", new { @class = "form-control", @style = "width:300px" })
                                @Html.ValidationMessageFor(model => model.GroupFAQ, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>Question : </h6>
                            </div>
                            <div class="span10 form-group">
                                @Html.TextAreaFor(model => model.Q, new { @id = "Q", @class = "form-control", @placeholder = "*Question", @rows = "2", @style = "resize:none" })
                                @Html.ValidationMessageFor(model => model.Q, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>Answer : </h6>
                            </div>
                            <div class="span10 margintop10 form-group">
                                @Html.TextAreaFor(model => model.A, new { @id = "A", @class = "form-control", @placeholder = "*Answer", @rows = "16", @style = "resize:none" })
                                @Html.ValidationMessageFor(model => model.A, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-center">
                                <button class="btn btn-large btn-theme margintop10" type="submit">Save</button>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

