﻿@model WebPortal.Model.T_MsProject
@{
    ViewBag.Title = "Web Portal | Create Project";
}


<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Create Project</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/FAQ/ListFAQContent" class="btn btn-purple" onclick="return confirm('Are you wish to discard this project?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @using (Html.BeginForm("CreateProject", "FAQ", FormMethod.Post, new { @class = "contactForm", @enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>Project Code : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.ProjectCode, new { @id = "ProjectCode", @class = "form-control", @placeholder = "*Project Code" })
                                @Html.ValidationMessageFor(model => model.ProjectCode, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2 form-group">
                                <h6>Project Name : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.ProjectName, new { @id = "ProjectName", @class = "form-control", @placeholder = "*Project Name" })
                                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-center">
                                <button class="btn btn-large btn-theme margintop10" type="submit">Create Project</button>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>