﻿@model List<WebPortal.Model.T_MsProject>
@{
    ViewBag.Title = "Web Portal | FAQ";
}

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="inner-heading">
                            <h2>Frequent Ask Questions
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container text-center">
                @foreach (var project in Model)
                {
                    <p>
                        <a href="/FAQ/ProjectIndex/?projectCode=@project.ProjectCode" class="btn btn-large btn-theme margintop10" style="width:40%">@project.ProjectName</a>
                    </p>
                }
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

</body>

