﻿@model WebPortal.Models.FAQProject
@{
    ViewBag.Title = "Web Portal | List FAQ Content";
}
@{
    int num = 1;
}


<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit Posted <strong>FAQ</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/FAQ/ListFAQ" class="btn btn-purple" ><i class="icon-chevron-left"></i>Back</a>
                    <a href="/FAQ/AddFAQContent" class="btn btn-theme">Add New FAQ</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h4><strong>@Model.ProjectName - @Model.GroupFAQ</strong></h4>

                    @if (Model.listProjectContent.Count > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.
                                    </th>
                                    <th>Question
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.listProjectContent)
                                {
                                    <tr>
                                        <td style="width: 5%">@num
                                        </td>
                                        <td style="width: 85%">@item.Question
                                        </td>
                                        <td style="width: 10%"><a href="/FAQ/EditFAQContent/?Id=@item.Id" class="btn btn-green"><i class="icon-edit"></i></a>&nbsp<a href="/FAQ/DeleteFAQContent/?Id=@item.Id" class="btn btn-red" onclick = "return confirm('Are you wish to delete this FAQ?');"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                    { num++; }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="media">
                            <div class="media-body">
                                <div class="media-content">
                                    <h6>There are currently no FAQ for this Group</h6>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>


