﻿@model List<WebPortal.Models.FAQProject>
@{
    ViewBag.Title = "Web Portal | List FAQ";
}
@{
    int num = 1;
}


<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit Posted <strong>FAQ</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/FAQ/AddFAQContent" class="btn btn-theme">Add New FAQ</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @if (Model.Count > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.
                                    </th>
                                    <th>Project Name
                                    </th>
                                    <th>Group
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="width: 5%">@num
                                        </td>
                                        <td style="width: 30%">@item.ProjectName
                                        </td>
                                        <td style="width: 25%">@item.GroupFAQ
                                        </td>
                                        <td style="width: 5%"><a href="/FAQ/ListFAQContent/?faqCode=@item.URL" class="btn btn-green"><i class="icon-folder-open"></i></a>
                                        </td>
                                    </tr>
                                    { num++; }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="media">
                            <div class="media-body">
                                <div class="media-content">
                                    <h6>There are currently no FAQ</h6>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>


