﻿@model WebPortal.Models.FAQProject
@{
    ViewBag.Title = "Web Portal | FAQ";
}
@{
    int num = 1;
}

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="inner-heading">
                            <h2>Frequent Ask Questions
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container text-center">
                <h2>@Model.ProjectName > @Model.GroupFAQ</h2>

                <div class="accordion" id="accordionFAQ">
                    @foreach (var content in Model.listProjectContent)
                    {
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQ" href="#collapseFAQ-@num">
                                    <i class="icon-plus"></i>@content.Question</a>
                            </div>
                            <div id="collapseFAQ-@num" class="accordion-body collapse">
                                <div class="accordion-inner" >
                                    <pre>@content.Answer</pre>
                                </div>
                            </div>
                        </div>
                        { num++; }
                    }
                </div>
                <p>
                    <a href="/FAQ/ProjectIndex/?projectCode=@Model.ProjectCode" class="btn btn-large btn-purple margintop10" style="width:20%">Back</a>
                </p>
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

</body>

