﻿@model WebPortal.Models.FAQGroup
@{
    ViewBag.Title = "Web Portal | FAQ";
}

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="inner-heading">
                            <h2>Frequent Ask Questions
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container text-center">
                <h2>@Model.ProjectName</h2>

                @foreach (var group in Model.listGroup)
                {
                    <p>
                        <a href="/FAQ/ProjectFAQContent/?faqCode=@group.URL" class="btn btn-large btn-theme margintop10" style="width:20%">@group.GroupFAQ</a>
                    </p>
                }
                <p>
                    <a href="/FAQ/Index" class="btn btn-large btn-purple margintop10" style="width:20%">Back</a>
                </p>
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

</body>

