﻿
@{
    ViewData["Title"] = "Dashboard";
}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">Welcome Administrator Vendor</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box shadow-sm">
                    <h4 class="header-title mb-4">New Vendor</h4>
                    <div class="row">
                    </div>
                    <!-- end row -->
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-xl-6">
                <div class="card-box shadow-sm">
                    <h4 class="header-title">Sales History</h4>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card-box shadow-sm">
                    <h4 class="header-title">Status Order</h4>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->
