﻿@{
    ViewData["Title"] = "Vendor";
}


<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">Waiting Verify</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item">Vendor</li>
                        <li class="breadcrumb-item active">Waiting Verify</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box shadow-sm">
                    @*<div class="row">
                            <div class="col-12 col-md-2">
                                <select id="demo-foo-filter-status" class="mdb-select md-form md-outline">
                                    <option value="">Tampilkan Semua</option>
                                    <option value="active">Perusahaan</option>
                                    <option value="disabled">Bidang Usaha</option>
                                    <option value="suspended">Lokasi</option>
                                </select>
                                <label class="mdb-main-label">Filter</label>
                            </div>
                            <div class="col-12 col-md-2">
                                <div class="md-form md-outline">
                                    <input id="demo-foo-search" type="text" id="search_table" class="form-control" autocomplete="on">
                                    <label for="search_table">Search</label>
                                </div>
                            </div>
                        </div>*@
                    <table id="grid" class="table table-striped table-borderless" width="100%"></table>
                </div>
            </div>
        </div>
        <!-- end row -->
        <!-- Add Feedback modal content -->
        <div id="feedbackModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                    <div class="modal-body">
                        <h4 class="text-center m-b-10">
                            <span>Feedback Vendor</span>
                        </h4>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputName" class="col-form-label">Alasan</label>
                                                <textarea type="textarea" class="form-control" rows="3" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group account-btn text-center mt-3 mb-0">
                                            <div class="col-12">
                                                <button class="btn w-lg btn-outline-custom waves-effect waves-light" data-dismiss="modal" aria-hidden="true">Batal</button>
                                                <button class="btn w-lg btn-custom waves-effect waves-light" type="submit">Kirim Feedback</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div> <!-- container -->

</div> <!-- content -->

@section Scripts {
    <script src="~/webportal/vendor/admin-vendor.js" type="text/javascript"></script>
}

