/* =============
   FAQ
============= */

.question-q-box {
  height: 30px;
  width: 30px;
  color: $white;
  background-color: $custom;
  text-align: center;
  border-radius: 50%;
  float: left;
  line-height: 30px;
}
.question {
  margin-top: 0;
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
}
.answer {
  margin-left: 50px;
  color: $muted;
  margin-bottom: 10px;
}

.faq-display {
  margin-bottom: 30px;

  ol li {
    color: $muted;
    margin-left: 25px;
  }
}