/* =============
   Modals
============= */

.modal {
  .modal-dialog {

    .close {
      top: 25px;
      position: absolute;
      right: 25px;
      height: 36px;
      width: 36px;
      background-color: $white;
      opacity: 1;
      border: 2px solid $custom;
      text-shadow: none;
      color: $custom;
      border-radius: 50%;
      padding: 0;
	  z-index: 9;
    }

    .modal-title {
      margin: 0;
    }

    .modal-content {
      border: none;
      box-shadow: none;

      .modal-header {
        border-bottom-width: 2px;
        margin: 0;
      }
      .modal-body {
        padding: 20px;
      }

    }
  }
}

.modal-backdrop {
  background-color: $dark;
}
.modal-backdrop.show {
  opacity: .6;
}

.modal-full {
  width: 98%;
}

.modal-content {
  .nav.nav-tabs + .tab-content {
    margin-bottom: 0;
  }
  .panel-group {
    margin-bottom: 0;
  }
  .panel {
    border-top: none;
  }
}

/* Custom-modal */
.custombox-open {
  body {
    padding-right: 0 !important;
  }
}

.modal-demo {
  background-color: $white;
  width: 600px !important;
  border-radius: 4px;
  display: none;

  .close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: $light;
  }
}

@media (max-width: 768px ) {
  .modal-demo {
    width: 100% !important;
  }
}

.custom-modal-title {
  padding: 15px 25px 15px 25px;
  line-height: 22px;
  font-size: 18px;
  background-color: $dark;
  color: $white;
  text-align: left;
  margin: 0;
}

.custom-modal-text {
  padding: 20px;
}

.custombox-modal-wrapper {
  text-align: left;
}

.custombox-modal-flash, .custombox-modal-rotatedown {
  .close {
    top: 20px;
    z-index: 9999;
  }
}

.toast-success {
  background-color: #00c851;
}

.upload-delete {
  position: absolute;
  right: -15px;
  top: 6px;
}
