/* =============
   Print css
============= */

@media print {
  .page-title-box,.topbar-left,.hidden-print,.breadcrumb,.page-title,.footer,.topbar {
    display: none;
    margin: 0;
    padding: 0;
  }
  .left,.right-bar,.page-title-dashboard {
    display: none;
  }
  .content {
    margin-top: 0;
    padding-top: 0;
  }
  .content-page {
    margin-left: 0;
    margin-top: 0;
  }
  .body {
    border: none;
    padding: 0;
    margin-bottom: 0;
  }
  .shadow-sm {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
  }
}