
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');


// Color variables

$custom: #0d47a1;

$white: #ffffff;
$primary: #0d47a1;
$secondary: #9a9a9a;
$success: #00e25b;
$info: #33b5e5;
$warning: #fb3;
$danger: #ff4f5e;
$purple: #8e24aa;
$pink: #ec407a;
$muted: #a7a7a7;
$light: #e3eaef;
$light3: #f3f3f3;
$light7: #797979;
$dark: #495057;
$notification: #fe1212;
$grad-custom: linear-gradient(90deg, rgba(13,71,161,1) 0%, rgba(20,91,203,1) 100%);
$border-form: #dadce0;


// Body Background
$bg-body: #f9f9f9;
// $bg-body: #f8f8f8;


// Shadow
$shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
$shadow-lg: 0 0 24px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.0);
$shadow-hg: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
$shadow-b: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
$shadow-hb: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

//Background left-sidebar
$bg-leftbar: #ffffff;


//Background left-sidebar Dark
$bg-leftbar-dark: #313541;
$bg-leftbar-menu-color: #0d47a1;

// Leftbar width
$leftbar-width: 240px;


// Small Leftbar width
$leftbar-width-sm: 170px;


// Width variables
$width: 100%;


// Height variables
$height: 100%;


//Font variables
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Rubik', sans-serif;


//Font Base
$font-size-base: 14px;

//Border
$border-box: #e0e0e0;

$hr-light1: rgba(117, 117, 117, 0.2);