﻿@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPortal</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon_cataloc.ico">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
        <link href="~/lib/mdb/css/landing-vendor.css" rel="stylesheet">
        <link href="~/lib/fap-van/assets/css/icons.css" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
        <link href="~/lib/mdb/css/landing-vendor.min.css" rel="stylesheet">
        <link href="~/lib/fap-van/assets/css/icons.min.css" rel="stylesheet">
        <link href="~/css/site.min.css" rel="stylesheet">
    </environment>
</head>
<body>
    <!--Main Navigation-->
    <header class="header-body-blogs">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Vendor")"><img src="~/lib/fap-van/assets/images/logo_white.png"></a>
            </div>
        </nav>
    </header>
    <!--Main Navigation-->
    <!--Main Layout-->
    <main class="main-body-blogs">
        @RenderBody()
    </main>
    <!--Main Layout-->
    <!--Footer-->
    <footer class="page-footer pt-5 text-center text-md-left mt-5">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-3">
                    <h5 class="font-weight-bold">Hubungi Kami </h5>
                    <p>
                        <i class="fa fa-envelope mr-1"></i> webmaster@cataloc.co.id<br>
                        <i class="fa fa-phone mr-1"></i> +62 21 2929 8888
                    </p>
                </div>
                <!--/.First column-->

                <hr class="w-100 clearfix d-md-none">

                <!--Second column-->
                <div class="col-md-3">
                    <h5 class="font-weight-bold">Informasi</h5>
                    <ul class="list-unstyled">
                        <li id="link-login-vendor"><a href="@Url.Action("Index", "Vendor")">Login Cataloc</a></li>
                        <li><a href="@Url.Action("Terms", "Blogs")">Term &amp; Condition</a></li>
                        <li><a href="@Url.Action("Privacy", "Blogs")">Kebijakan Privasi</a></li>
                        <li><a href="@Url.Action("FAQ", "Blogs")">FAQ</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="w-100 clearfix d-md-none">

                <!--Third column-->
                <div class="col-md-6">
                    <h5 class="font-weight-bold">Vendor</h5>
                    <ul class="list-unstyled">
                        <li>Cataloc.co.id adalah B2B Marketplace dengan solusi terlengkap untuk pebisnis, mulai dari solusi transaksi bisnis, solusi e-procurement. Dengan dukungan sistem, ketersediaan produk, dan juga vendor terpercaya, Cataloc.co.id siap memenuhi kebutuhan pengadaan perusahaan Anda.</li>

                    </ul>
                </div>
                <!--/.Third column-->

            </div>
        </div>

        <!--Copyright-->
        <div class="footer-copyright py-3 mt-5 text-center">
            <div class="container-fluid">
                © 2019 <a href="https://cataloc.co.id"> Cataloc </a> Online
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/Footer-->
    <environment include="Development">
        <script type="text/javascript" src="~/js/aes.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <!-- MDB -->
        <!-- Bootstrap tooltips -->
        <script src="~/lib/mdb/js/popper.min.js" type="text/javascript"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="~/lib/mdb/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script src="~/lib/mdb/js/mdb.js" type="text/javascript"></script>
        <script src="~/webportal/webportal.bundle.js" type="text/javascript"></script>
        <script src="~/webportal/account/login-mdb.js"></script>
        <script src="~/webportal/account/register-mdb.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/aes.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <!-- MDB -->
        <!-- Bootstrap tooltips -->
        <script src="~/lib/mdb/js/popper.min.js" type="text/javascript"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="~/lib/mdb/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script src="~/lib/mdb/js/mdb.min.js" type="text/javascript"></script>
        <script src="~/webportal/webportal.bundle.min.js" type="text/javascript"></script>
        <script src="~/webportal/account/login-mdb.min.js"></script>
        <script src="~/webportal/account/register-mdb.min.js"></script>
    </environment>
    <script>
        new WOW().init();
    </script>
</body>
</html>
