﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPortal</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon_cataloc.ico">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fap-van/assets/css/icons.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/assets/css/metismenu.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/assets/css/style_blue.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body class="account-pages">
    @RenderBody()

    <script src="~/js/aes.js"></script>
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/fontawesome/js/fontawesome.min.js" type="text/javascript"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/lib/mdb/js/mdb.min.js"></script>
    <script src="~/webportal/webportal.bundle.min.js" type="text/javascript"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
