﻿@using Microsoft.AspNetCore.Http;

@{
    long num = DateTime.Now.Ticks;
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPortal</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon_cataloc.ico">
    <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
    <!-- Bootstrap fileupload css -->
    <link href="~/lib/fap-van/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" />
    <!-- Picker css -->
    <link href="~/lib/fap-van/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <link href="~/lib/fap-van/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Plugins css-->
    <link href="~/lib/fap-van/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/lib/fap-van/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/lib/fap-van/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fap-van/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <!-- App css -->
    <link href="~/lib/fap-van/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fap-van/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <!-- Plugins css-->
    <link href="~/lib/fap-van/plugins/stepper/stepper_blue.css" rel="stylesheet" type="text/css" />
    <!-- Summernote css -->
    <link href="~/lib/fap-van/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <!-- Toastr -->
    <link href="~/lib/fap-van/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!--Footable-->
    <link href="~/lib/fap-van/plugins/footable/css/footable.core.css" rel="stylesheet">
    <!-- Sweetalert 2 -->
    <link href="~/lib/fap-van/plugins/sweet-alert/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <!-- DataTables -->
    <link href="~/lib/fap-van/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom css -->
    <link href="~/lib/fap-van/assets/css/style_blue.css" rel="stylesheet" type="text/css" />
    <environment include="Development">
        <link href="~/css/site.css?@num" rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/site.min.css?@num" rel="stylesheet" type="text/css" />
    </environment>
    <!-- Tour -->
    <link href="~/lib/fap-van/plugins/tour/bootstrap-tour-standalone.css?@num" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimScrollDiv active" style="position: relative; overflow: hidden; width: auto; height: 637px;">
                <div class="slimscroll-menu in" id="remove-scroll" style="overflow: hidden; width: auto; height: 637px;">
                    <!-- User box -->
                    <div class="user-box tour-1">
                        <div class="userdp-sidebar" id="img_thumbnail">
                            <img src="~/lib/fap-van/assets/images/users/avatar-2.jpg" alt="image-user" title="Mat Helme" class="rounded-circle img-fluid">
                        </div>

                        @if (!string.IsNullOrEmpty(Context.Session.GetString("_CompanyName")))
                        {
                            <h5><a href="#" id="sidebar-cmp-name">@Context.Session.GetString("_CompanyName")</a> </h5>
                            <p class="text-muted" id="sidebar-vendor-pic">@Context.Session.GetString("_VendorPic")</p>
                        }
                        else
                        {
                            <h5><a href="#" id="sidebar-cmp-name"></a></h5>
                            <p class="text-muted" id="sidebar-vendor-pic"></p>
                        }
                    </div>
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        @await Html.PartialAsync("~/Views/Shared/Partial/_SideMenu.cshtml")
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div><div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 637px;"></div><div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Top Bar Start -->
            @await Html.PartialAsync("~/Views/Shared/Partial/_TopBar.cshtml")
            <!-- Top Bar End -->
            <!-- Start Page content -->
            @RenderBody()
            <!-- End of Content -->
            <footer class="footer">
                2019 © Cataloc.co.id
            </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <!-- App Js -->
        <script src="~/lib/fap-van/assets/js/metisMenu.min.js"></script>
        @*<script src="~/webportal/Waves.bundle.js"></script>*@
        <script src="~/lib/fap-van/assets/js/jquery.slimscroll.js"></script>
        <script src="~/lib/fap-van/assets/js/jquery.app.js"></script>
        <script src="~/lib/fap-van/assets/js/jquery.core.js"></script>
        <!-- MDB --> 
        <!-- Bootstrap tooltips -->
        <script src="~/lib/mdb/js/popper.min.js" type="text/javascript"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="~/js/aes.js"></script>
        <script src="~/lib/mdb/js/mdb.min.js" type="text/javascript"></script>
        <script src="~/webportal/webportal.bundle.min.js?@num" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/toastr/toastr.min.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/select2/js/select2.min.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/bootstrap-maxlength/bootstrap-maxlength.js" type="text/javascript"></script>
        <!-- DataTables -->
        <script src="~/lib/fap-van/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/datatables/dataTables.bootstrap4.min.js" type="text/javascript"></script>
        <!-- Sweetalert 2 -->
        <script src="~/lib/fap-van/plugins/sweet-alert/sweetalert2.all.min.js" type="text/javascript"></script>
        <!-- Tour -->
        <script src="~/lib/fap-van/plugins/tour/bootstrap-tour-standalone.js?@num" type="text/javascript"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <!-- App Js -->
        <script src="~/lib/fap-van/assets/js/metisMenu.min.js"></script>
        @*<script src="~/webportal/Waves.bundle.js"></script>*@
        <script src="~/lib/fap-van/assets/js/jquery.slimscroll.js"></script>
        <script src="~/lib/fap-van/assets/js/jquery.app.js"></script>
        <script src="~/lib/fap-van/assets/js/jquery.core.js"></script>
        <!-- MDB -->
        <!-- Bootstrap tooltips -->
        <script src="~/lib/mdb/js/popper.min.js" type="text/javascript"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="~/js/aes.js"></script>
        <script src="~/lib/mdb/js/mdb.min.js" type="text/javascript"></script>
        <script src="~/webportal/webportal.bundle.min.js?@num" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/toastr/toastr.min.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/select2/js/select2.min.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/bootstrap-maxlength/bootstrap-maxlength.js" type="text/javascript"></script>
        <!-- DataTables -->
        <script src="~/lib/fap-van/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="~/lib/fap-van/plugins/datatables/dataTables.bootstrap4.min.js" type="text/javascript"></script>
        <!-- Sweetalert 2 -->
        <script src="~/lib/fap-van/plugins/sweet-alert/sweetalert2.all.min.js" type="text/javascript"></script>
        <!-- Tour -->
        <script src="~/lib/fap-van/plugins/tour/bootstrap-tour-standalone.js?@num" type="text/javascript"></script>
    </environment>

    <script>
        var apiUrl = '@Context.Session.GetString("_APIUrl")',
            fileName = '@Context.Session.GetString("_PhotoVendor")',
            imgSideBar = $('#img_thumbnail'),
            companyName = '@Context.Session.GetString("_CompanyName")';

        // Instance the tour
        var tour = new Tour({
            smartPlacement: false, // does NOT work every time
            backdrop: true,
            steps: [{
                element: ".tour-1",
                placement: 'right',
                title: "Welcome ",
                content: "Selamat datang di Portal Vendor"
            }, {
                element: ".tour-2",
                placement: 'right',
                title: "Input Data",
                content: "Segera lengkapi data Perusahaan Anda pada menu 'Vendor' agar bisa menjadi supplier kami"
            }, {
                element: ".tour-3",
                placement: 'bottom',
                title: "Status",
                content: "Status berikut menandakan telah selesai kami verifikasi data Perusahaan Anda"
            }]
        });

        function startTour() {
            // Initialize the tour
            tour.init();
            // Restart from begining
            tour.restart();
            // Start the tour
            tour.start(true);
        }

        $(document).ready(function () {
            if ('@controller' == 'Vendor' && '@action' == 'Dashboard') {
                if (companyName == '') {
                    startTour();
                }
            }

            $.ajax({
                url: WEBPORTAL.URLContext.DownloadFile + '?fileName=' + fileName,
                method: 'GET',
                success: function (result, status, xhr) {
                    try {
                        this.srcObject = stream;
                    } catch (error) {
                        var base64str = result.data;

                        if (base64str != null) {
                            var binary = atob(base64str.replace(/\s/g, ''));
                            var len = binary.length;
                            var buffer = new ArrayBuffer(len);
                            var view = new Uint8Array(buffer);
                            for (var i = 0; i < len; i++) {
                                view[i] = binary.charCodeAt(i);
                            }

                            // create the blob object with content-type "application/pdf"
                            var blob = new Blob([view], { type: "image/jpg" });
                            var url = URL.createObjectURL(blob);

                            this.src = url;
                        }                        
                    }
                     
                    if (base64str != null && fileName != "") {
                        document.getElementById("img_bar").src = this.src; // top bar section
                        imgSideBar.html('<img src="' + this.src + '" class="rounded-circle userdp-sidebar-img" alt="image-user">'); // sidebar section
                    }
                },
                error: function (result, status, xhr) {
                    document.getElementById("img_bar").src = '/lib/fap-van/assets/images/users/avatar-2.jpg'; // top bar section
                    imgSideBar.html('<img src="/lib/fap-van/assets/images/users/avatar-2.jpg" class="rounded-circle userdp-sidebar-img" alt="image-user">'); // sidebar section
                },
                timeout: 60000
            });

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>