﻿
@{
    ViewData["Title"] = "Dashboard";
}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">Welcome PT Vendor</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->
        <!-- Stepper -->
        <div class="row">
            <div class="col-12 mb-4">
                <h4 class="header-title">Segera lengkapi data Anda!</h4>
                <div class="card shadow-sm">
                    <div class="stepper">
                        <div class="stepper-steps">
                            <div class="stepper-step stepper-step-isActive">
                                <div class="stepper-stepContent">
                                    <span class="stepper-stepMarker">1</span>Register
                                </div>
                            </div>
                            <div class="stepper-step stepper-step-isActive" onclick="window.location.href='vendor-data.html'">
                                <div class="stepper-stepContent">
                                    <span class="stepper-stepMarker">2</span>Pengisian Data
                                </div>
                            </div>
                            <div class="stepper-step">
                                <div class="stepper-stepContent">
                                    <span class="stepper-stepMarker">3</span>Verifikasi
                                </div>
                            </div>
                            <div class="stepper-step">
                                <div class="stepper-stepContent">
                                    <span class="stepper-stepMarker">4</span>Selesai
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row text-center">
            <div class="col-sm-6 col-xl-3 col-6">
                <div class="icon-widget">
                    <button type="button" class="btn btn-icon waves-effect waves-light btn-widget"> <i class="fa fa-file-text-o"></i> </button>
                    <span class="counter counter-sm">1</span>
                    <p class="m-b-5 mt-2 font-13 font-600">Order Baru</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-6">
                <div class="icon-widget">
                    <button type="button" class="btn btn-icon waves-effect waves-light btn-widget"> <i class="fa fa-calculator"></i> </button>
                    <p class="m-b-5 mt-2 font-13 font-600">Pembayaran</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-6">
                <div class="icon-widget">
                    <button type="button" class="btn btn-icon waves-effect waves-light btn-widget"> <i class="fa fa-truck"></i> </button>
                    <p class="m-b-5 mt-2 font-13 font-600">Status Order</p>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 col-6">
                <div class="icon-widget">
                    <button type="button" class="btn btn-icon waves-effect waves-light btn-widget"> <i class="fa fa-list-alt"></i> </button>
                    <span class="counter counter-sm">12</span>
                    <p class="m-b-5 mt-2 font-13 font-600">Penagihan</p>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-xl-6">
                <div class="card-box shadow-sm">
                    <h4 class="header-title">Sales History</h4>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card-box shadow-sm">
                    <h4 class="header-title">Status</h4>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->
