﻿@model List<WebPortal.Model.T_ContentChanges>
@{
    ViewBag.Title = "Web Portal | Pending Changes";
}
@{
    int num = 1;
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Pending Changes</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            @if (Model.Count > 0)
            {
                foreach (var group in Model.OrderBy(g => g.Modul).Select(g => g.Modul).Distinct())
                {
                    { num = 1; }               
                <div class="row">
                    <div class="span12">
                        <h4><strong>@group</strong></h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.
                                    </th>
                                    <th style="display: none">Id
                                    </th>
                                    <th>Modul
                                    </th>
                                    <th>Type
                                    </th>
                                    <th>Description
                                    </th>
                                    <th>Post Date
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Where(item => item.Modul == group))
                                {
                                    <tr>
                                        <td style="width: 5%">@num
                                        </td>
                                        <td style="display: none">@item.Id
                                        </td>
                                        <td style="width: 10%">@item.Modul
                                        </td>
                                        <td style="width: 10%">@item.Type
                                        </td>
                                        <td style="width: 52%">@(item.Type == "Add" ? "" : "(ID:" + (item.NewsId != null ? item.NewsId.ToString() : (item.FileId != null ? item.FileId.ToString() : item.TutorialCode != null ? item.TutorialCode : item.FAQId.ToString())) + ") ")@(item.Judul != null ? item.Judul.Substring(0, (item.Judul.Length > 43 ? 43 : item.Judul.Length)) + (item.Judul.Length > 43 ? "..." : "") : (item.Description != null ? item.Description.Substring(0, (item.Description.Length > 43 ? 43 : item.Description.Length)) + (item.Description.Length > 43 ? "..." : "") : (item.TutorialTitle != null ? item.TutorialTitle.Substring(0, (item.TutorialTitle.Length > 43 ? 43 : item.TutorialTitle.Length)) + (item.TutorialTitle.Length > 43 ? "..." : "") : item.Question.Substring(0, (item.Question.Length > 43 ? 43 : item.Question.Length)) + (item.Question.Length > 43 ? "..." : ""))))
                                        </td>
                                        <td style="width: 10%">@item.PostDate.ToString("dd MMM yyyy")
                                        </td>
                                        <td style="width: 13%"><a href="/Changes/PendingView/?ChangesId=@item.Id" class="btn btn-info"><i class="icon-info-sign"></i></a>&nbsp<a href="/Changes/Cancel/?ChangesId=@item.Id" class="btn btn-red" onclick = "return confirm('Are you sure you wish to cancel this changes?');"><i class="icon-remove"></i></a>
                                        </td>
                                    </tr>
                                    { num++; }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                }
            }
            else
            {
                <div class="media">
                    <div class="media-body">
                        <div class="media-content">
                            <h6>There are currently no pending changes</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>

