﻿@model WebPortal.Models.ChangesView
@{
    ViewBag.Title = "Web Portal | Content Changes";
}


<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Content Changes</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row demobtn">
                <div class="span12">
                    <div class="row">
                        @if (Model.changes.Modul == "News")
                        {
                            if (Model.changes.Type == "Update")
                            {
                            <div class="span6">
                                <h4>Published <strong>Content</strong></h4>
                                <div class="accordion" id="accordionEd2">
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedNews.Judul != Model.changes.Judul ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEd2" href="#collapseEdOne">
                                                <i class="icon-plus"></i>News Title</a>
                                        </div>
                                        <div id="collapseEdOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.publishedNews.Judul
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedNews.Caption != Model.changes.Caption ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEd2" href="#collapseEdTwo">
                                                <i class="icon-plus"></i>News Summary</a>
                                        </div>
                                        <div id="collapseEdTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.publishedNews.Caption
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedNews.Isi != Model.changes.Isi ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEd2" href="#collapseEdThree">
                                                <i class="icon-plus"></i>News Content</a>
                                        </div>
                                        <div id="collapseEdThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.publishedNews.Isi
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedNews.CategoryCode != Model.changes.CategoryCode || Model.publishedNews.Attach != Model.changes.Attach || Model.publishedNews.Image != Model.changes.Image ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionEd2" href="#collapseEdFour">
                                                <i class="icon-plus"></i>News Info</a>
                                        </div>
                                        <div id="collapseEdFour" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                News Category : @Model.publishedNews.CategoryName
                                                <br />
                                                News Attachment : @(Model.publishedNews.Attach != null ? Model.publishedNews.Attach : "-")
                                                <br />
                                                News Image :
                                                <br />
                                                <img src="@Model.publishedNews.ImagePath" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab -->
                            </div>
                            <div class="span6">
                                <h4>Changes <strong>Content</strong></h4>
                                <!-- start: Accordion -->
                                <div class="accordion" id="accordion2">
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedNews.Judul != Model.changes.Judul ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                                <i class="icon-plus"></i>News Title</a>
                                        </div>
                                        <div id="collapseOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.Judul
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedNews.Caption != Model.changes.Caption ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                                <i class="icon-plus"></i>News Summary</a>
                                        </div>
                                        <div id="collapseTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.Caption
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedNews.Isi != Model.changes.Isi ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                                <i class="icon-plus"></i>News Content</a>
                                        </div>
                                        <div id="collapseThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.Isi
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedNews.CategoryCode != Model.changes.CategoryCode || Model.publishedNews.Attach != Model.changes.Attach || Model.publishedNews.Image != Model.changes.Image ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                                <i class="icon-plus"></i>News Info</a>
                                        </div>
                                        <div id="collapseFour" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                News Category : @Model.changes.CategoryName
                                                <br />
                                                News Attachment : @(Model.changes.Attach != null ? Model.changes.Attach : "-")
                                                <br />
                                                News Image :
                                                <br />
                                                <img src="@Model.changes.ImagePath" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Accordion -->
                            </div>
                            }
                            else
                            {
                            <div class="span12">
                                <h4>@Model.changes.Type <strong>Content</strong></h4>
                                <div class="accordion" id="accordionNews2">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionNews2" href="#collapseNewsOne">
                                                <i class="icon-plus"></i>News Title</a>
                                        </div>
                                        <div id="collapseNewsOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.Judul
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionNews2" href="#collapseNewsTwo">
                                                <i class="icon-plus"></i>News Summary</a>
                                        </div>
                                        <div id="collapseNewsTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.Caption
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionNews2" href="#collapseNewsThree">
                                                <i class="icon-plus"></i>News Content</a>
                                        </div>
                                        <div id="collapseNewsThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.Isi
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionNews2" href="#collapseNewsFour">
                                                <i class="icon-plus"></i>News Info</a>
                                        </div>
                                        <div id="collapseNewsFour" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                News Category : @Model.changes.CategoryName
                                                <br />
                                                News Attachment : @(Model.changes.Attach != null ? Model.changes.Attach : "-")
                                                <br />
                                                News Image :
                                                <br />
                                                <img src="@Model.changes.ImagePath" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab -->
                            </div>
                            }
                        }
                        else if (Model.changes.Modul == "Document")
                        {
                            <div class="span12">
                                <h4>@Model.changes.Type <strong>Content</strong></h4>
                                <div class="accordion" id="accordionFile2">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFile2" href="#collapseFileOne">
                                                <i class="icon-plus"></i>File Name</a>
                                        </div>
                                        <div id="collapseFileOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.FileName
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFile2" href="#collapseFileTwo">
                                                <i class="icon-plus"></i>File Group</a>
                                        </div>
                                        <div id="collapseFileTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.FileGroup
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFile2" href="#collapseFileThree">
                                                <i class="icon-plus"></i>File Description</a>
                                        </div>
                                        <div id="collapseFileThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.Description
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab -->
                            </div>
                        }
                        else if (Model.changes.Modul == "Tutorial")
                        {
                            if (Model.changes.Type == "Update")
                            {
                            <div class="span6">
                                <h4>Published <strong>Content</strong></h4>
                                <div class="accordion" id="accordionTutorialUpdateP">
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedTutorial.TutorialTitle != Model.changes.TutorialTitle ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTutorialUpdateP" href="#collapseTutorialUpdatePOne">
                                                <i class="icon-plus"></i>Tutorial Title</a>
                                        </div>
                                        <div id="collapseTutorialUpdatePOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.publishedTutorial.TutorialTitle
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedTutorial.TutorialDescription != Model.changes.TutorialDescription ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTutorialUpdateP" href="#collapseTutorialUpdatePTwo">
                                                <i class="icon-plus"></i>Tutorial Description</a>
                                        </div>
                                        <div id="collapseTutorialUpdatePTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.publishedTutorial.TutorialDescription
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedTutorial.TutorialParentTitle != Model.changes.TutorialParentTitle || Model.publishedTutorial.VideoName != Model.changes.VideoName ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTutorialUpdateP" href="#collapseTutorialUpdatePThree">
                                                <i class="icon-plus"></i>Tutorial Info</a>
                                        </div>
                                        <div id="collapseTutorialUpdatePThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Tutorial Parent : @Model.publishedTutorial.TutorialParentTitle
                                                <br />
                                                Tutorial Video : @Model.publishedTutorial.VideoName
                                                <br />
                                                <video width="100%" controls="controls">
                                                    <source src= "@Url.Content(Model.publishedTutorial.VideoPath)"  type="video/mp4"/>
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab -->
                            </div>
                            <div class="span6">
                                <h4>Changes <strong>Content</strong></h4>
                                <!-- start: Accordion -->
                                <div class="accordion" id="accordionTutorialUpdateC">
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedTutorial.TutorialTitle != Model.changes.TutorialTitle ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTutorialUpdateC" href="#collapseTutorialUpdateCOne">
                                                <i class="icon-plus"></i>Tutorial Title</a>
                                        </div>
                                        <div id="collapseTutorialUpdateCOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.TutorialTitle
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedTutorial.TutorialDescription != Model.changes.TutorialDescription ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTutorialUpdateC" href="#collapseTutorialUpdateCTwo">
                                                <i class="icon-plus"></i>Tutorial Description</a>
                                        </div>
                                        <div id="collapseTutorialUpdateCTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.TutorialDescription
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedTutorial.TutorialParentTitle != Model.changes.TutorialParentTitle || Model.publishedTutorial.VideoName != Model.changes.VideoName ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTutorialUpdateC" href="#collapseTutorialUpdateCThree">
                                                <i class="icon-plus"></i>Tutorial Info</a>
                                        </div>
                                        <div id="collapseTutorialUpdateCThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Tutorial Parent : @Model.changes.TutorialParentTitle
                                                <br />
                                                Tutorial Video : @Model.changes.VideoName
                                                <br />
                                                <video width="100%" controls="controls">
                                                    <source src= "@Url.Content(Model.changes.VideoPath)"  type="video/mp4"/>
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Accordion -->
                            </div>
                            }
                            else
                            {
                            <div class="span12">
                                <h4>@Model.changes.Type <strong>Content</strong></h4>
                                <div class="accordion" id="accordionTutorialAdd">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTutorialAdd" href="#collapseTutorialAddOne">
                                                <i class="icon-plus"></i>Tutorial Title</a>
                                        </div>
                                        <div id="collapseTutorialAddOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.TutorialTitle
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTutorialAdd" href="#collapseTutorialAddTwo">
                                                <i class="icon-plus"></i>Tutorial Description</a>
                                        </div>
                                        <div id="collapseTutorialAddTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                @Model.changes.TutorialDescription
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTutorialAdd" href="#collapseTutorialAddThree">
                                                <i class="icon-plus"></i>Tutorial Info</a>
                                        </div>
                                        <div id="collapseTutorialAddThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Tutorial Parent : @Model.changes.TutorialParentTitle
                                                <br />
                                                Tutorial Video : @Model.changes.VideoName
                                                <br />
                                                <video width="100%" controls="controls">
                                                    <source src= "@Url.Content(Model.changes.VideoPath)"  type="video/mp4"/>
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab -->
                            </div>
                            }
                        }
                        else if (Model.changes.Modul == "FAQ")
                        {
                            if (Model.changes.Type == "Update")
                            {
                            <div class="span6">
                                <h4>Published <strong>Content</strong></h4>
                                <div class="accordion" id="accordionFAQUpdateP">
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedFAQ.ProjectName != Model.changes.ProjectName || Model.publishedFAQ.GroupFAQ != Model.changes.GroupFAQ ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQUpdateP" href="#collapseFAQUpdatePOne">
                                                <i class="icon-plus"></i>FAQ Info</a>
                                        </div>
                                        <div id="collapseFAQUpdatePOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Project : @Model.publishedFAQ.ProjectName
                                                <br />
                                                Group : @Model.publishedFAQ.GroupFAQ
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedFAQ.Question != Model.changes.Question ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQUpdateP" href="#collapseFAQUpdatePTwo">
                                                <i class="icon-plus"></i>FAQ Question</a>
                                        </div>
                                        <div id="collapseFAQUpdatePTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Question : 
                                                <br />
                                                @Model.publishedFAQ.Question
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedFAQ.Answer != Model.changes.Answer ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQUpdateP" href="#collapseFAQUpdatePThree">
                                                <i class="icon-plus"></i>FAQ Answer</a>
                                        </div>
                                        <div id="collapseFAQUpdatePThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Answer : 
                                                <br />
                                                @Model.publishedFAQ.Answer
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab -->
                            </div>
                            <div class="span6">
                                <h4>Changes <strong>Content</strong></h4>
                                <!-- start: Accordion -->
                                <div class="accordion" id="accordionFAQUpdateC">
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedFAQ.ProjectName != Model.changes.ProjectName || Model.publishedFAQ.GroupFAQ != Model.changes.GroupFAQ ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQUpdateC" href="#collapseFAQUpdateCOne">
                                                <i class="icon-plus"></i>FAQ Info</a>
                                        </div>
                                        <div id="collapseFAQUpdateCOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Project : @Model.changes.ProjectName
                                                <br />
                                                Group : @Model.changes.GroupFAQ
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedFAQ.Question != Model.changes.Question ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQUpdateC" href="#collapseFAQUpdateCTwo">
                                                <i class="icon-plus"></i>FAQ Question</a>
                                        </div>
                                        <div id="collapseFAQUpdateCTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Question : 
                                                <br />
                                                @Model.changes.Question
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading @(Model.publishedFAQ.Answer != Model.changes.Answer ? "differ" : "")">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQUpdateC" href="#collapseFAQUpdateCThree">
                                                <i class="icon-plus"></i>FAQ Answer</a>
                                        </div>
                                        <div id="collapseFAQUpdateCThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Answer : 
                                                <br />
                                                @Model.changes.Answer
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Accordion -->
                            </div>
                            }
                            else
                            {
                            <div class="span12">
                                <h4>@Model.changes.Type <strong>Content</strong></h4>
                                <div class="accordion" id="accordionFAQAdd">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQAdd" href="#collapseFAQAddOne">
                                                <i class="icon-plus"></i>Tutorial Title</a>
                                        </div>
                                        <div id="collapseFAQAddOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Project : @Model.changes.ProjectName
                                                <br />
                                                Group : @Model.changes.GroupFAQ
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQAdd" href="#collapseFAQAddTwo">
                                                <i class="icon-plus"></i>Tutorial Description</a>
                                        </div>
                                        <div id="collapseFAQAddTwo" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Question : 
                                                <br />
                                                @Model.changes.Question
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQAdd" href="#collapseFAQAddThree">
                                                <i class="icon-plus"></i>Tutorial Info</a>
                                        </div>
                                        <div id="collapseFAQAddThree" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                Answer : 
                                                <br />
                                                @Model.changes.Answer
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end tab -->
                            </div>
                            }
                        }
                        <div class="span12 margintop10 form-group">
                            <p class="text-center">
                                <a href="/Changes/Approve/?ChangesId=@Model.changes.Id" class="btn btn-large btn-purple">Approve</a>&nbsp<a href="/Changes/Reject/?ChangesId=@Model.changes.Id" class="btn btn-large btn-red">Reject</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end span12 -->
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
