
.btn-facebook{background-color: #405D9D; color:#fff; &:hover{color:#fff} }
.btn-youtube{background-color:#E52D27 ; color:#fff; &:hover{color:#fff}}
.btn-instagram{background-color: #C8046C; color:#fff; &:hover{color:#fff}}
.btn-twitter{background-color:#42AEEC ; color:#fff; &:hover{color:#fff}}
