﻿@{
    Layout = "";
    ViewBag.Title = "";
}

<head>
    <script src="~/Design/assets/js/jquery-1.8.2.js"></script>
</head>

<script type="text/javascript">
    $(document).ready(function () {
        var x = getCookie('reId');
        var y = getCookie('rePass');

        if (x != null && y != null && x != "" && y != "") {
            var getParams = {
                "UserId": x,
                "Password": y
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Home/Login',
                context: document.body,
                data: getParams,
                success: function (result) {
                    if (result.Status) {
                        //setCookie('ssoTest', UserId, 7);
                        window.location.href = '@Url.Action("Index", "Home")';
                    } else {
                        window.location.href = '@Url.Action("LoginPage", "Home")';
                    }
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });
        }
        else {
            window.location.href = '@Url.Action("LoginPage", "Home")';
        }
    });

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

</script>

