﻿@{
    ViewBag.Title = "Web Portal | Register";
    Layout = "";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Design/assets/css/bootsnipp.css" rel="stylesheet" />
    <script src="~/Design/assets/js/jquery-1.8.2.js"></script>
    <script src="~/Design/assets/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="login-block" style="height: 100%">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <a href="#" class="active" id="activate-form-link">First time login, register your account as</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="activate-form" style="display: block;">
                                        <div class="form-group">
                                            <input type="text" id="regId" style="display:none" value="@Session["regId"]">
                                            @Html.DropDownList("registerUserType", new List<SelectListItem>  
                                            {  
                                               new SelectListItem{ Text="Customer", Value = "C" },  
                                               new SelectListItem{ Text="Vendor", Value = "V" },  
                                               new SelectListItem{ Text="Job Applicant", Value = "J" }
                                            }, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <button type="button" class="form-control btn btn-login" onclick="SubmitType()">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

<script type="text/javascript">

    function SubmitType() {
        var regId = document.getElementById('regId').value;
        var Type = document.getElementById('registerUserType').value;
        var getParams = {
            "regId": regId,
            "Type": Type
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/ChooseType',
            context: document.body,
            data: getParams,
            success: function (result) {
                alert(result.Message);

                if (result.Status) {
                    alert(result.GeneratedString);
                    redirecttoActivatePage();
                } 
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function redirecttoActivatePage() {
        window.location.href = '@Url.Action("ActivatePage", "Home")';
    }

</script>
