﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | Home";
}
@{
    int num = 0;
}
<body>
    <div id="wrapper">
        <section id="featured">
            <!-- start slider -->
            <!-- Slider -->
            <div id="nivo-slider">
                <div class="nivo-slider">
                    <!-- Slide #1 image -->
                    <img src="~/Design/images/slide-1.jpg" alt="" title="#caption-1" />
                    <!-- Slide #2 image -->
                    <img src="~/Design/images/slide-2.jpg" alt="" title="#caption-2" />
                    <!-- Slide #3 image -->
                    <img src="~/Design/images/slide-3.jpg" alt="" title="#caption-3" />
                    <!-- Slide #4 image -->
                    <img src="~/Design/images/slide-4.jpg" alt="" title="#caption-4" />
                </div>
            </div>
            <!-- end slider -->
        </section>
        <section id="content">
            <div class="container">
                @if (Session["LogedUserId"] != null && Session["UserLevel"].ToString() != "2" && Session["UserLevel"].ToString() != "3")
                {
                    <div class="row">
                        <div class="span12">
                            <div class="row">
                                <div class="span12 form-group">
                                    <h3 class="text-center">Application</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    if (Model.listSiteMenu.Count > 0)
                    {
                        for (int i = 0; i < ((Model.listSiteMenu.Count / 4) + (Model.listSiteMenu.Count % 4 > 0 ? 1 : 0)); i++)
                        {
                            <div class="row">
                                @for (int j = 0; j < 4; j++)
                                {
                                    if (num < Model.listSiteMenu.Count)
                                    {
                                        <div class="span3">
                                            <div class="box aligncenter">
                                                <div class="aligncenter">
                                                    <img class="img-apps" src="@Model.listSiteMenu.Skip(num).First().Image" />
                                                </div>
                                                <div>
                                                    <a href="@Model.listSiteMenu.Skip(num).First().NavURL" target="_blank">
                                                        <h6>@Model.listSiteMenu.Skip(num).First().Description</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        num++;
                                    }
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="row">
                            <div class="span12">
                                <div class="row">
                                    <div class="span12 form-group">
                                        <h6 class="text-center">Your Account Do Not Have Permission to Access Any Applications</h6>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    }
                    <div class="row">
                        <div class="span12">
                            <div class="solidline">
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span12 form-group">
                                <h3 class="text-center">News Update</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            @foreach (var latestNews in Model.listLatestNews)
                            {
                                <div class="span3ms">
                                    <div class="box aligncenter">
                                        <div class="aligncenter img-div">
                                            <img class="img-news-home" src="@latestNews.ImagePath" />
                                        </div>
                                        <div class="text-center">
                                            <a href="/News/NewsDetail/?NewsId=@latestNews.Id">
                                                <h6>@latestNews.Judul</h6>
                                            </a>
                                            <p>
                                                @latestNews.Caption
                                            </p>
                                            <a href="/News/NewsDetail/?NewsId=@latestNews.Id">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

</body>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["SessionStatus"]';
        var tempEditSecEmail = '@TempData["EditSecondaryEmail"]';
        var tempEditSiteMap = '@TempData["EditSiteMapping"]';
        var tempAlert = '';

        if (tempMessage != '') {
            tempAlert = tempMessage;
        } else if (tempEditSecEmail != '') {
            tempAlert = tempEditSecEmail;
        } else if (tempEditSiteMap != '') {
            tempAlert = tempEditSiteMap;
        }

        if (tempAlert != '') {
            $.notify({
                // options
                message: tempAlert
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>
