﻿@{
    ViewBag.Title = "Web Portal | Login";
    Layout = "";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Design/assets/css/bootsnipp-banner.css" rel="stylesheet" />
    <link href="~/Design/assets/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Design/assets/js/bootstrap.min.js"></script>
    <script src="~/Design/assets/js/jquery.js"></script>

    @* Login Google Account *@
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>
        var googleUser = {};
        var startApp = function () {
            gapi.load('auth2', function () {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '171330679351-ipi4tevda385i3gofp9jj886mijab9pd.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    // Request scopes in addition to 'profile' and 'email'
                    //scope: 'additional_scope'
                });
                attachSignin(document.getElementById('customBtn'));
            });
        };

        function attachSignin(element) {
            console.log(element.id);
            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    onSignIn(googleUser);
                }, function (error) {
                    //alert(JSON.stringify(error, undefined, 2));
                });
        }
    </script>
    <style type="text/css">
        #customBtn {
            display: inline-block;
            background: #4285f4;
            color: white;
            width: 100%;
            /*height: 50px;*/
            border-radius: 5px;
            white-space: nowrap;
        }

            #customBtn:hover {
                cursor: pointer;
            }

        span.label {
            font-weight: bold;
        }

        span.icon {
            background: url("https://developers.google.com/identity/sign-in/g-normal.png") transparent 50% no-repeat;
            display: inline-block;
            vertical-align: middle;
            width: 35px;
            height: 35px;
            border-right: #2265d4 1px solid;
        }

        span.buttonText {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            text-align: center;
            /*padding-right: 22%;*/
            font-size: 14px;
            font-weight: bold;
            /* Use the Roboto font that is loaded in the <head> */
            font-family: 'Roboto', sans-serif;
            margin-left: -39px;
        }
    </style>
    @* Login Google Account End *@
</head>
<body>
    <section class="login-block" style="height: 100%">
        <div class="container">
            <div class="row">
                <div class="col-md-8 banner-sec" style="background-color:cyan">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                @*<img class="d-block img-fluid banner-sec" src="~/Design/images/sawit.jpg" alt="First slide">*@
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="banner-text">
                                        <h2>Web Portal</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 login-sec">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-center">First Resources Group</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" class="active" id="login-form-link">
                                    <h5 class="text-center">Sign In</h5>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="#" id="register-form-link">
                                    <h5 class="text-center">Sign Up</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <form id="login-form" class="login-form">
                        <div class="form-group">
                            @*<label for="inputUserId" class="text-uppercase">User Id</label>*@
                            <input type="text" id="loginUserId" class="form-control" placeholder="Email" onkeypress="return enterKey_Submit_Login(event)">
                        </div>
                        <div style="float: right;">
                            <a href="/Home/ResetPage" id="reset-form-link" tabindex="5" class="forgot-password">Forgot your password?</a>
                        </div>
                        <div class="form-group">
                            @*<label for="inputPassword" class="text-uppercase">Password</label>*@
                            <input type="password" id="loginPassword" class="form-control" placeholder="Password" onkeypress="return enterKey_Submit_Login(event)">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-login form-control" onclick="Login()"><i class="icon-signin"></i>Login</button>
                        </div>
                        <div style="margin-top: -10px;">
                            <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                            Stay signed in
                        </div>
                        <div class="form-group" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
                            or Sign in with
                        </div>
                        <div class="form-group">
                            <div id="gSignInWrapper">
                                <div id="customBtn" class="customGPlusSignIn">
                                    <span class="icon"></span>
                                    <span class="buttonText">Google</span>
                                </div>
                            </div>
                            <script>startApp();</script>
                        </div>
                    </form>
                    <form id="register-form" class="register-form" style="display: none;">
                        <div class="form-group">
                            @*<label for="inputRegisterUsername" class="text-uppercase">User Id</label>*@
                            <input type="text" id="registerEmail" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            @*<label for="inputRegisterName" class="text-uppercase">Username</label>*@
                            <input type="text" id="registerUsername" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="email" id="registerPassword" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="text" id="registerConfirmPassword" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            @*<label for="inputRegisterUserType" class="text-uppercase">Register as</label>*@
                            <div class="controls">
                                @Html.DropDownList("registerUserType", new List<SelectListItem>  
                                    {  
                                       new SelectListItem{ Text="Customer", Value = "C" },  
                                       new SelectListItem{ Text="Vendor", Value = "V" },
                                       new SelectListItem{ Text="Job Applicant", Value = "J" }
                                    }, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-login float-right form-control" onclick="Register()">Register</button>
                        </div>
                        @*<div class="form-group">
                            <label class="form-check-label">
                                Already have OTP Password? <a href="#" id="otp-manual-form-link">Click here</a>
                            </label>
                        </div>*@
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>


<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["SessionStatus"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        //console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        //console.log('Full Name: ' + profile.getName());
        //console.log('Given Name: ' + profile.getGivenName());
        //console.log('Family Name: ' + profile.getFamilyName());
        //console.log("Image URL: " + profile.getImageUrl());
        //console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        //console.log("ID Token: " + id_token);

        var UserId = profile.getEmail();
        var Username = profile.getName();
        var Email = profile.getEmail();

        var getParams = {
            "UserId": UserId,
            "Username": Username,
            "Email": Email
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/LoginGoogle',
            context: document.body,
            data: getParams,
            success: function (result) {
                if (result.Status) {
                    if (result.AccountStatus) {
                        redirecttoHomePage();
                    } else {
                        if (result.Message == "OK") {
                            redirecttoActivatePage();
                        } else {
                            redirecttoChooseTypePage(result.GeneratedString);
                        }
                    }
                } else {
                    redirecttoChooseTypePage(result.GeneratedString);
                }
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    };

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    $('#login-form-link').click(function (e) {
        $("#login-form").delay(100).fadeIn(100);
        $("#register-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });
    $('#register-form-link').click(function (e) {
        $("#register-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
    });

    function movetoLogin() {
        $("#login-form").delay(100).fadeIn(100);
        $("#reset-form").fadeOut(100);
    }

    function Login() {
        var UserId = document.getElementById('loginUserId').value;
        var Password = document.getElementById('loginPassword').value;
        var getParams = {
            "UserId": UserId,
            "Password": Password
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/Login',
            context: document.body,
            data: getParams,
            success: function (result) {
                if (result.Status) {
                    fnRemember();

                    if (result.AccountStatus) {
                        redirecttoHomePage();
                    } else {
                        redirecttoActivatePage();
                    }
                } else {
                    alert(result.Message);
                }
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function Register() {
        //var UserId = document.getElementById('registerUserId').value;
        var Username = document.getElementById('registerUsername').value;
        var Email = document.getElementById('registerEmail').value;
        var Password = document.getElementById('registerPassword').value;
        var ConfirmPassword = document.getElementById('registerConfirmPassword').value;
        var Type = document.getElementById('registerUserType').value;

        var getParams = {
            //"UserId": UserId,
            "Email": Email,
            "Username": Username,
            "Password": Password,
            "ConfirmPassword": ConfirmPassword,
            "UserType": Type
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/Register',
            context: document.body,
            data: getParams,
            success: function (result) {
                alert(result.Message);

                if (result.Status) {
                    alert(result.GeneratedString);
                    redirecttoActivatePage();
                }
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function enterKey_Submit_Login(e) {
        if (e.which == 13) {
            Login();
        }
    }

    function fnRemember() {
        var rememberMe = document.getElementById('remember');

        if (rememberMe.checked) {
            var UserId = document.getElementById('loginUserId').value;
            var Password = document.getElementById('loginPassword').value;

            setCookie('reId', UserId, 30);
            setCookie('rePass', Password, 30);
        }
    }

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function redirecttoHomePage() {
        window.location.href = '@Url.Action("Index", "Home")';
    }

    function redirecttoActivatePage() {
        window.location.href = '@Url.Action("ActivatePage", "Home")';
    }

    function redirecttoChooseTypePage(regId) {
        window.location.href = '@Url.Action("ChooseTypePage", "Home")?regId=' + regId;
    }
</script>
