﻿@{
    ViewBag.Title = "Web Portal | Forget Password";
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Dashboard Employee First Resources Limited" name="description" />
    <meta content="First Resources Limited" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @Styles.Render("~/Content/CSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="account-pages">
    <div class="wrapper-page account-page-full">
        <div class="card shadow-lg">
            <div class="card-block">
                <div class="account-box">
                    <div class="card-box p-4">
                        <h2 class="text-uppercase text-center pb-4">
                            <a href="#" class="text-success">
                                <span>
                                    <img src="@Url.Content("~/Content/images/logo.png")" alt="" height="75"></span>
                            </a>
                        </h2>
                        <div class="text-center m-b-20" id="header-title">
                            <p class="text-muted m-b-0">Please Enter your new password.</p>
                        </div>
                        <form name="form-reset-password">
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    @Html.Hidden("Token", @Session["RequestResetToken"])
                                    <label for="emailaddress">Enter New Password</label>
                                    <input class="form-control" type="password" name="newPassword" id="newPassword" tabindex="1" required="" placeholder="Enter your new password">
                                </div>
                            </div>
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label for="emailaddress">Retype New Password</label>
                                    <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" required="" placeholder="Retype your new password">
                                </div>
                            </div>

                            <div class="form-group row text-center m-t-10">
                                <div class="col-12">
                                    <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Reset Password <span class="loading-animation"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></span></button>
                                </div>
                            </div>
                        </form>
                        <div class="row m-t-20">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Back to <a href="@Url.Action("ResetPage", "Home")" class="text-dark m-l-5"><b>Forgot Password</b></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-t-40 text-center">
            <p class="account-copyright">2019 © FAP Group.</p>
        </div>

    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='form-reset-password']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                newPassword: {
                    required: true,
                    minlength: 5
                },
                confirmPassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#newPassword"
                }
            },
            // Specify validation error messages
            messages: {
                newPassword: {
                    required: "Please provide a new password",
                    minlength: "Your password must be at least 5 characters long"
                },
                confirmPassword: {
                    required: "Please provide a new password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Password not match. Please check again"
                }
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                SubmitPassword();
            }
        });
    });

    function SubmitPassword() {
        var Token = document.getElementById('Token').value;
        var NewPassword = document.getElementById('newPassword').value;
        var ConfirmPassword = document.getElementById('confirmPassword').value;

        if (NewPassword === ConfirmPassword && NewPassword != "") {
            var getParams = {
                "Token": Token,
                "NewPassword": NewPassword,
                "ConfirmPassword": ConfirmPassword
            };
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Home/NewPassword',
                context: document.body,
                data: getParams,
                success: function (result) {
                    if ($("#header-title .error").length == 0) {
                        $("#header-title").append('<label class="error">Token expired, please reset your password again.</label>');
                    }                 

                    if (result.Status) {
                        window.location.href = '@Url.Action("ResetPasswordSuccess", "Home")';
                    }
                },
                error: function (xhr) {
                    //debugger;  
                    console.log(xhr.responseText);
                    alert("Error has occurred..");
                }
            });
        } else {
            alert("Password and Confirm Password Invalid");
        }
    }

    function enterKey_Submit_Password(e) {
        if (e.which == 13) {
            SubmitPassword();
        }
    }

    function redirecttoLoginPage() {
        window.location.href = '@Url.Action("LoginPage", "Home")';
    }
</script>
