﻿@{
    ViewBag.Title = "Register";
    Layout = "";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Dashboard Employee First Resources Limited" name="description" />
    <meta content="First Resources Limited" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App css -->
    @Styles.Render("~/Content/CSS")
    <link href="~/Content/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Script Bundle -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="account-pages">

    <div class="wrapper-page account-page-full">

        <div class="card shadow-lg">
            <div class="card-block">

                <div class="account-box">

                    <div class="card-box p-4">
                        <h2 class="text-uppercase text-center pb-2">
                            <a href="#" class="text-success">
                                <span>
                                    <img src="@Url.Content("~/Content/images/logo.png")" alt="" height="75"></span>
                            </a>
                        </h2>
                        <form class="register-form" name="register-form">
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <h4>Register</h4>
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label for="username">Type of Account</label>
                                    @Html.DropDownList("registerUserType", new List<SelectListItem>  
                                    {  
                                       new SelectListItem{ Text="Customer", Value = "C" },  
                                       new SelectListItem{ Text="Vendor", Value = "V" },
                                       new SelectListItem{ Text="Job Applicant", Value = "J" }
                                    }, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label for="emailaddress">Email address</label>
                                    <input class="form-control" type="email" id="registerEmail" name="registerEmail" placeholder="Enter your email">
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label for="password">Password</label>
                                    <input class="form-control" type="password" required="" id="registerPassword" name="registerPassword" placeholder="Enter your password">
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label for="password">Confirm Password</label>
                                    <input class="form-control" type="password" required="" id="registerConfirmPassword" name="registerConfirmPassword" placeholder="Re-Enter your password">
                                </div>
                            </div>

                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <div class="checkbox checkbox-custom">
                                        <input id="remember" type="checkbox" checked="">
                                        <label for="remember">
                                            I accept <a href="#" data-toggle="modal" data-target="#tncModal" class="text-custom">Terms and Conditions</a>
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row text-center m-t-10">
                                <div class="col-12">
                                    <button class="btn btn-block btn-custom waves-effect waves-light register-btn" type="submit">Register</button>
                                </div>
                            </div>

                            <div class="row m-t-20">
                                <div class="col-sm-12 text-center">
                                    <p class="text-muted">or register with?</p>

                                    <button type="button" class="btn btn-block btn-googleplus waves-effect waves-light">
                                        <i class="fa fa-google m-r-5"></i>Google								
                                    </button>
                                </div>
                            </div>

                        </form>

                        <div class="row m-t-20">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Already have an account?  <a href="@Url.Action("LoginPage", "Home")" class="text-dark m-l-5"><b>Sign in</b></a></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div id="tncModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tncModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="tncModalLabel">Terms and Conditions</h4>
                    </div>
                    <div class="modal-body">
                        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                        <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="m-t-40 text-center">
            <p class="account-copyright">2019 © FAP Group.</p>
        </div>

        <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="helpModalLabel">Help</h4>
                    </div>
                    <div class="modal-body">
                        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <script src="~/Scripts/helper.js" type="text/javascript"></script>
</body>
</html>
<script type="text/javascript">
    $(function () {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[name='register-form']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                registerEmail: {
                    required: true,
                    email: true,
                },
                registerPassword: {
                    required: true,
                    minlength: 5
                },
                registerConfirmPassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#registerPassword"
                }
            },
            // Specify validation error messages
            messages: {
                registerEmail: {
                    required: "Please provide a email",
                    email: "Please provide a valid email"
                },
                registerPassword: {
                    required: "Please provide a new password",
                    minlength: "Your password must be at least 5 characters long"
                },
                registerConfirmPassword: {
                    required: "Please provide a new password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Password not match. Please check again"
                }
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                showLoading($(".register-btn"));

                setTimeout(function () {
                    $.when(Register()).done(function (result) {
                        removeLoading($(".register-btn span"));
                    });
                }, 500);
            }
        });
    });

    function Register() {
        var deferred = $.Deferred();
        //var UserId = document.getElementById('registerUserId').value;
        var Email = document.getElementById('registerEmail').value;
        var Password = document.getElementById('registerPassword').value;
        var ConfirmPassword = document.getElementById('registerConfirmPassword').value;
        var Type = document.getElementById('registerUserType').value;

        var getParams = {
            //"UserId": UserId,
            "Email": Email,
            "Password": Password,
            "ConfirmPassword": ConfirmPassword,
            "UserType": Type
        };

        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '@Url.Action("Register", "Home")',
            context: document.body,
            data: getParams,
            success: function (result, status, xhr) {
                if (result.Message !== null) {
                    formMessageHandler(result.Message);
                } else {
                    if (result.Status) {
                        window.location.href = '@Url.Action("RegisterConfirmation", "Home")?email=' + Email;
                    }
                }

                deferred.resolve(result);
            },
            error: function (result, status, xhr) {
                deferred.reject(result);
            }
        });

        return deferred.promise();
    }

    function formMessageHandler(msg) {
        $('<label for="registerEmail" generated="true" class="error">' + msg + '</label>').insertAfter("#registerEmail");
    }
</script>