﻿@{
    ViewBag.Title = "Web Portal | Forget Password";
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Dashboard Employee First Resources Limited" name="description" />
    <meta content="First Resources Limited" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @*<link href="~/Design/assets/css/bootsnipp.css" rel="stylesheet" />
    <script src="~/Design/assets/js/jquery-1.8.2.js"></script>
    <script src="~/Design/assets/js/bootstrap.min.js"></script>*@
    @Styles.Render("~/Content/CSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="account-pages">
    <div class="wrapper-page account-page-full">
        <div class="card shadow">
            <div class="card-block">

                <div class="account-box">

                    <div class="card-box p-4">
                        <h2 class="text-uppercase text-center pb-4">
                            <a href="#" class="text-success">
                                <span>
                                    <img src="@Url.Content("~/Content/images/logo.png")" alt="" height="75"></span>
                            </a>
                        </h2>

                        <div class="text-center m-b-20">
                            <p class="text-muted m-b-0">Enter your email address and we'll send you an email with instructions to reset your password.  </p>
                        </div>

                        <form class="form-reset-password" name="form-reset-password">
                            <div class="form-group row m-b-20">
                                <div class="col-12">
                                    <label for="emailaddress">Email address</label>
                                    <input class="form-control" type="email" id="resetCredential" required="" placeholder="Enter your password">
                                </div>
                            </div>

                            <div class="form-group row text-center m-t-10">
                                <div class="col-12">
                                    <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Reset Password <span class="loading-animation"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></span></button>
                                </div>
                            </div>

                        </form>

                        <div class="row m-t-20">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Back to <a href="@Url.Action("LoginPage", "Home")" class="text-dark m-l-5"><b>Sign In</b></a></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="m-t-40 text-center">
            <p class="account-copyright">2019 © FAP Group.</p>
        </div>

    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $("form[name='form-reset-password']").validate({
            // Specify validation rules
            rules: {
                resetCredential: {
                    required: true,
                    email: true
                }
            },
            // Specify validation error messages
            messages: {
                resetCredential: {
                    required: "Please enter a password",
                    minlength: "Your password must be at least 5 characters long"
                }
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                SubmitCredential();
            }
        });
    })

    function SubmitCredential() {
        var Credential = document.getElementById('resetCredential').value;
        var getParams = {
            "Credential": Credential
        };
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '/Home/ResetPassword',
            context: document.body,
            data: getParams,
            success: function (result) {
                if (result.Status) {
                    location.href = '@Url.Action("ResetPageConfirmation", "Home")?email=' + Credential;
                }
            },
            error: function (xhr) {
                //debugger;  
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });
    }

    function enterKey_Submit_Credential(e) {
        if (e.which == 13) {
            SubmitCredential();
        }
    }
</script>
