html,
    body,
    header,
    .jarallax, {
      height: 500px;
    }

    .jarallax {
      min-height: 500px
    }

    .mtop {
      margin-top: 150px;
    }

    @media (max-width: 740px) {
      html,
      body,
      header,
      .jarallax {
        height: 50vh;
      }
      .mtop {
        margin-top: -200px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .jarallax {
        height: 50vh;
      }
      .mtop {
        margin-top: -200px;
      }
    }

    @media (min-width: 560px) and (max-width: 650px) {
      header .jarallax h5 {
        margin-bottom: 1.5rem !important;
      }
    }
  
    .btn .fa {
      margin-left: 3px;
    }

    h6 {
      line-height: 1.7;
    }

    footer.page-footer {
      margin-top: 0px;
      padding-top: 0px;
	  background-color: #0d47a1;
    }

    body {
      background-color: #fff;
    }

    .btn.peach-gradient {
      color: #fff !important;
    }

    .top-nav-collapse {
        background-color: #0d47a1 !important;
    }
    .navbar:not(.top-nav-collapse) {
        background: #0d47a1 !important;
    }
    @media (max-width: 768px) {
        .navbar:not(.top-nav-collapse) {
            background: #0d47a1 !important;
        }
    }
    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #0d47a1!important;
        }
    }
.md-form.md-outline .form-control {
  padding: .5rem .75rem;
}
.md-form.md-outline input[type=date].form-control.invalid+label:after, .md-form.md-outline input[type=date].form-control:focus.invalid+label:after, .md-form.md-outline input[type=datetime-local].form-control.invalid+label:after, .md-form.md-outline input[type=datetime-local].form-control:focus.invalid+label:after, .md-form.md-outline input[type=email].form-control.invalid+label:after, .md-form.md-outline input[type=email].form-control:focus.invalid+label:after, .md-form.md-outline input[type=number].form-control.invalid+label:after, .md-form.md-outline input[type=number].form-control:focus.invalid+label:after, .md-form.md-outline input[type=password].form-control.invalid+label:after, .md-form.md-outline input[type=password].form-control:focus.invalid+label:after, .md-form.md-outline input[type=search-md].form-control.invalid+label:after, .md-form.md-outline input[type=search-md].form-control:focus.invalid+label:after, .md-form.md-outline input[type=search].form-control.invalid+label:after, .md-form.md-outline input[type=search].form-control:focus.invalid+label:after, .md-form.md-outline input[type=tel].form-control.invalid+label:after, .md-form.md-outline input[type=tel].form-control:focus.invalid+label:after, .md-form.md-outline input[type=text].form-control.invalid+label:after, .md-form.md-outline input[type=text].form-control:focus.invalid+label:after, .md-form.md-outline input[type=time].form-control.invalid+label:after, .md-form.md-outline input[type=time].form-control:focus.invalid+label:after, .md-form.md-outline input[type=url].form-control.invalid+label:after, .md-form.md-outline input[type=url].form-control:focus.invalid+label:after, .md-form.md-outline textarea.md-textarea.form-control.invalid+label:after, .md-form.md-outline textarea.md-textarea.form-control:focus.invalid+label:after,.md-form.md-outline input[type=date].form-control.valid+label:after, .md-form.md-outline input[type=date].form-control:focus.valid+label:after, .md-form.md-outline input[type=datetime-local].form-control.valid+label:after, .md-form.md-outline input[type=datetime-local].form-control:focus.valid+label:after, .md-form.md-outline input[type=email].form-control.valid+label:after, .md-form.md-outline input[type=email].form-control:focus.valid+label:after, .md-form.md-outline input[type=number].form-control.valid+label:after, .md-form.md-outline input[type=number].form-control:focus.valid+label:after, .md-form.md-outline input[type=password].form-control.valid+label:after, .md-form.md-outline input[type=password].form-control:focus.valid+label:after, .md-form.md-outline input[type=search-md].form-control.valid+label:after, .md-form.md-outline input[type=search-md].form-control:focus.valid+label:after, .md-form.md-outline input[type=search].form-control.valid+label:after, .md-form.md-outline input[type=search].form-control:focus.valid+label:after, .md-form.md-outline input[type=tel].form-control.valid+label:after, .md-form.md-outline input[type=tel].form-control:focus.valid+label:after, .md-form.md-outline input[type=text].form-control.valid+label:after, .md-form.md-outline input[type=text].form-control:focus.valid+label:after, .md-form.md-outline input[type=time].form-control.valid+label:after, .md-form.md-outline input[type=time].form-control:focus.valid+label:after, .md-form.md-outline input[type=url].form-control.valid+label:after, .md-form.md-outline input[type=url].form-control:focus.valid+label:after, .md-form.md-outline textarea.md-textarea.form-control.valid+label:after, .md-form.md-outline textarea.md-textarea.form-control:focus.valid+label:after {
  top: 3.9rem;
}
.md-form.md-outline {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.md-form .validate {
  margin-bottom: 1.7rem;
}
.navbar .navbar-brand img {
    height: 40px;
}
.btn-custom {
  background-color: #0d47a1;
  border-color: #0d47a1;
}
  .btn-custom {
  color: #ffffff !important;
}
.custom-color-dark {
  background-color: #0d47a1!important;
}
.md-form label.active {
  font-size: 1rem;
}
.modal-footer {
  justify-content: center;
}
.btn-outline-custom {
  border: 2px solid #0d47a1!important;
  background-color: transparent!important;
  color: #0d47a1!important;
}
.md-tabs {
  margin: -1.5rem 1rem 0;
}

footer.page-footer .footer-copyright {
  color: #ffffff!important;
}
footer.page-footer .footer-copyright a {
  color: #ffffff!important;
  font-weight: 500;
}

.md-form.md-outline input[type=date]:focus:not([readonly]), .md-form.md-outline input[type=datetime-local]:focus:not([readonly]), .md-form.md-outline input[type=email]:focus:not([readonly]), .md-form.md-outline input[type=number]:focus:not([readonly]), .md-form.md-outline input[type=password]:focus:not([readonly]), .md-form.md-outline input[type=search-md]:focus:not([readonly]), .md-form.md-outline input[type=search]:focus:not([readonly]), .md-form.md-outline input[type=tel]:focus:not([readonly]), .md-form.md-outline input[type=text]:focus:not([readonly]), .md-form.md-outline input[type=time]:focus:not([readonly]), .md-form.md-outline input[type=url]:focus:not([readonly]), .md-form.md-outline textarea.md-textarea:focus:not([readonly]), .select-wrapper.md-form.md-outline input.select-dropdown:focus {
  border-color: #0d47a1;
  box-shadow: inset 0 0 0 1px #0d47a1;
}
.md-form.md-outline input[type=date]:focus:not([readonly])+label, .md-form.md-outline input[type=datetime-local]:focus:not([readonly])+label, .md-form.md-outline input[type=email]:focus:not([readonly])+label, .md-form.md-outline input[type=number]:focus:not([readonly])+label, .md-form.md-outline input[type=password]:focus:not([readonly])+label, .md-form.md-outline input[type=search-md]:focus:not([readonly])+label, .md-form.md-outline input[type=search]:focus:not([readonly])+label, .md-form.md-outline input[type=tel]:focus:not([readonly])+label, .md-form.md-outline input[type=text]:focus:not([readonly])+label, .md-form.md-outline input[type=time]:focus:not([readonly])+label, .md-form.md-outline input[type=url]:focus:not([readonly])+label, .md-form.md-outline textarea.md-textarea:focus:not([readonly])+label, .select-wrapper.md-form.md-outline+label.active {
  color: #0d47a1;
}