﻿@model WebPortal.Model.T_Tutorial
@{
    ViewBag.Title = "Web Portal | Create Parent";
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Create Parent</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/Tutorial/UploadTutorial" class="btn btn-purple" onclick = "return confirm('Are you wish to discard this tutorial parent?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @using (Html.BeginForm("CreateParent", "Tutorial", FormMethod.Post, new { @class = "contactForm" }))
                    {
                        <div class="row">
                            <div class="span12 form-group">
                                @Html.TextBoxFor(model => model.TutorialTitle, new { @id = "TutorialTitle", @class = "form-control span8", @placeholder = "*Parent Title" })
                                @Html.ValidationMessageFor(model => model.TutorialTitle, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span12 form-group">
                                @Html.TextBoxFor(model => model.TutorialDescription, new { @id = "TutorialDescription", @class = "form-control", @placeholder = "*Parent Description" })
                                @Html.ValidationMessageFor(model => model.TutorialDescription, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span12 form-group">
                                @Html.DropDownListFor(model => model.TutorialParent, ViewBag.parentList as SelectList, "*Parent", new { @class = "form-control" })
                            </div>
                            <div class="span12 form-group">
                                @Html.ValidationMessageFor(model => model.TutorialParent, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span6" style="height:50px"></div>
                            <div class="span12 margintop10 form-group">
                                <p class="text-center">
                                    <button class="btn btn-large btn-theme margintop10" type="submit" formaction="CreateParent">Save</button>&nbsp<button class="btn btn-large btn-primary margintop10" type="submit" formaction="SubmitParent">Save and Close</button>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>
