﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | Tutorial";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2>Tutorial</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                @foreach (var tutorial in Model.listTutorial)
                {                    
                    <article>
                        <div class="row">
                            <div class="span8">
                                <div class="post-heading">
                                    <h4>@tutorial.TutorialTitle</h4>
                                </div>
                                <div>
                                    <video width="720" height="576" controls="controls">
                                        <source src= "@Url.Content(tutorial.VideoPath)"  type="video/mp4"/>
                                    </video>
                                </div>
                                <p>@tutorial.CreatedBy - @tutorial.CreatedDate.ToString("dd MMM yyyy")</p>
                                <div class="post-heading">
                                    <p style="margin-top:20px">@tutorial.TutorialDescription</p>
                                </div>
                                <div class="bottom-article">
                                    <ul class="meta-post">
                                        <li><i class="icon-book"></i>@tutorial.TutorialParentTitle</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                }
            </div>
            <div class="span4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <h5 class="widgetheading">Categories</h5>
                        <ul class="cat">
                            <li><i class="icon-angle-right"></i><a href="/Tutorial/Index/?Project=">All</a><span> (@Model.totalItem)</span></li>
                            @foreach (var project in Model.listTutorialProject)
                            {
                                <li><i class="icon-angle-right"></i><a href="/Tutorial/Index/?Project=@project.ProjectCode">@project.TutorialProject</a><span> (@project.TotalTutorial)</span></li>
                            }
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Latest tutorials</h5>
                        <ul class="recent">
                            @foreach (var latest in Model.listLatestTutorial)
                            {
                                <li>
                                    <h6><a href="/Tutorial/ViewTutorial/?tutorialCode=@latest.TutorialCode">@latest.TutorialTitle</a></h6>
                                    <p>
                                        @latest.TutorialDescription
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

