﻿@using Microsoft.AspNetCore.Http;

@{
    var modelUser = ViewData["UserModel"] as WebPortal.Models.ResponseModel.UserModel;
}

<div class="topbar">
    <nav class="navbar-custom">
        <!-- LOGO -->
        <div class="logo-box">
            <a href="#" class="logo">
                <img src="~/lib/fap-van/assets/images/logo_white.png" alt="" height="30">
            </a>
        </div>

        <ul class="list-unstyled topbar-right-menu float-right mb-0">
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img id="img_bar" src="~/lib/fap-van/assets/images/users/avatar-2.jpg" alt="image-user" class="rounded-circle userdp-sidebar-img"> <span class="ml-1">@Context.Session.GetString("_UserEmail") <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>

                    <!-- item-->
                    <a href="@Url.Action("Profile", "Vendor")" class="dropdown-item notify-item">
                        <i class="fi-head"></i> <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="@Url.Action("ChangePassword", "Vendor")" class="dropdown-item notify-item">
                        <i class="fi-cog"></i> <span>Password</span>
                    </a>

                    <!-- item-->
                    <a href="@Url.Action("Logout", "Account")" class="dropdown-item notify-item">
                        <i class="fi-power"></i> <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left">
                    <i class="dripicons-menu"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>

