﻿@model WebPortal.Model.T_News
@{
    ViewBag.Title = "Web Portal | Edit News";
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit Existing <strong>News</strong></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/News/ListNews" class="btn btn-purple" onclick = "return confirm('Are you wish to discard this changes?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @using (Html.BeginForm("EditNews", "News", FormMethod.Post, new { @class = "contactForm", @enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="span12 form-group">
                                @Html.HiddenFor(model => model.Id)
                                @Html.TextBoxFor(model => model.Judul, new { @id = "Judul", @class = "form-control span8", @placeholder = "*News Title" })
                                @Html.ValidationMessageFor(model => model.Judul, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span12 form-group">
                                @Html.TextAreaFor(model => model.Caption, new { @id = "Caption", @class = "form-control", @placeholder = "*News Caption", @row = 2, @style = "resize:none" })
                                @Html.ValidationMessageFor(model => model.Caption, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span12 form-group">
                                @Html.DropDownListFor(model => model.CategoryCode, ViewBag.CategoryList as SelectList, "*Choose Category", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CategoryCode, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.Attach, new { @id = "filename", @class = "form-control", @readonly = "readonly", @placeholder = "File Attachment" })
                                @Html.HiddenFor(model => model.AttachPath, new { @id = "attach" })
                            </div>
                            <div class="span1 form-group btn btn-primary">
                                Browse
                                @Html.TextBox("uploadFile", null, new { @id = "cmdBrowse", @onchange = "setFileName()", @type = "file", @style = "width:85px;margin-top:-24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                            </div>
                            <div class="span6" style="height:50px"></div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.Image, new { @id = "imagename", @class = "form-control", @readonly = "readonly", @placeholder = "*News Image" })
                                @Html.HiddenFor(model => model.ImagePath, new { @id = "image" })
                                @Html.ValidationMessageFor(model => model.Image, "", new { @style = "color: #a94442;" })
                            </div>
                            <div class="span1 form-group btn btn-primary">
                                Browse
                                @Html.TextBox("uploadImage", null, new { @id = "cmdBrowse2", @onchange = "setFileImage()", @type = "file", @style = "width:85px;margin-top:-24px;position: absolute;alpha(opacity=0);opacity: 0;background: white;display: block;" })
                            </div>
                            <div class="span6" style="height:50px"></div>
                            <div class="span12 margintop10 form-group">
                                @Html.TextAreaFor(model => model.Isi, new { @class = "form-control", @rows = 20, @style = "resize:none;", @placeholder = "*News Content" })
                                @Html.ValidationMessageFor(model => model.Isi, "", new { @style = "color: #a94442;" })
                                <p class="text-center">
                                    <button class="btn btn-large btn-theme margintop10" type="submit">Save Edit</button>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }

        var file = $("#attach").val();
        var lastindexfile = file.lastIndexOf("/") + 1;
        var lenfile = file.length;
        $("#filename").val(file.substring(lastindexfile, lenfile));

        var image = $("#image").val();
        var lastindeximage = image.lastIndexOf("/") + 1;
        var lenimage = image.length;
        $("#imagename").val(image.substring(lastindeximage, lenimage));
    });

    function setFileName() {
        var file = $("#cmdBrowse").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#filename").val(file.substring(lastindex, len));
        $("#attach").val($("#cmdBrowse").val());
    }

    function setFileImage() {
        var file = $("#cmdBrowse2").val();
        var lastindex = file.lastIndexOf("\\") + 1;
        var len = file.length;
        $("#imagename").val(file.substring(lastindex, len));
        $("#image").val($("#cmdBrowse2").val());
    }

</script>
