﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | News";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2>News Update</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                @foreach (var news in Model.listNews)
                {
                    <article>
                        <div class="row">
                            <div class="span8">
                                <div class="post-image">
                                    <div class="post-heading">
                                        <h3><a href="/News/NewsDetail/?NewsId=@news.Id">@news.Judul</a></h3>
                                    </div>
                                    <img src="@news.ImagePath" alt="" />
                                </div>
                                <p>@news.Caption</p>
                                <div class="bottom-article">
                                    <ul class="meta-post">
                                        <li><i class="icon-calendar"></i><a href="#">@news.CreatedDate.ToString("dd MMM yyyy")</a></li>
                                        <li><i class="icon-user"></i><a href="#">@news.CreatedBy</a></li>
                                    </ul>
                                    <a href="/News/NewsDetail/?NewsId=@news.Id" class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                }
                <div id="pagination">
                    @if (Model.toFirst)
                    {
                        <a href="/User/Index/?Page=1" class="inactive"><<</a>
                    }

                    @for (int i = Model.startPage; i <= Model.endPage; i++)
                    {
                        if (i == Model.currentPage)
                        {
                        <span class="current">@i</span>
                        }
                        else
                        {
                        <a href="/User/Index/?Page=@i" class="inactive">@i</a>
                        }
                    }

                    @if (Model.toLast)
                    {
                        <a href="/User/Index/?Page=@Model.totalPages" class="inactive">>></a>
                    }
                </div>
            </div>
            <div class="span4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <h5 class="widgetheading">Categories</h5>
                        <ul class="cat">
                            <li><i class="icon-angle-right"></i><a href="/News/Index/?Category=-1">All</a><span> (@Model.totalItem)</span></li>
                            @foreach (var category in Model.listCategory)
                            {
                                <li><i class="icon-angle-right"></i><a href="/News/Index/?Category=@category.CategoryCode">@category.CategoryName</a><span> (@category.TotalNews)</span></li>
                            }
                        </ul>
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Latest posts</h5>
                        <ul class="recent">
                            @foreach (var latest in Model.listLatestNews)
                            {
                                <li>
                                    <img src="@latest.ImagePath" class="pull-left img-news" alt="" />
                                    <h6><a href="/News/NewsDetail/?NewsId=@latest.Id">@latest.Judul</a></h6>
                                    <p>
                                        @latest.Caption
                                    </p>
                                </li>
                            }
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
