﻿@model WebPortal.Models.SearchModel
@{
    ViewBag.Title = "Web Portal | Edit News";
}
@{
    int num = 1;
}


<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit Posted <strong>News</strong></h2>
                    </div>
                </div>
                <div class="span8">
                    <div class="inner-heading breadcrumbdiv">
                        @using (Html.BeginForm("ListNews", "News", FormMethod.Post))
                        {
                            @Html.TextBoxFor(m => m.stringSearch, new { Style="margin-bottom:0"})<button type="submit" class="btn btn-medium icon-search"></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/News/CreateNews" class="btn btn-purple"><i class="icon-upload-alt"></i>Upload New News</a>
                </div>
            </div>
            @foreach (var category in Model.listNews.OrderBy(o => o.CategoryName).Select(g => g.CategoryName).Distinct())
            {
                { num = 1; }               
                <div class="row">
                    <div class="span12">
                        <h4><strong>@category</strong></h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.
                                    </th>
                                    <th style="display: none">Id
                                    </th>
                                    <th>News Title
                                    </th>
                                    <th>Author
                                    </th>
                                    <th>Posted Date
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.listNews.Where(item => item.CategoryName == category).OrderByDescending(o => o.ModifyDate == null ? o.CreatedDate : o.ModifyDate))
                                {
                                    <tr>
                                        <td style="width: 5%">@num
                                        </td>
                                        <td style="display: none">@item.Id
                                        </td>
                                        <td style="width: 61%">@item.Judul
                                        </td>
                                        <td style="width: 12%">@item.PostBy
                                        </td>
                                        <td style="width: 12%">@if(item.ModifyDate == null) { @item.CreatedDate.ToString("dd MMM yyyy") } else { @item.ModifyDate.GetValueOrDefault().ToString("dd MMM yyyy") }
                                        </td>
                                        <td style="width: 10%"><a href="/News/EditNews/?NewsId=@item.Id" class="btn btn-green"><i class="icon-edit"></i></a>&nbsp<a href="/News/DeleteNews/?NewsId=@item.Id" class="btn btn-red" onclick = "return confirm('Are you wish to delete this news?');"><i class="icon-trash"></i></a>
                                        </td>
                                    </tr>
                                    { num++; }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        } 
    });

</script>

