﻿@model WebPortal.Models.SearchModel
@{
    ViewBag.Title = "Web Portal | Download";
}
@{
    int num = 1;
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Download</h2>
                    </div>
                </div>
                <div class="span8">
                    @*<ul class="breadcrumb">
                        <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="#">Features</a><i class="icon-angle-right"></i></li>
                        <li class="active">Components</li>
                    </ul>*@

                    <div class="inner-heading breadcrumbdiv">
                        @using (Html.BeginForm("Index", "Document", FormMethod.Post))
                        {
                            @Html.TextBoxFor(m => m.stringSearch, new { Style = "margin-bottom:0" })
                            <button type="submit" class="btn btn-medium icon-search"></button>
                        }
                    </div>

                    @*<div class="form-group input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>*@

                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            @foreach (var group in Model.listFile.OrderBy(g => g.IdFileGroup).Select(g => g.FileGroup).Distinct())
            {
                { num = 1; }               
                <div class="row">
                    <div class="span12">
                        <h4><strong>@group</strong></h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>No.
                                    </th>
                                    <th style="display: none">Id
                                    </th>
                                    <th>File
                                    </th>
                                    <th>Description
                                    </th>
                                    <th>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.listFile.Where(item => item.FileGroup == group))
                                {
                                    <tr>
                                        <td style="width: 5%">@num
                                        </td>
                                        <td style="display: none">@item.Id
                                        </td>
                                        <td style="width: 35%">@item.FileName
                                        </td>
                                        <td style="width: 50%">@item.Description
                                        </td>
                                        <td style="width: 10%"><a href="/Document/DownloadFile/?urlPath=@item.FileLocation" class="btn btn-purple"><i class="icon-download-alt"></i></a>
                                        </td>
                                    </tr>
                                    { num++; }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>
