﻿<div style="font-family:'San Francisco',Arial,Helvetica,san-serif,serif;font-size:14px;margin:0;box-sizing:border-box;color:black">
    <div class="adM">
    </div>
    <table style="width:100%;height:100%;max-width:650px;border-spacing:0;border-collapse:collapse;margin:0 auto;background:#f2f2f2" align="center">
        <tbody>
            <tr>
                <td style="padding:20px">
                    <table style="width:100%;height:100%;max-width:600px;border-spacing:0;border-collapse:collapse;border:1px solid #e6e7eb;margin:0 auto" align="center">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" align="center" style="border-spacing:0;border-collapse:collapse;width:100%">
                                        <thead>
                                            <tr style="background-image: linear-gradient(90deg, #0d47a1 0%, #145bcb 100%);">
                                                <th>
                                                    <h2 style="margin:0;padding:20px;text-align:center">
                                                        <img alt="Cataloc" src="https://raw.githubusercontent.com/irwansaifranto/Images/master/logo_white.png" height="45" alt="logo" class="m_-2826967760848575188service_logo CToWUd">
                                                    </h2>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </td>
                            </tr>
                            <tr bgcolor="white">
                                <td style="padding:20px 20px 10px">
                                    <table style="border-spacing:0;border-collapse:collapse;width:100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span style="font-size:17px">
                                                        Halo <span style="font-weight:700">
                                                            Irwan
                                                            ,
                                                        </span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="color:#636363">
                                                        Request anda dg No. <strong>PR-2019-JKT-PRO-0019</strong> sedang di proses.
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="font-size:11px;color:#aaa;margin:10px 0;display:block" class="m_-2826967760848575188amount-paid">REQUEST TYPE</p>
                                                    <p style="font-weight:600;font-size:32px;display:inline-block;padding:0 10px 0px 0;margin:0;vertical-align:middle">
                                                        PR
                                                    </p>

                                                    <p style="display:inline-block;border-radius:4px;padding:5px 10px;color:white;font-size:11px;letter-spacing:0.3px;vertical-align:middle;background:#007bff;margin:0">
                                                        Waiting Approval
                                                    </p>
                                                    <p style="color:#777;padding:10px 0;border-bottom:1px solid #e6e7eb;margin:0 0 10px;font-size:13px" class="m_-2826967760848575188payment-tip">
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                            <tr bgcolor="white">
                                <td>
                                    <table width="100%" align="center" style="border-spacing:0;border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td width="90%">
                                                    <h2 style="font-size:14px;font-weight:600;margin:0;padding:0 20px" class="m_-2826967760848575188order-wrapper">
                                                        <span style="color:#aaa;font-size:11px;text-transform:uppercase;display:block;padding-bottom:7px">DETAIL REQUEST</span>
                                                        Selasa, 07 Januari 2020
                                                    </h2>
                                                    <h2 style="margin:0;padding:10px 0 0 19px;font-weight:500">
                                                        <table>
                                                            <tr>
                                                                <td><span style="color:#aaa;font-size:10px;text-transform:uppercase;display:block;padding-bottom:7px">COMPANY</span></td>
                                                                <td><span style="color:#aaa;font-size:10px;text-transform:uppercase;display:block;padding-bottom:7px">: PT. KARANGJUANG HIJAU LESTARI</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span style="color:#aaa;font-size:10px;text-transform:uppercase;display:block;padding-bottom:7px">DIVISI</span></td>
                                                                <td><span style="color:#aaa;font-size:10px;text-transform:uppercase;display:block;padding-bottom:7px">: PURCHASING</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td><span style="color:#aaa;font-size:10px;text-transform:uppercase;display:block;padding-bottom:7px">JABATAN</span></td>
                                                                <td><span style="color:#aaa;font-size:10px;text-transform:uppercase;display:block;padding-bottom:7px">: ADMIN</span></td>
                                                            </tr>
                                                        </table>
                                                    </h2>
                                                </td>
                                                <td width="10%" style="padding:0 20px">
                                                    <img src="https://raw.githubusercontent.com/irwansaifranto/Images/master/purchase_order.png" width="59" alt="Order Details" style="vertical-align:-webkit-baseline-middle;float:right" class="CToWUd">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>


                            <tr bgcolor="white">
                                <td style="padding:20px 20px 0 20px">
                                    <table width="100%" align="center" style="border-spacing:0;border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="https://raw.githubusercontent.com/irwansaifranto/Images/master/icons8-record-30-black.png" width="20" alt="cataloc" class="CToWUd">
                                                    <span style="font-weight:bold;color:#000;text-transform:uppercase;font-size:11px;vertical-align:text-top;padding-left:8px">
                                                        Requestor <strong style="color:#333"><span>•</span>&nbsp;07-01-2020 08:04</strong>
                                                    </span>
                                                    <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 6px;font-size:13px;line-height:1.4">
                                                        <span style="color:#aaa;font-size:10px;text-transform:uppercase;display:block;padding-bottom:7px">Irwan s Rahmat</span>
                                                        <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1">Commend</span>
                                                        <i>&#34;Saya membutuhkan barang ini untuk keperluan update onderdil yg rusak.&#34;</i>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="https://raw.githubusercontent.com/irwansaifranto/Images/master/icons8-record-30-green.png" width="20" alt="pickup" class="CToWUd">
                                                    <span style="font-weight:bold;color:#39b351;text-transform:uppercase;font-size:11px;vertical-align:text-top;padding-left:8px">
                                                        Approval 1 <strong style="color:#333"><span>•</span>&nbsp;07-01-2020 08:04</strong>
                                                        <p style="display:inline-block;border-radius:4px;padding:3px;color:white;font-size:8px;letter-spacing:0.3px;vertical-align:middle;background:#39b351;margin:0">
                                                            APPROVED
                                                        </p>
                                                    </span>
                                                    <p style="border-left:1px dotted #ccc;padding:0 22px;margin:10px 6px;font-size:13px;line-height:1.4">
                                                        <span style="color:#aaa;font-size:10px;text-transform:uppercase;display:block;padding-bottom:7px">Manager Purchasing</span>
                                                        <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1">Commend</span>
                                                        <i>&#34;Ok sudah sesuai dengan yg diminta. Tinggal Menunggu approval dari senior manager ya...&#34;</i>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom:1px solid #e6e7eb">
                                                    <img src="https://raw.githubusercontent.com/irwansaifranto/Images/master/icons8-record-30.png" width="20" alt="pickup" class="CToWUd">
                                                    <span style="font-weight:bold;color:#178ffc;text-transform:uppercase;font-size:11px;vertical-align:text-top;padding-left:8px">
                                                        Approval 2 <strong style="color:#333"><span>•</span>&nbsp;07-01-2020 08:04</strong>
                                                        <p style="display:inline-block;border-radius:4px;padding:3px;color:white;font-size:8px;letter-spacing:0.3px;vertical-align:middle;background:#007bff;margin:0">
                                                            Waiting Approval
                                                        </p>
                                                    </span>
                                                    <p style="padding:0 22px;margin:10px 6px;font-size:13px;line-height:1.4">
                                                        <span style="color:#aaa;font-size:10px;text-transform:uppercase;display:block;padding-bottom:7px">Senior Manager Purchasing</span>
                                                        <!-- <span style="font-weight:bold;display:block;padding-bottom:5px;font-size:14px;line-height:1">Commend</span>
                                                          <i>&#34;Saya membutuhkan barang ini untuk keperluan update onderdil yg rusak.&#34;</i>
                                                        </p> -->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr bgcolor="white">
                                <td style="padding:0 20px 10px">
                                    <table align="left" style="border-spacing:0;border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p style="margin:0;padding:10px 0">
                                                        <span style="font-size:12px;text-align:center;font-weight:bold;color:black">
                                                            PURCHASE REQUISITION (PR) | PR-2019-JKT-PRO-0019
                                                        </span>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr bgcolor="white">
                                <td style="padding:0 20px">
                                    <table width="100%" align="center" style="border-spacing:0;border-collapse:collapse">
                                        <thead style="font-size:12px;font-weight:bold;padding:15px 0">
                                            <tr style="border-bottom:1px solid #e6e7eb">
                                                <th align="left">Item/Service Name</th>
                                                <th align="left">Quantity</th>
                                                <th align="right">Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="font-size:13px;color:#777777;padding: 10px 0">
                                                    Paperone A4 Kertas Fotokopi 80g
                                                </td>
                                                <td style="font-size:13px;color:#777777;padding: 10px 0">
                                                    15
                                                </td>
                                                <td style="font-size:14px;text-align:right;padding: 10px 0">
                                                    2.000.000
                                                </td>
                                            </tr>
                                            <tr style="border-top:1px solid #e6e7eb">
                                                <td style="font-size:13px;color:#777777;padding: 10px 0">
                                                    Paperone A3 Kertas Fotokopi 100g
                                                </td>
                                                <td style="font-size:13px;color:#777777;padding: 10px 0">
                                                    20
                                                </td>
                                                <td style="font-size:14px;text-align:right;padding: 10px 0">
                                                    4.700.000
                                                </td>
                                            </tr>
                                            <tr align="right" style="font-weight: bold;font-size:12px;color:#000;padding: 10px 0">
                                                <td colspan="2" style="padding-right: 22px;">Grand Total</td>
                                                <td>6.700.000</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span style="font-size:11px;color:#777;">For more detail information. Please click link</span>
                                                    <a href="http://www.cataloc.co.id" style="display:inline-block;padding:5px 0;font-size:11px;margin:0">
                                                        Go To Portal
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr bgcolor="white">
                                                <td style="padding:12px"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:11px;color:#999;text-align:right;padding:5px 25px;font-weight:300">
                        Butuh bantuan? Hubungi kami: <span style="font-weight:500"><a href="mailto:customerservice@cataloc.co.id" target="_blank">customerservice@cataloc.co.id</a></span>
                    </p>
                </td>
            </tr>
            <tr bgcolor="#E8E8E8">
                <td style="padding:0 20px">
                    <h2 style="text-align:center;margin:0;padding:10px 0 3px 0">
                        <img alt="Cataloc" src="https://raw.githubusercontent.com/irwansaifranto/Images/master/logo_grey.png" width="100" class="m_-2826967760848575188brand_logo CToWUd">
                    </h2>
                    <p style="font-size:11px;color:#999;text-align:center;padding:5px 0">Letjen S. Parman St, RT.12/RW.6, Slipi, Palmerah, West Jakarta City, Jakarta 11440</p>
                </td>
            </tr>
        </tbody>
    </table><div class="yj6qo"></div>
    <div class="adL">
    </div>
</div>