/* =============
   Form
============= */

label {
  font-size: 14px;
  color: $muted;
  font-family: $font-secondary;
  font-weight: 300;
}

select[multiple] option+option, select[size] option+option {
  margin-top: 1px;
}

select[multiple] option, select[size] option {
  padding: 6px 12px;
  border-radius: 2px;
}

select[multiple] {
  height: auto;
}

textarea.form-control {
  min-height: 90px;
}

.form-control {
  border: 1px solid darken($light,3%);
  border-radius: 4px;
  max-width: 100%;
  padding: .469rem .75rem;
  font-size: $font-size-base;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;

  &:focus {
    border: 1px solid darken($light,20%);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
  }
}

.form-control-lg {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
}

.form-control-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}

input[type="color"] {
  min-height: 38px;
}

.input-group-prepend,.input-group-append {
  .btn {
    min-height: 38px;
  }
}

.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn,
.input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-prepend>.input-group-text {
  font-size: 12px;
}

.custom-select:focus {
  box-shadow: none;
}

.data-input-change a{
  font-size: 12px;
  color: $primary;
  font-weight: 300;
}

// Checkbox and Radio
.custom-control-input {
  display: none;
}

.custom-control-input:checked~.custom-control-indicator {
  background-color: $custom;
}

.form-check-input:only-child {
  position: absolute;
}

