﻿@model List<WebPortal.Model.T_MsMenuContent>
@{
    ViewBag.Title = "Web Portal | Edit Corporate Profile";
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span5">
                    <div class="inner-heading">
                        <h2>Edit Corporate Profile</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    @using (Html.BeginForm("EditCorporateProfile", "CorporateProfile", FormMethod.Post, new { @class = "contactForm", @enctype = "multipart/form-data" }))
                    {
                    <div class="span12 margintop10 form-group">
                        @Html.TextAreaFor(model => model.FirstOrDefault().MenuContent, new { @class = "input-block-level", @rows = 12, @style = "resize:none;"})
                        @Html.HiddenFor(model => model.FirstOrDefault().Menu, new {@id = "Menu" })
                        <p class="text-center">
                            <button class="btn btn-large btn-theme margintop10" type="submit">Edit Corporate Profile</button>
                        </p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
