﻿@model List<WebPortal.Model.T_MsMenuContent>
@{
    ViewBag.Title = "Web Portal | Corporate Profile";
}


<body>
    <div id="wrapper">
        <section id="featured">
            <!-- start slider -->
            <!-- Slider -->
            <div id="nivo-slider">
                <div class="nivo-slider">
                    <img src="~/Design/images/Corporate Profile.jpg" alt="" title="#caption-1" />
                </div>
            </div>
            <!-- end slider -->
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        @foreach (var content in Model)
                        {
                            foreach (string contentsplit in content.MenuContent.ToString().Split(';'))
                            {
                                if (contentsplit != "")
                                {
                                    <p>
                                        @if (contentsplit.Contains("@h@"))
                                        {
                                            <strong>@contentsplit.Replace("@h@", "")</strong>
                                        }
                                        else
                                        {
                                            if (contentsplit == "")
                                            {
                                            @contentsplit <br />
                                            }
                                            else
                                            {
                                            @contentsplit
                                            }
                                        }
                                    </p>
                                }
                            }
                        }
                    </div>
                </div>
                @if (Session["LogedUserId"] != null)
                {
                    if (Session["UserLevel"].ToString() == "99")
                    {
                    <a href="/CorporateProfile/EditCorporateProfile" class="btn btn-theme">Edit Content</a>
                    }
                }
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

</body>
