@{
    Layout = "~/Views/Shared/_LayoutFormAccount.cshtml";
    ViewData["Title"] = "New Password";
     long num = DateTime.Now.Ticks;
}

<div class="wrapper-page account-page-full">
    <div class="card shadow-lg">
        <div class="card-block">
            <div class="account-box">
                <div class="card-box p-4">
                    <h2 class="text-uppercase text-center pb-4">
                        <a href="#" class="text-success">
                            <span>
                                <img src="~/images/logo-cat.png" alt="" height="45">
                            </span>
                        </a>
                    </h2>
                    <div class="text-center m-b-20" id="header-title">
                        <p class="text-muted m-b-0">Please Enter your new password.</p>
                    </div>
                    <form name="form-reset-password">
                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <input asp-for="@ViewData["token"]" type="hidden" />
                                <label for="emailaddress">Enter New Password</label>
                                <input class="form-control" type="password" name="newPassword" id="newPassword" tabindex="1" required="" placeholder="Enter your new password">
                            </div>
                        </div>
                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <label for="emailaddress">Retype New Password</label>
                                <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" required="" placeholder="Retype your new password">
                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10 wrap-msg-global">
                            <div class="col-12 wrap-btn">
                                <button class="btn btn-block btn-custom waves-effect waves-light reset-btn" type="submit">Reset Password</button>
                            </div>
                        </div>
                    </form>
                    <div class="row m-t-20">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Back to <a href="@Url.Action("ForgotPassword", "Account")" class="text-dark m-l-5"><b>Forgot Password</b></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="m-t-40 text-center">
        <p class="account-copyright">2019 © Cataloc.co.id</p>
    </div>
</div>

@section Scripts {
    <script src="~/webportal/account/reset-password.min.js?@num"></script>
}



