@{
    Layout = "~/Views/Shared/_LayoutFormAccount.cshtml";
    ViewData["Title"] = "Register";
}

<div class="wrapper-page account-page-full">

    <div class="card shadow-lg">
        <div class="card-block">

            <div class="account-box">

                <div class="card-box p-4">
                    <h2 class="text-uppercase text-center pb-2">
                        <a href="#" class="text-success">
                            <span>
                                <img src="~/images/logo.png" alt="" height="75">
                            </span>
                        </a>
                    </h2>
                    <form class="register-form" name="register-form">
                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <h4>Register</h4>
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <label for="username">Type of Account</label>
                                @Html.DropDownList("registerUserType", new List<SelectListItem>
                                {
                                   new SelectListItem{ Text="Customer", Value = "C" },
                                   new SelectListItem{ Text="Vendor", Value = "V" },
                                   new SelectListItem{ Text="Job Applicant", Value = "J" }
                                }, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <label for="emailaddress">Email address</label>
                                <input class="form-control" type="email" id="registerEmail" name="registerEmail" placeholder="Enter your email">
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" required="" id="registerPassword" name="registerPassword" placeholder="Enter your password">
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <label for="password">Confirm Password</label>
                                <input class="form-control" type="password" required="" id="registerConfirmPassword" name="registerConfirmPassword" placeholder="Re-Enter your password">
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <div class="checkbox checkbox-custom">
                                    <input id="remember" type="checkbox" checked="">
                                    <label for="remember">
                                        I accept <a href="#" data-toggle="modal" data-target="#tncModal" class="text-custom">Terms and Conditions</a>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light register-btn" type="submit">Register</button>
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">or register with?</p>

                                <button type="button" class="btn btn-block btn-googleplus waves-effect waves-light">
                                    <i class="fa fa-google m-r-5"></i>Google
                                </button>
                            </div>
                        </div>

                    </form>

                    <div class="row m-t-20">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Already have an account?  <a href="@Url.Action("LoginPage", "Home")" class="text-dark m-l-5"><b>Sign in</b></a></p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="tncModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tncModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="tncModalLabel">Terms and Conditions</h4>
                </div>
                <div class="modal-body">
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>


    <div class="m-t-40 text-center">
        <p class="account-copyright">2019 © Cataloc.co.id</p>
    </div>

    <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="helpModalLabel">Help</h4>
                </div>
                <div class="modal-body">
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/webportal/account/register.js" type="text/javascript"></script>
}

