﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | Project List";
}
@{
    int num = 1;
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Project List</h2>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/Project/AddProject" class="btn btn-theme">Add New Project</a>
                </div>

            </div>
            <div class="row">
                <div class="span12">
                    <table class="table table-striped" id="UserTable">
                        <thead>
                            <tr>
                                <th>No.
                                </th>
                                <th>Project Code
                                </th>
                                <th>Project Name
                                </th>
                                <th>Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listProject)
                            {
                                <tr>
                                    <td style="width: 5%">@num
                                    </td>
                                    <td style="width: 25%">@Html.DisplayFor(modelItem => item.ProjectCode)
                                    </td>
                                    <td style="width: 45%">@Html.DisplayFor(modelItem => item.ProjectName)
                                    </td>
                                    <td style="width: 15%"><a href="/Project/EditProject/?projectCode=@item.ProjectCode" class="btn btn-green"><i class="icon-edit"></i></a>&nbsp<a href="/Project/DeleteProject/?projectCode=@item.ProjectCode" class="btn btn-red" onclick = "return confirm('Are you wish to delete this project?');"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>    
                                { num++; }                              
                            }
                        </tbody>
                    </table>

                    <div id="pagination">
                        @if (Model.toFirst)
                        {
                            <a href="/User/Index/?Page=1" class="inactive"><<</a>
                        }

                        @for (int i = Model.startPage; i <= Model.endPage; i++)
                        {
                            if (i == Model.currentPage)
                            {
                            <span class="current">@i</span>
                            }
                            else
                            {
                            <a href="/User/Index/?Page=@i" class="inactive">@i</a>
                            }
                        }

                        @if (Model.toLast)
                        {
                            <a href="/User/Index/?Page=@Model.totalPages" class="inactive">>></a>
                        }
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>


