@{
    Layout = "~/Views/Shared/_LayoutFormAccount.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="wrapper-page account-page-full">
    <div class="card shadow-lg">
        <div class="card-block">

            <div class="account-box">

                <div class="card-box p-4">
                    <h2 class="text-uppercase text-center pb-4">
                        <a href="#" class="text-success">
                            <span><img src="~/images/logo.png" alt="" height="75"></span>
                        </a>
                    </h2>

                    <form class="" action="#">
                        
                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <h4 for="title">UI Vendor Dashboard</h4>
                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("Login", "Account")','_blank')">Sign In</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("Register", "Account")','_blank')">Register</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("RegisterConfirmation", "Account")','_blank')">Email Confirm</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("RegisterConfirmation", "Account")','_blank')">Email Activation User</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("RegisterConfirmation", "Account")','_blank')">Confirmation Email Success</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("NewPassword", "Account")','_blank')">Forgot Password</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("Index", "Home")','_blank')">Sign Out</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("Index", "Home")','_blank')">Dashboard Vendor</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("Index", "Vendor")','_blank')">Data Vendor</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("Profile", "Account")','_blank')">Profile Vendor</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("Index", "Admin")','_blank')">Dashboard Admin</button>
                            </div>
                        </div>
                        
                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-custom waves-effect waves-light" type="submit" onclick=" window.open('@Url.Action("SampleVerify", "Admin")','_blank')">List Vendor Admin</button>
                            </div>
                        </div>

                    </form>

                    

                </div>
            </div>

        </div>
    </div>

    <div class="m-t-40 text-center">
        <p class="account-copyright">2019 © FAP Group. | <a href="#" data-toggle="modal" data-target="#helpModal" class="text-dark m-l-5"><b>Help</b></a></p>
    </div>
    
    <div id="helpModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="helpModalLabel">Help</h4>
                </div>
                <div class="modal-body">
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
