﻿@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPortal</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon_cataloc.ico">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet" />
    <link href="~/lib/mdb/css/landing-employee.css" rel="stylesheet">
    <link href="~/lib/fap-van/assets/css/icons.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body>
    <!--Main Navigation-->
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="~/lib/fap-van/assets/images/logo_white.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLRForm"><i class="fa fa-user pr-2"> </i> Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Intro Section -->
        <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('/lib/fap-van/assets/images/bg/palm-oil-1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-black-light">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>FAP Group</strong></h1>
                                <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                                <h5 class="text-uppercase mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Integritas, Komitmen & Hasil</strong></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Main Navigation-->
    <!--Main Layout-->
    <main>
        <div class="container">
            <!-- Section: Magazine v.2 -->
            <section class="magazine-section my-5">

                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold text-center my-5">Latest News</h2>
                <!-- Section description -->
                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-6 col-md-12">

                        <!-- Featured news -->
                        <div class="single-news mb-lg-0 mb-4">

                            <!-- Image -->
                            <div class="view overlay rounded z-depth-1-half mb-4">
                                <img class="img-fluid" src="~/lib/fap-van/assets/images/news/image-1.jpg" alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Data -->
                            <div class="news-data d-flex justify-content-between">
                                <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>27/07/2019</p>
                            </div>

                            <!-- Excerpt -->
                            <h3 class="font-weight-bold dark-grey-text mb-3"><a>KESEJAHTERAAN PETANI : Melampaui Sawit Berkelanjutan</a></h3>
                            <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Salah satu tantangan terberat manusia adalah saat kehidupannya yang dianggap biasa saja dan tidak punya apa-apa tiba-tiba berubah menjadi lebih dari sekadar berkecukupan. Sindrom seperti ini juga menyerang petani sawit.</p>

                        </div>
                        <!-- Featured news -->

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-6 col-md-12">

                        <!-- Small news -->
                        <div class="single-news mb-4">

                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-md-3">

                                    <!--Image-->
                                    <div class="view overlay rounded z-depth-1 mb-4">
                                        <img class="img-fluid" src="~/lib/fap-van/assets/images/news/palm-1464653_1280.jpg" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-9">

                                    <!-- Excerpt -->
                                    <div class="d-flex justify-content-between">
                                        <div class="col-11 text-truncate pl-0 mb-3">
                                            <a href="#!" class="dark-grey-text">ISPO, Strategi Ciamik Indonesia Melawan Kampanye Hitam Kelapa Sawit</a>
                                        </div>
                                        <a><i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                    <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>26/07/2019</p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </div>
                        <!-- Small news -->
                        <!-- Small news -->
                        <div class="single-news mb-4">

                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-md-3">

                                    <!--Image-->
                                    <div class="view overlay rounded z-depth-1 mb-4">
                                        <img class="img-fluid" src="~/lib/fap-van/assets/images/news/palm-1464654_1280.jpg" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-9">
                                    <!-- Excerpt -->
                                    <div class="d-flex justify-content-between">
                                        <div class="col-11 text-truncate pl-0 mb-3">
                                            <a href="#!" class="dark-grey-text">Nilai Strategis Biodiesel Sawit, dari Ekonomi, Mengurangi Gas Rumah Kaca, hingga Pertahanan Negara</a>
                                        </div>
                                        <a><i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                    <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>25/07/2019</p>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                        </div>
                        <!-- Small news -->
                        <!-- Small news -->
                        <div class="single-news mb-4">

                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-md-3">

                                    <!--Image-->
                                    <div class="view overlay rounded z-depth-1 mb-4">
                                        <img class="img-fluid" src="~/lib/fap-van/assets/images/news/palm-1464655_1280.jpg" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-9">

                                    <!-- Excerpt -->
                                    <div class="d-flex justify-content-between">
                                        <div class="col-11 text-truncate pl-0 mb-3">
                                            <a href="#!" class="dark-grey-text">Luhut: Ekspor Kelapa Sawit Indonesia ke Tiongkok Sekarang Sudah 1 Juta Ton</a>
                                        </div>
                                        <a><i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                    <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>24/07/2019</p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </div>
                        <!-- Small news -->
                        <!-- Small news -->
                        <div class="single-news">

                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-md-3">

                                    <!--Image-->
                                    <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                                        <img class="img-fluid" src="~/lib/fap-van/assets/images/news/palm-1464660_1280.jpg" alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>
                                <!-- Grid column -->
                                <!-- Grid column -->
                                <div class="col-md-9">

                                    <!-- Excerpt -->
                                    <div class="d-flex justify-content-between">
                                        <div class="col-11 text-truncate pl-0 mb-lg-3">
                                            <a href="#!" class="dark-grey-text">GAPKI: Indonesia Sudah Kirim CPO dan PKO Total 13,066 Juta Ton</a>
                                        </div>
                                        <a><i class="fas fa-angle-double-right"></i></a>
                                    </div>
                                    <p class="font-weight-bold dark-grey-text"><i class="fas fa-clock-o pr-2"></i>23/07/2019</p>

                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                        </div>
                        <!-- Small news -->

                    </div>
                    <!--Grid column-->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: Magazine v.2 -->
            <!--Modal: Login / Register Form-->
            <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog cascading-modal" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Modal cascading tabs-->
                        <div class="modal-c-tabs">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs md-tabs tabs-2 custom-color-dark" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#panelLogin" role="tab">
                                        <i class="fa fa-user pr-2"></i>
                                        Login
                                    </a>
                                </li>
                                <button type="button" class="close ml-2" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </ul>
                            <!-- Tab panels -->
                            <div class="tab-content">
                                <!--Panel 7-->
                                <div class="tab-pane fade in show active" id="panelLogin" role="tabpanel">
                                    <div class="text-center mt-2">
                                        <h4 class="font-weight-normal text-center text-dark">Employee</h4>
                                    </div>
                                    <input type="hidden" id="_KEY_LP" value="EMP"/>
                                    <form role="form" class="form-login" novalidate>
                                        <div class="modal-body mb-1">
                                            <div class="md-form md-outline md-form-custom">
                                                <input type="text" name="loginUserId" id="loginUserId" class="form-control input-custom">
                                                <label id="lblLoginUserId" for="loginUserId">Email</label>
                                            </div>

                                            <div class="md-form md-outline md-form-custom">
                                                <input type="password" name="loginPassword" id="loginPassword" class="form-control input-custom">
                                                <label id="lblLoginPassword" for="loginPassword">Password</label>
                                            </div>

                                            <div class="d-flex justify-content-around mt-0">
                                                <div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input font-smaller" id="defaultLoginFormRemember">
                                                        <label class="custom-control-label grey-text font-small" for="defaultLoginFormRemember">Remember me</label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="" class="grey-text font-small">Forgot password?</a>
                                                </div>
                                            </div>
                                            <div class="text-center mt-3">
                                                <button type="button" class="btn btn-custom btn-rounded z-depth-1a btn-submit">Sign in</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!--Footer-->
                                    <div class="modal-footer text-center">
                                        <button type="button" class="btn btn-link btn-sm btn-rounded waves-effect btn-block mr-2" onclick="window.open('/Vendor', '_blank')">Vendor</button>
                                        <button type="button" class="btn btn-link btn-sm btn-rounded waves-effect btn-block">Customer</button>
                                        <button type="button" class="btn btn-link btn-sm btn-rounded waves-effect btn-block ml-2" onclick=" window.open('/JobApplicant/Index', '_blank')">Job Applicant</button>
                                    </div>
                                </div>
                                <!--/.Panel 7-->
                            </div>

                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <!--Modal: Login / Register Form-->
        </div>

    </main>
    <!--Main Layout-->
    <!--Footer-->
    <footer class="page-footer grey lighten-3 text-center text-md-left">
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            <div class="container-fluid">
                2019 © Cataloc.co.id
                @*© 2019 Copyright: <a href="http://fap-agri.com"> FAP Group </a>*@
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <!-- MDB -->
    <!-- Bootstrap tooltips -->
    <script src="~/lib/mdb/js/popper.min.js" type="text/javascript"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/lib/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/lib/mdb/js/mdb.js" type="text/javascript"></script>
    <script src="~/webportal/webportal.bundle.js" type="text/javascript"></script>
    <script src="~/webportal/account/login-employee-mdb.js"></script>
    <script>
        new WOW().init();
    </script>
</body>
</html>
