﻿@model WebPortal.Models.PurchaseOrder.PurchaseOrderModel

@{
    ViewData["Title"] = "Purchase Order";
    long num = DateTime.Now.Ticks;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">Order</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Vendor")">Dashboard</a></li>
                        <li class="breadcrumb-item active">Order</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card-box shadow-sm">
                    <div class="row">
                        <div class="col-12 col-md-2">
                            <select id="demo-foo-filter-status" class="mdb-select md-form md-outline">
                                <option value="">Show All</option>
                                <option value="success">Success</option>
                                <option value="pending">Pending</option>
                                <option value="verify">Process</option>
                                <option value="block">Cancel</option>
                            </select>
                            <label class="mdb-main-label">Filter</label>
                        </div>
                        <div class="col-12 col-md-2">
                            <div class="md-form md-outline">
                                <input id="demo-foo-search" type="text" id="search_table" class="form-control" autocomplete="on">
                                <label for="search_table">Search</label>
                            </div>
                        </div>
                    </div>

                    <table id="grid_purchase_order" class="table table-striped table-hover table-bordered" width="100%"></table>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->

@section Scripts {
    <environment include="Development">
        <script src="~/webportal/purchaseorder/purchase-order.js?@num" type="text/javascript"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/webportal/purchaseorder/purchase-order.min.js?@num" type="text/javascript"></script>
    </environment>

}