﻿@using WebPortal.Models.PurchaseOrder;

@model PurchaseOrderModel
@{
    List<PurchaseOrderItemModel> POItem = ViewData["PO_Item"] != null ? (List<PurchaseOrderItemModel>)ViewData["PO_Item"] : new List<PurchaseOrderItemModel>();
}

@{
    ViewData["Title"] = "Purchase Order Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
}

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <input asp-for="Id" type="hidden" />
            <input asp-for="PONumber" type="hidden" />
            <input asp-for="POStatus" type="hidden" />
        </div>

        <div class="row">
            <div class="col-12">
                <div>
                    <h4 class="page-title-dashboard">PO Number @Model.PONumber</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item">Order</li>
                        <li class="breadcrumb-item active">@Model.PONumber</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-md-12">
                <div class="card-box shadow-sm">

                    <div class="text-center col-12 mb-4">
                        <div class="h2-responsive">Purchase Order</div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="float-left">
                                <h4>@Model.CompanyName</h4>
                                <address class="line-h-24">
                                    @Model.CompanyAddress
                                </address>
                            </div>

                        </div><!-- end col -->
                        <div class="col-4 offset-2">
                            <div class="mt-3">
                                <p class="mb-1"><strong>Order Date: </strong> @Model.CreatedDate</p>
                                <p class="mb-1"><strong>Payment Status: </strong> <span class="badge badge-danger">@Model.PaymentStatus</span></p>
                                <p class="mb-1"><strong>PO Number: @Model.PONumber</strong> </p>
                                @*<p class="mb-1"><strong>MCA21-KEBUN </strong></p>*@
                            </div>
                        </div><!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row mt-3 mb-4">
                        <div class="col-6">
                            <h5>NPWP</h5>
                            @Model.Npwp
                            <address class="line-h-24">
                                @Model.CompanyAddress
                            </address>
                        </div>

                        <div class="col-4 offset-2">
                            <div class="mt-3">
                                <h5>TO</h5>
                                <p class="mb-1"><strong>Company : </strong> @Model.VendorCompanyName</p>
                                <p class="mb-1"><strong>Address : </strong> @Model.VendorCompanyAddress, @Model.VendorCity, @Model.VendorRegion</p>
                                <p class="mb-1"><strong>Phone   : </strong> @Model.VendorPhone</p>
                            </div>
                        </div>
                    </div>

                    <p>Please send us the items as stated below :</p>

                    <table id="Grid" class="table table-striped table-hover table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th hidden>Item Code</th>
                                <th class="font-weight-bold">Item/Service Name</th>
                                <th class="font-weight-bold">Specification</th>
                                <th class="font-weight-bold">Purpose Description</th>
                                <th class="font-weight-bold">Quantity</th>
                                <th class="font-weight-bold">Currency</th>
                                <th class="font-weight-bold">Unit Price</th>
                                <th class="font-weight-bold">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PurchaseOrderItemModel item in POItem)
                            {
                                <tr>
                                    <td id="ItemCode" hidden>
                                        @item.ItemCode
                                    </td>
                                    <td id="ItemName">
                                        @item.ItemName
                                    </td>
                                    <td id="Specification">
                                        <span>@item.Specification </span>
                                    </td>
                                    <td id="PurposeDesc">
                                        <span>@item.PurposeDesc </span>
                                    </td>
                                    <td id="Qty" align="right">
                                        @item.Qty
                                    </td>
                                    <td id="Currency">
                                        @item.Currency
                                    </td>
                                    <td id="UnitPrice" align="right">
                                        @item.UnitPriceString
                                    </td>
                                    <td id="TotalPrice" align="right">
                                        @item.TotalPriceString
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot style="text-align:right; font-weight:bold">
                            <tr>
                                <th id="total" colspan="6">Total :</th>
                                <td>@Model.StringGrandTotal</td>
                            </tr>
                            <tr>
                                <th id="total" colspan="6">PPN @Model.Ppn% :</th>
                                <td>@Model.stringPpn</td>
                            </tr>
                            <tr>
                                <th id="total" colspan="6">Grand Total :</th>
                                <td>@Model.StringGrandTotalAfterTax</td>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="row pt-3">
                        <div class="col-12 col-md-12">
                            <div class="row">
                                <label class="col-md-2 col-6">Terms of Payment</label>
                                <div class="col-md-10 col-6">: @Model.TOP Days</div>
                                <label class="col-md-2 col-6">Time of Submission</label>
                                <div class="col-md-10 col-6">: @Model.TOP DAYS AFTER INVOICE VALIDATION</div>
                                <label class="col-md-2 col-6">Terms of Submission</label>
                                <div class="col-md-10 col-6">: -</div>
                            </div>

                            <div class="clearfix pt-3">
                                <h6 class="text-muted">Requirements to be fulfilled by suppliers :</h6>
                                <small>
                                    <ol>
                                        <li>For suppliers write the purchase order number on all invoices and correspondence related to this purchase order.</li>
                                        <li>If the delivery of goods cannot be in accordance with the above date, please confirm with us.</li>
                                        <li>All items will be checked for specifications / quantities in our warehouse.</li>
                                        <li>Specifically for purchasing chemical goods, MSDS must be attached.</li>
                                    </ol>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="hidden-print form-group account-btn text-center mt-3 mb-0">
                        <div class="col-12">
                            <div class="button-list">
                                <button class="btn w-lg btn-outline-custom waves-effect waves-light" aria-hidden="true" onclick=" window.open('/PurchaseOrder/PurchaseOrder','_self')"><i class="fa fa-reply mr-2"></i> Back</button>
                                <a href="javascript:window.print()" class="btn btn-custom waves-effect waves-light"><i class="fa fa-print mr-2"></i> Print</a>
                                <button class="btn w-lg btn-success waves-effect waves-light" aria-hidden="true" id="btn-Process-Purchase-Order"><i class="fa fa-check mr-2"></i><span>Process PO</button>
                                <button class="btn w-lg btn-danger waves-effect waves-light" aria-hidden="true" id="btn-Reject-Purchase-Order"><i class="fa fa-times mr-2"></i> Reject PO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div> <!-- container -->
</div> <!-- content -->

@section Scripts {
    <environment include="Development">
        <script src="~/webportal/purchaseorder/purchase-order-details.js?@num" type="text/javascript"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/webportal/purchaseorder/purchase-order-details.min.js?@num" type="text/javascript"></script>
    </environment>

}