﻿@model List<WebPortal.Model.T_MsMenuContent>
@{
    ViewBag.Title = "Web Portal | Operation Department";
}

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="inner-heading">
                            <h2>Operation Department</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span10">
                        @*@foreach (var content in Model.Where(content => content.Menu == ViewBag.Title))
                        {
                            foreach (string contentsplit in content.MenuContent.ToString().Split(';'))
                            {
                            <p>
                                @if (contentsplit.Contains("@h@"))
                                {
                                    <strong>@contentsplit.Replace("@h@", "")</strong>
                                }
                                else
                                {
                                    if (contentsplit == "")
                                    {
                                    @contentsplit <br />
                                    }
                                    else
                                    {
                                    @contentsplit
                                    }
                                }
                            </p>
                            }
                        }*@
                    </div>
                </div>
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

</body>

