﻿@using WebPortal.Models.RequestForQuotation;

@model RequestForQuotationModel

@{
    ViewData["Title"] = "RequestForQuotationDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = DateTime.Now.Ticks;
    string validDate = Model.PriceValidDate.HasValue ? Model.PriceValidDate.Value.ToString("yyyy/MM/dd") : "";
}


    <input asp-for="Id" type="hidden" value="@Model.Id">
    <input asp-for="Rfqstatus" type="hidden" value="@Model.Rfqstatus">
    <input id="temp_UnitPrice" type="hidden" value="@Model.UnitPrice">
    <input id="temp_PriceValidDate" type="hidden" value="@Model.PriceValidDate">
    <input id="temp_DeliveryTime" type="hidden" value="@Model.DeliveryTime">
    <input id="temp_Qty" type="hidden" value="@Model.Qty" />

<!-- Start Page content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div>
                        <h4 class="page-title-dashboard">RFQ Number @Model.Rfqnumber</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item">Request for Quotation</li>
                            <li class="breadcrumb-item active">@Model.Rfqnumber</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card-box shadow-sm">

                        <div class="text-center col-12 mb-4">
                            <div class="h2-responsive">Request for Quotation</div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-4">
                                <h5>FROM</h5>
                                <address class="line-h-24">
                                    <b>@Model.CompanyName</b><br />
                                    @Model.CompanyAddress<br />
                                </address>
                            </div>

                            <div class="col-4">
                                <h5>TO</h5>
                                <address class="line-h-24">
                                    <b>@Model.VendorName</b><br />
                                    @Model.VendorAddress<br />
                                    Phone: @ViewData["VendorPhone"]
                                </address>
                            </div>

                            <div class="col-4">
                                <div class="mt-3 float-right">
                                    <p class="mb-1"><strong>Date: </strong> @Model.CreatedDate</p>
                                    <p class="mb-1"><strong>Subject: </strong> Quotation</p>
                                    <p class="mb-1"><strong>RFQ Number: </strong> @Model.Rfqnumber</p>
                                </div>
                            </div>
                        </div>

                        <p class="mt-3">Regards,</p>
                        <p>We from <strong>@Model.CompanyName</strong>, submit a price quote with the following specifications :</p>

                        <table id="Grid" class="table table-striped table-hover table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th class="font-weight-bold">Item / Service Name</th>
                                    <th class="font-weight-bold">EAN Number</th>
                                    <th class="font-weight-bold">Description</th>
                                    <th class="font-weight-bold">Quantity</th>                                   
                                    <th class="font-weight-bold">Unit Price</th>
                                    <th class="font-weight-bold">Amount</th>
                                    <th class="font-weight-bold">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-item-id="@Model.MasterItemId" data-item-name="@Model.ItemName" data-specification="@Model.Specification" 
                                    data-qty="@Model.Qty" data-unit-price="@Model.UnitPrice" data-valid-date-price="@Model.PriceValidDate" 
                                    data-delivery-time="@Model.DeliveryTime">
                                    <td>
                                        @Model.ItemName
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <span>@Model.Specification </span>
                                    </td>
                                    <td>
                                        @Model.Qty
                                    </td>
                                    <td class="col_unitprice" align="right">
                                        @if (Model.UnitPrice <= 0)
                                        {
                                            <span>0</span>
                                        }
                                        else
                                        {
                                            @Model.UnitPriceString
                                        }
                                    </td>
                                    <td class="col_totalprice" align="right">
                                        @if (Model.TotalPrice <= 0)
                                        {
                                            <span>0</span>
                                        }
                                        else
                                        {
                                            @Model.TotalPriceString
                                        }
                                    </td>
                                    <td align="center">
                                        <div class="btn-group hidden-print">
                                            <a href="#" data-toggle="modal" id="btnOpenModal" class="btn btn-icon waves-effect waves-light btn-custom"> <i class="fa fa-edit"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row pt-3">
                            <div class="col-12 col-md-12">
                                <h5>Terms Quotation</h5>
                                <div class="row">
                                    <label class="col-md-2 col-6">Terms of Payment</label>
                                    <div class="col-md-10 col-6">: @ViewData["TOP"] Days</div>
                                    <label class="col-md-2 col-6">Time of Submission</label>
                                    <div class="col-md-10 col-6">: @ViewData["TOP"] DAYS AFTER INVOICE VALIDATION</div>
                                    <label class="col-md-2 col-6">Terms of Submission</label>
                                    <div class="col-md-10 col-6">: FRANKO WAREHOUSE BUYER</div>
                                    <label class="col-md-2 col-6">PPN</label>
                                    <div class="col-md-10 col-6">: <span>@ViewData["Ppn"]</span>%</div>
                                </div>

                                <div class="clearfix pt-5">
                                    <div class="col-12 col-md-12">
                                        <div class="md-form md-outline mt-0">
                                            <textarea asp-for="Notes" class="md-textarea form-control" rows="4"></textarea>
                                            <label id="lbl_Notes" asp-for="Notes" class="">Notes</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="hidden-print form-group account-btn text-center mt-3 mb-0">
                            <div class="col-12">
                                <div class="button-list">
                                    <button class="btn w-lg btn-outline-custom waves-effect waves-light" aria-hidden="true" onclick=" window.open('/RequestForQuotation/RequestForQuotation','_self')"><i class="fa fa-reply mr-2"></i> Back</button>
                                    <a href="javascript:window.print()" class="btn btn-custom waves-effect waves-light"><i class="fa fa-print mr-2"></i> Print</a>
                                    <button class="btn w-lg btn-success waves-effect waves-light" aria-hidden="true" id="btn-Request-For-Quotation"><i class="fa fa-check mr-2"></i><span>Send</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div> <!-- container -->
        </div> <!-- content -->

        <!-- Edit RFQ modal content -->
        <div id="editItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                    <div class="modal-body">
                        <h4 class="text-center m-b-10">
                            <span>Edit Item/Service</span>
                        </h4>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <form role="form" id="form_rfq_edit" novalidate>
                                        <div class="row">
                                            <div class="col-12 col-md-12">
                                                <div class="md-form md-outline">
                                                    <input type="text" id="ItemName" class="form-control" disabled>
                                                    <label id="lbl_Item_Name" for="ItemName">Item/Service Name <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-12">
                                                <div class="md-form md-outline">
                                                    <textarea id="Specification" class="md-textarea form-control" rows="3" disabled></textarea>
                                                    <label id="lbl_Specification" for="Specification" class="">Description <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="md-form md-outline">
                                                    <input type="number" name="Qty" min="0" id="Qty" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" placeholder="" disabled/>
                                                    <label id="lbl_Qty" for="Qty">Quantity <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="md-form md-outline">
                                                    <input type="number" name="UnitPrice" min="0" id="UnitPrice" class="form-control" onkeydown="javascript: return event.keyCode == 69 ? false : true" placeholder="">
                                                    <label id="lbl_Unit_Price" for="UnitPrice">Unit Price <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="md-form md-outline">
                                                    <input placeholder="Selected date" type="text" id="PriceValidDate" class="form-control datepicker" data-value="@validDate">
                                                    <label asp-for="PriceValidDate" id="lbl_Valid_Date">Valid Until <span class="text-danger">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="md-form md-outline">
                                                    <input type="number" name="DeliveryTime" min="0" id="DeliveryTime" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" placeholder="" />
                                                    <label for="DeliveryTime" id="lbl_Delivery_Time">Delivery Time (days) <span class="text-danger">*</span></label>
                                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                                        <span> After PO Received</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>                                        
                                        <div class="form-group account-btn text-center mt-3 mb-0">
                                            <div class="col-12">
                                                <div class="button-list">
                                                    <button class="btn w-lg btn-outline-custom waves-effect waves-light" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                                    <button class="btn w-lg btn-custom waves-effect waves-light" type="button" id="btn_Update_Item"><i class="fa fa-plus-circle pr-2"></i> <span>Update</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

@section Scripts {
    <environment include="Development">
        <script src="~/webportal/requestforquotation/request-for-quotation-details.js?@num" type="text/javascript"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/webportal/requestforquotation/request-for-quotation-details.min.js?@num" type="text/javascript"></script>
    </environment>

}