﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Footer";
}

<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                @if (Session["LogedUserId"] != null && Session["UserLevel"].ToString() != "2" && Session["UserLevel"].ToString() != "3")
                {
                    <div class="widget">
                        <h5 class="widgetheading">Applications</h5>
                        @if (Model.listSiteMenu.Count > 0)
                        {
                            <ul class="link-list">
                                @foreach (var site in Model.listSiteMenu)
                                {
                                    <li><a href="@site.NavURL" target="_blank">@site.Description</a></li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>Do Not Have Permission to Access Any Applications</p>
                        }
                    </div>
                }
            </div>
            <div class="span3">
            </div>
            <div class="span3">
            </div>
            <div class="span3">
                <div class="widget">
                    <h5 class="widgetheading">Helpdesk</h5>
                    <p>
                        <a href="http://helpdesk.frl" target="_blank">
                            <i class="icon-external-link"></i>helpdesk.frl
                        </a>
                        <br>
                        <i class="icon-phone"></i>123
                        <br>
                        <i class="icon-envelope-alt"></i>helpdesk@first-resources.com
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="copyright">
                        <p>
                            <span>&copy; IT Corporate Jakarta - All right reserved.</span>
                        </p>
                        <div class="credits">
                            Designed by IT Corporate Jakarta
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <ul class="social-network">
                        <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                        <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                        <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                        <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
                        <li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
