﻿@model WebPortal.Models.NavigationBar
@{
    ViewBag.Title = "MenuBar";
}

<!-- start header -->
<header>
    <div class="container ">
        <div class="row">
            <div class="span2">
                <div class="logo">
                    <h3>Web Portal</h3>
                </div>
            </div>
            <div class="span10">
                <div class="navbar navbar-static-top">
                    <div class="navigation">
                        <nav>
                            <ul class="nav topnav navbar-location">
                                @foreach (var level1 in Model.listMenu.Where(level1 => level1.MenuCode.Length == 2).OrderBy(level1 => level1.MenuCode))
                                {
                                    if (Model.listMenu.Where(checkLv2 => checkLv2.MenuCode.Length == 5 && checkLv2.MenuParent == level1.MenuCode).ToList().Count != 0)
                                    {
                                    <li class="dropdown">
                                        @*<a href="@level1.MenuURL.Replace("/Index", "")">@level1.MenuName <i class="icon-angle-down"></i></a>*@
                                        <a href="@level1.MenuURL">@level1.MenuName <i class="icon-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            @foreach (var level2 in Model.listMenu.Where(level2 => level2.MenuCode.Length == 5 && level2.MenuParent == level1.MenuCode).OrderBy(level2 => level2.MenuCode))
                                            {
                                                if (Model.listMenu.Where(checkLv3 => checkLv3.MenuCode.Length == 8 && checkLv3.MenuParent == level2.MenuCode).ToList().Count != 0)
                                                {
                                                <li class="dropdown">
                                                    @*<a href="@level2.MenuURL.Replace("/Index", "")">@level2.MenuName <i class="icon-angle-right"></i></a>*@
                                                    <a href="@level2.MenuURL">@level2.MenuName <i class="icon-angle-right"></i></a>
                                                    <ul class="dropdown-menu sub-menu-level1">
                                                        @foreach (var level3 in Model.listMenu.Where(level3 => level3.MenuCode.Length == 8 && level3.MenuParent == level2.MenuCode).OrderBy(level3 => level3.MenuCode))
                                                        {
                                                            <li>
                                                                @*<a href="@level3.MenuURL.Replace("/Index", "")">@level3.MenuName @if (level3.MenuName == "FAQ")*@
                                                                <a href="@level3.MenuURL">@level3.MenuName @if (level3.MenuName == "FAQ")
                                                                                                                                 {
                                                                                                                                     if (Model.newFAQ)
                                                                                                                                     { <i class="icon-exclamation-sign"></i> }
                                                                                                                                 }
                                                                                                                                 else if (level3.MenuName == "Tutorial")
                                                                                                                                 {
                                                                                                                                     if (Model.newTutorial)
                                                                                                                                     { <i class="icon-exclamation-sign"></i> }
                                                                                                                                 }
                                                                                                                                 else if (level3.MenuName == "Document")
                                                                                                                                 {
                                                                                                                                     if (Model.newDocument)
                                                                                                                                     { <i class="icon-exclamation-sign"></i> }
                                                                                                                                 }
                                                                                                                                 else if (level3.MenuName == "Changes")
                                                                                                                                 {
                                                                                                                                     if (Model.newChanges)
                                                                                                                                     { <i class="icon-exclamation-sign"></i> }
                                                                                                                                 } </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                                }
                                                else
                                                {
                                                <li>
                                                    @*<a href="@level2.MenuURL.Replace("/Index", "")">@level2.MenuName @if (level2.MenuName == "FAQ" && level1.MenuName != "Management")*@
                                                    <a href="@level2.MenuURL">@level2.MenuName @if (level2.MenuName == "FAQ" && level1.MenuName != "Management")
                                                                                                                     {
                                                                                                                         if (Model.newFAQ)
                                                                                                                         { <i class="icon-exclamation-sign"></i> }
                                                                                                                     }
                                                                                                                     else if (level2.MenuName == "Tutorial" && level1.MenuName != "Management")
                                                                                                                     {
                                                                                                                         if (Model.newTutorial)
                                                                                                                         { <i class="icon-exclamation-sign"></i> }
                                                                                                                     }
                                                                                                                     else if (level2.MenuName == "Document" && level1.MenuName != "Management")
                                                                                                                     {
                                                                                                                         if (Model.newDocument)
                                                                                                                         { <i class="icon-exclamation-sign"></i> }
                                                                                                                     }
                                                                                                                     else if (level2.MenuName == "Changes")
                                                                                                                     {
                                                                                                                         if (Model.newChanges)
                                                                                                                         { <i class="icon-exclamation-sign"></i> }
                                                                                                                     } </a>
                                                </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                    }
                                    else
                                    {
                                    <li>
                                        @*<a href="@level1.MenuURL.Replace("/Index", "")">@level1.MenuName @if (level1.MenuName == "FAQ")*@
                                        <a href="@level1.MenuURL">@level1.MenuName @if (level1.MenuName == "FAQ")
                                                                                                         {
                                                                                                             if (Model.newFAQ)
                                                                                                             { <i class="icon-exclamation-sign"></i> }
                                                                                                         }
                                                                                                         else if (level1.MenuName == "Tutorial")
                                                                                                         {
                                                                                                             if (Model.newTutorial)
                                                                                                             { <i class="icon-exclamation-sign"></i> }
                                                                                                         }
                                                                                                         else if (level1.MenuName == "Document")
                                                                                                         {
                                                                                                             if (Model.newDocument)
                                                                                                             { <i class="icon-exclamation-sign"></i> }
                                                                                                         }
                                                                                                         else if (level1.MenuName == "Changes")
                                                                                                         {
                                                                                                             if (Model.newChanges)
                                                                                                             { <i class="icon-exclamation-sign"></i> }
                                                                                                         } </a>
                                    </li>
                                    }
                                }
                                @if (Session["UserLevel"] != null)
                                {
                                    if (Session["UserLevel"].ToString() == "99")
                                    {
                                    <li class="dropdown">
                                        <a href="#"><i class="icon-cogs"></i><i class="icon-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="/User/Index">User </a>
                                            </li>
                                            <li>
                                                <a href="/UserGroup/Index">User Group </a>
                                            </li>
                                            <li>
                                                <a href="/Project/Index">Project </a>
                                            </li>
                                        </ul>
                                    </li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                    <!-- end navigation -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
