﻿@model WebPortal.Models.MenuMapping
@{  
    ViewBag.Title = "Web Portal | Edit Permission";  
}
@{
    int urut = 1;
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit Permission</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <a href="/UserGroup/Index" class="btn btn-purple" onclick="return confirm('Are you wish to discard this changes?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span2 form-group">
                            <h6>User Group : </h6>
                        </div>
                        <div class="span4 form-group">
                            @Html.Hidden("UserLevel", Model.UserLevel, new { @id = "UserLevel" })
                            @Html.TextBox("Description", Model.Description, new { @id = "Description", @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">
                            <table class="table table-striped">
                                <tbody>
                                    @foreach (var menu in Model.listMenu.Where(w => w.MenuCode.Length == 2))
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="checkbox item-@urut" name="@menu.MenuCode" checked="@menu.Checker" style="margin-top:-2px"/>
                                                @menu.MenuName
                                            </td>
                                        </tr>
                                        
                                        foreach (var menuLv2 in Model.listMenu.Where(w => w.MenuCode.Length == 5 && w.MenuCode.Substring(0, 2) == menu.MenuCode))
                                        {
                                        <tr>
                                            <td style="padding-left: 50px">
                                                <input type="checkbox" class="checkbox itemLv2-@urut" name="@menuLv2.MenuCode" checked="@menuLv2.Checker" style="margin-top:-2px"/>
                                                @menuLv2.MenuName
                                            </td>
                                        </tr>
                                        
                                            foreach (var menuLv3 in Model.listMenu.Where(w => w.MenuCode.Length == 8 && w.MenuCode.Substring(0, 5) == menuLv2.MenuCode))
                                            {
                                            <tr>
                                                <td style="padding-left: 100px">
                                                    <input type="checkbox" class="checkbox itemLv3-@urut" name="@menuLv3.MenuCode" checked="@menuLv3.Checker" style="margin-top:-2px"/>
                                                    @menuLv3.MenuName
                                                </td>
                                            </tr>
                                            }
                                        }
                                        { urut++; }
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                <p class="text-center">
                                    <button type="button" class="btn btn-large btn-theme margintop10" onclick="savePermission()">Save</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function savePermission() {
        var CheckedMenuInfo = [];
        var UnCheckedMenuInfo = [];

        $('.checkbox:checked').each(function () {
            var _checkedMenu = {};
            _checkedMenu.MenuCode = $(this).attr("name");
            CheckedMenuInfo.push($(this).attr("name"));
        });

        $('.checkbox:not(:checked)').each(function () {
            var _uncheckedMenu = {};
            _uncheckedMenu.MenuCode = $(this).attr("name");
            UnCheckedMenuInfo.push($(this).attr("name"));
        });

        var submitMenuMapping = {
            UserLevel: $("#UserLevel").val(),
            CheckedMenu: CheckedMenuInfo,
            UnCheckedMenu: UnCheckedMenuInfo
        };

        $.ajax({
            type: "POST",
            url: "/UserGroup/EditPermission",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(submitMenuMapping),
            cache: false,
            success: function (data) {
                if (data == 'Success') {
                    window.location.href = '@Url.Action("Index", "UserGroup")';
                } else {
                    alert(result);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.responseText);
                alert("Error has occurred.");
            }
        });
    }

    $(function () {
        for (var i = 1; i < '@urut'; i++) {
            var className = '.item-' + i;

            $(className).click(function () {
                var classFullName = $(this).attr("class").substring(9);
                var res = classFullName.split("-");

                var classNameLv2 = '.' + res[0] + 'Lv2-' + res[1];

                if ($(this).is(':checked')) {
                    $(classNameLv2).attr("checked", true);
                } else {
                    $(classNameLv2).attr("checked", false);
                }
            });
        }
    });
</script>
