﻿@model WebPortal.Model.T_MsUserGroup
@{
    ViewBag.Title = "Web Portal | Edit User Group";
}


<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Edit User Group</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/UserGroup/Index" class="btn btn-purple" onclick="return confirm('Are you wish to discard this changes?');"><i class="icon-chevron-left"></i>Back</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @using (Html.BeginForm("EditUserGroup", "UserGroup", FormMethod.Post, new { @class = "contactForm", @enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="span3 form-group">
                                <h6>User Group Code : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.UserLevel, new { @id = "UserLevel", @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3 form-group">
                                <h6>Description : </h6>
                            </div>
                            <div class="span4 form-group">
                                @Html.TextBoxFor(model => model.Description, new { @id = "Description", @class = "form-control", @placeholder = "*Description" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @style = "color: #a94442;" })
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-center">
                                <button class="btn btn-large btn-theme margintop10" type="submit">Edit User Group</button>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });



</script>
