﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | Help";
}

<body>
    <div id="wrapper">
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="inner-heading">
                            <h2>Help</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <div class="inner-heading">
                            @using (Html.BeginForm("Index", "Help", FormMethod.Post))
                            {
                                @Html.TextBoxFor(m => m.stringSearch, new { Style = "margin-bottom:0; width:704px", @class = "span8", @placeholder = "search keyword..." })
                                <button type="submit" class="btn btn-medium icon-search"></button>
                            }
                        </div>
                        @foreach (var question in Model.listQuestion)
                        {
                            <article style="margin-bottom: 0px">
                                <div class="row" style="margin-bottom: 0px">
                                    <div class="span8">
                                        <div class="post-heading">
                                            <h4 style="margin-bottom: 0px"><a href="/Help/ViewFAQ/?Id=@question.HelpId">@question.Topic @(question.IsClosed ? "(Thread Closed)" : "")</a></h4>
                                            <p>@question.PostBy - @question.PostDate.ToString("dd MMM yyyy - HH:mm:ss")</p>
                                            <div class="post-heading">
                                                <p style="margin-top: 20px">@question.Question</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 0px">
                                    <div class="span8">
                                        <div class="solidline">
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }

                        <div id="pagination">
                            @if (Model.toFirst)
                            {
                                <a href="/Help/Index/?Page=1" class="inactive"><<</a>
                            }

                            @for (int i = Model.startPage; i <= Model.endPage; i++)
                            {
                                if (i == Model.currentPage)
                                {
                                <span class="current">@i</span>
                                }
                                else
                                {
                                <a href="/Help/Index/?Page=@i" class="inactive">@i</a>
                                }
                            }

                            @if (Model.toLast)
                            {
                                <a href="/Help/Index/?Page=@Model.totalPages" class="inactive">>></a>
                            }
                        </div>
                    </div>
                    <div class="span4">
                        <aside class="right-sidebar">

                            <div class="widget">
                                <h5 class="widgetheading">Latest Questions</h5>
                                <ul class="recent">
                                    @foreach (var latest in Model.listLatestQuestion)
                                    {
                                        <li>
                                            <h6><a href="/Help/ViewFAQ/?Topic=@latest.Id">@latest.Topic</a></h6>
                                            <p>
                                                @latest.Question
                                            </p>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <section id="bottom">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="aligncenter">
                            <div id="twitter-wrapper">
                                <div id="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

</body>

