﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | Help";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="inner-heading">
                    <h2>Help</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span8">
                <a href="/Help/Index" class="btn btn-purple"><i class="icon-chevron-left"></i>Back</a>
                <div style="margin-bottom: 15px"></div>
                <article>
                    <div class="row">
                        <div class="span8">  
                            <div class="post-image">
                                <div class="post-heading">
                                    <h3><a href="#">@Model.question.Topic @(Model.question.IsClosed ? "(Thread Closed)" : "")</a></h3>
                                </div>
                            </div>
                            <p>
                                @Model.question.Question
                            </p>
                            <div class="bottom-article">
                                <ul class="meta-post">
                                    <li><i class="icon-calendar"></i><a href="#">@Model.question.PostDate.ToString("dd MMM yyyy - hh:mm:ss")</a></li>
                                    <li><i class="icon-user"></i><a href="#">@Model.question.PostBy</a></li>
                                    <li><i class="icon-user"></i><a href="#">Close Thread</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="comment-area">
                    <h4>@Model.question.listAnswer.Count Answers</h4>
                    @if (Model.question.listAnswer.Count > 0)
                    {
                        foreach (var qdetail in Model.question.listAnswer)
                        {
                        <div class="media">
                            <a href="#" class="thumbnail pull-left">
                                <img src="img/avatar.png" alt="" /></a>
                            <div class="media-body">
                                <div class="media-content">
                                    <h6><span>@qdetail.PostDate.ToString("dd MMM yyyy - HH:mm:ss")</span> @qdetail.PostBy</h6>
                                    @foreach (string qdetailsplit in qdetail.Answer.Split(';'))
                                    {
                                        if (qdetailsplit != "")
                                        {
                                        <p>
                                            @qdetailsplit
                                        </p>
                                        }
                                        else
                                        {
                                        <br />   
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        }
                    }
                    else
                    {
                        <div class="media">
                            <div class="media-body">
                                <div class="media-content">
                                    <h6>There are currently no answer</h6>
                                </div>
                            </div>
                        </div>
                    }

                    @if (!Model.question.IsClosed)
                    {
                        <h4>Give Your Answer</h4>
                        using (Html.BeginForm("Answer", "Help", FormMethod.Post, new { @class = "comment-form" }))
                        {
                        <div class="row">
                            <div class="span8 margintop10">
                                <p>
                                    @Html.TextAreaFor(model => model.questionDetail.Answer, new { @class = "input-block-level", @rows = 12, @style = "resize:none;", @maxlength = 1024, @placeholder = "*Answer (max 1024 characters)" })
                                    @Html.ValidationMessageFor(model => model.questionDetail.Answer, "", new { @style = "color: #a94442;" })
                                </p>
                                <p>
                                    @Html.HiddenFor(model => model.questionDetail.HelpId, new { Value = Model.question.HelpId })
                                    <button class="btn btn-theme margintop10" type="submit">Submit Answer</button>
                                </p>
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section id="bottom">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="aligncenter">
                    <div id="twitter-wrapper">
                        <div id="twitter">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
