﻿.override-input-err {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.override-input-suc {
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;*/
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}

.errUserId, .errPassword {
    display: block;
    margin-top: -20px;
}

.errChangePasswordNew, .errChangePasswordRenew {
    display: block;
}

.errRegisterEmail, .errRegisterPassword, .errConfirmPassword, .errMasterDataBankId, .errMasterDataCountryId, .errMasterDataRegionId {
    display: block;
    margin-top: -20px;
}

.bp_slct_err_bank_name, .bp_slct_err_currency, .bp_slct-err-bs-paymnt-top, .errIdCardNumber {
    display: block;
    margin-top: -25px;
}

.bp_opt-err-bs-paymnt-mtd {
    display: block;
    margin-top: -25px;
    margin-left: 15px;
}

.bp_inpt_err_area, .bp_inpt_err_city, .bp_inpt_err_account_name, .bp_inpt_err_account_number {
    margin-top: -8px;
}

#grid_bs-fld-pymnt-mthd_wrapper {
    margin-top: -10px;
}

.inpt_err_nib, .inpt_err_buss_permit, .inpt_err_siup, .inpt_err_tdp, .inpt_err_memo_of_asso, .inpt_err_decs_ltr_men_kum_ham, .vl_err_signer_name,
#tax_err_inpt_npwp, #tax_err_inpt_pkp {
    margin-top: -4.5px !important;
}

.slct_err_mgm_strc, .vl_err_signer_id, #tax_err_slct_npwp, #tax_err_slct_pkp, #tax_err_slct_bkp, #tax_err_slct_bkp_free_ppn {
    display: block;
    margin-top: -21px;
}

.inpt_err_mgm_strc, #bussEthcs_err, #mstrAgreement_err, #inpt_err_siupExpDate, #inpt_err_tdpExpDate {
    display: block;
    margin-top: -4.5px !important;
}

/* Attachment File */
#inpt_file_Type_nib, #inpt_file_nib,
#inpt_file_buss_Type_permit, #inpt_file_buss_permit,
#inpt_file_Type_siup, #inpt_file_siup,
#inpt_file_size_Type_siup, #inpt_file_size_siup,
#inpt_file_Type_tdp, #inpt_file_tdp,
#inpt_file_Type_memo_asso, #inpt_file_memo_asso,
#inpt_file_Type_dcs_ltr, #inpt_file_dcs_ltr,
#inpt_file_Type_memo_of_asso_chng, #inpt_file_memo_of_asso_chng,
#inpt_file_Type_decs_ltr_menhukam_chng, #inpt_file_decs_ltr_menhukam_chng,
#inpt_file_Type_signer_file, #inpt_file_signer_file,
#inpt_file_upload, #inpt_file_upload, #errBankAttachFile,
#inpt_file_other_doc_file, #inpt_file_Type_other_doc_file {
    display: block !important;
    margin-top: -2.5px !important;
    margin-left: 5px;
}


.md-form-custom .input-custom {
    margin-bottom: 20px;
}

.file-path {
    cursor: pointer
}

.file-path:hover {
    color: #cc1023;
}

.btn.btn-green.color-custom {
    color: white;
}

.position-absolute .removeFile {
    color: #0a58d1 !important;
}

.popover-navigation button[data-role="end"] {
    color: white;
}

@media (min-width: 1024px)  {
    main.main-body-blogs {
        margin-top: 100px;
    }
}

@media (max-width: 1024px) {
    header.header-body-blogs {
        height: 8vh;
    }
}