﻿@model WebPortal.Models.PagingAndGroup
@{
    ViewBag.Title = "Web Portal | User List";
}

<div id="wrapper">
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>User List</h2>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a href="/User/AddUser" class="btn btn-theme">Add New User</a>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <table class="table table-striped" id="UserTable">
                        <thead>
                            <tr>
                                <th>User Id
                                </th>
                                <th>User Name
                                </th>
                                <th>Email
                                </th>
                                <th>User Level
                                </th>
                                <th>Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listUser)
                            {
                                <tr>
                                    <td style="width: 25%">@Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td style="width: 25%">@Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td style="width: 25%">@Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td style="width: 10%">@Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td style="width: 15%"><a href="/User/EditUser/?UserId=@item.UserId" class="btn btn-green"><i class="icon-edit"></i></a>&nbsp<a href="/User/DeleteUser/?UserId=@item.UserId" class="btn btn-red" onclick = "return confirm('Are you wish to delete this user?');"><i class="icon-trash"></i></a>
                                    </td>
                                </tr>                                  
                            }
                        </tbody>
                    </table>

                    <div id="pagination">
                        @if (Model.toFirst)
                        {
                            <a href="/User/Index/?Page=1" class="inactive"><<</a>
                        }

                        @for (int i = Model.startPage; i <= Model.endPage; i++)
                        {
                            if (i == Model.currentPage)
                            {
                            <span class="current">@i</span>
                            }
                            else
                            {
                            <a href="/User/Index/?Page=@i" class="inactive">@i</a>
                            }
                        }

                        @if (Model.toLast)
                        {
                            <a href="/User/Index/?Page=@Model.totalPages" class="inactive">>></a>
                        }
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section id="bottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div id="twitter-wrapper">
                            <div id="twitter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var tempMessage = '@TempData["Message"]';

        if (tempMessage != '') {
            $.notify({
                // options
                message: tempMessage
            }, {
                // settings
                type: 'success'
            });
        }
    });

</script>


